<div class="mt-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row  align-items-start">
            <div class="col-2">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" formControlName="date">
            </div>
            <div class="col-3">
                <label for="booking">Type d'opération</label>
                <select class="form-control" id="op_class" formControlName="op_class">
                    <option value="undefined" hidden disabled>néant</option>
                    <option *ngFor="let op_class of op_classes" [value]="op_class">
                        {{op_class}}
                    </option>
                </select>
            </div>
            <div *ngIf="bookings" class="col-3">
                <ng-template [ngTemplateOutlet]="select_booking"></ng-template>
            </div>
        </div>

        <div *ngIf="selected_booking ">
            <div class="row">
                <div class="col-3">
                    <ng-template [ngTemplateOutlet]="label"></ng-template>
                </div>
                <div *ngIf="selected_booking.nominative" class="col-3">
                    <ng-template [ngTemplateOutlet]="member"></ng-template>
                </div>
            </div>

            <div [ngSwitch]="selected_booking.class">
                <div *ngSwitchCase="OPERATION_CLASSES.EXPENSE">
                    <ng-template [ngTemplateOutlet]="expense"></ng-template>
                </div>

                <div *ngSwitchCase="OPERATION_CLASSES.OTHER_REVENUE">
                    <ng-template [ngTemplateOutlet]="revenue"></ng-template>
                </div>
                <div *ngSwitchCase="OPERATION_CLASSES.MOVEMENT">
                    <div class="col-2 ">
                        <label for="amount">Montant</label>
                        <input type="text" class="form-control" formControlName="total">
                    </div>
                </div>
            </div>

            <ng-template *ngIf="booking === BOOKING_IDS.cheque_deposit || booking === BOOKING_IDS.cheque_emit"
                [ngTemplateOutlet]="cheque_definition">
            </ng-template>
        </div>


        <div class="col-3">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary mt-2">Créer</button>
        </div>



        <!-- formulaire intitulé -->
        <ng-template #label>
            <label for="label">Intitulé</label>
            <input type="text" class="form-control" formControlName="label">
        </ng-template>

        <!-- formulaire adhérent -->
        <ng-template #member>
            <label for="member">Adhérent</label>
            <input class="form-control " list="members" formControlName="member">
            <datalist id="members">
                <option *ngFor="let member of members">{{member.lastname}} {{member.firstname}}</option>
            </datalist>
        </ng-template>

        <!-- formulaire écriture  -->
        <ng-template #select_booking>
            <label for="booking">Opération</label>
            <div class="form-check" *ngFor="let booking of bookings">
                <input class="form-check-input" type="radio" [value]="booking" formControlName="booking">
                <label class="form-check-label" for="booking">
                    {{booking}}
                </label>
            </div>
        </ng-template>

        <!-- formulaire dépense -->
        <ng-template #expense>
            <div class="row align-items-end">
                <div class="col-2 ">
                    <label for="amount">Montant</label>
                    <input type="number" class="form-control" formControlName="total">
                </div>
                <div class="col-10">
                    <div formArrayName="values" class="row  align-items-end">
                        <div class="col g-1" *ngFor="let account of expenses_accounts ; let i = index">
                            <label for="values">{{account}}</label>
                            <input type="text" class="form-control" [formControlName]="i" [id]="'expense' + i">
                            <div *ngIf="form.get('expenses')?.get(i.toString())?.invalid" class="text-danger">
                                <small>Le montant doit être un nombre</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- formulaire recette -->
        <ng-template #revenue>
            <div class="row align-items-end">
                <div class="col-2 ">
                    <label for="amount">Montant</label>
                    <input type="number" class="form-control" formControlName="total">
                </div>
                <div class="col-10">
                    <div formArrayName="values" class="row  align-items-end">
                        <div class="col g-1" *ngFor="let account of revenues_accounts ; let i = index">
                            <label for="values">{{account}}</label>
                            <input type="text" class="form-control" [formControlName]="i" [id]="'expense' + i">
                            <div *ngIf="form.get('expenses')?.get(i.toString())?.invalid" class="text-danger">
                                <small>Le montant doit être un nombre</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- formulaire chèque -->
        <ng-template #cheque_definition>
            <div class="row align-items-end">
                <div class="col-2">
                    <label for="bank_name">Banque</label>
                    <select class="form-control" formControlName="bank_name" required>
                        <option *ngFor="let bank of banks " [value]="bank.key">
                            {{bank.name}}
                        </option>
                    </select>
                </div>
                <div class="col-2">
                    <label for="cheque_number">n° de chèque</label>
                    <input type="text" class="form-control" id="cheque_number" formControlName="cheque_number">
                </div>
            </div>
        </ng-template>
        <!-- formulaire chèque Club -->
        <ng-template #cheque_club>
            <div class="row align-items-end">
                <div class="col-2">
                    <label for="bank_name">Banque</label>
                    <input readonly class="form-control" formControlName="bank_name">
                </div>
                <div class="col-2">
                    <label for="cheque_number">n° de chèque</label>
                    <input type="text" class="form-control" id="cheque_number" formControlName="cheque_numberf">
                </div>
            </div>
        </ng-template>
    </form>
</div>