<div class="mt-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row  align-items-end">
            <div class="col-2">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" formControlName="date">
            </div>
            <div class="col-3">
                <label for="bank_op_type">Type d'opération</label>
                <select class="form-control" id="op_class" formControlName="op_class">
                    <!-- <option value="undefined" hidden disabled>néant</option> -->
                    <option *ngFor="let op_class of op_classes" [value]="op_class">
                        {{op_class}}
                    </option>
                </select>
            </div>
        </div>

        <div [ngSwitch]="op_class">
            <div *ngSwitchCase="OPERATION_CLASSES.EXPENSE">
                <ng-template [ngTemplateOutlet]="expense"></ng-template>
                <div class="col-6">
                    <ng-template [ngTemplateOutlet]="label"></ng-template>
                </div>
                <div class="col-3">
                    <ng-template [ngTemplateOutlet]="payment_mode"></ng-template>
                </div>
                <ng-template *ngIf="bank_op_type === BANK_OP_TYPES.cheque_emit" [ngTemplateOutlet]="cheque_club">
                </ng-template>
            </div>

            <div *ngSwitchCase="OPERATION_CLASSES.OTHER_REVENUE">
                <ng-template [ngTemplateOutlet]="revenue"></ng-template>
                <div class="col-6">
                    <ng-template [ngTemplateOutlet]="label"></ng-template>
                </div>
                <div class="col-3">
                    <ng-template [ngTemplateOutlet]="payment_mode"></ng-template>
                </div>
                <ng-template *ngIf="bank_op_type === BANK_OP_TYPES.cheque_deposit"
                    [ngTemplateOutlet]="cheque_definition">
                </ng-template>
            </div>

        </div>


        <div class="col-3">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary mt-2">Créer</button>
        </div>

        <!-- formulaire intitulé -->
        <ng-template #label>
            <label for="label">Intitulé</label>
            <input type="text" class="form-control" formControlName="label">
        </ng-template>

        <!-- formulaire moyen de réglement -->
        <ng-template #payment_mode>
            <label for="bank_op_type">Moyen de réglement</label>
            <div class="form-check" *ngFor="let bank_op_type of bank_op_types">
                <input class="form-check-input" type="radio" [value]="bank_op_type" formControlName="bank_op_type">
                <label class="form-check-label" for="bank_op_type">
                    {{bank_op_type}}
                </label>
            </div>
        </ng-template>

        <!-- formulaire dépense -->
        <ng-template #expense>
            <div class="row align-items-end">
                <div class="col-2 ">
                    <label for="amount">Montant</label>
                    <input type="number" class="form-control" formControlName="total">
                </div>
                <div class="col-10">
                    <div formArrayName="values" class="row  align-items-end">
                        <div class="col g-1" *ngFor="let account of expenses_accounts ; let i = index">
                            <label for="values">{{account}}</label>
                            <input type="text" class="form-control" [formControlName]="i" [id]="'expense' + i">
                            <div *ngIf="form.get('expenses')?.get(i.toString())?.invalid" class="text-danger">
                                <small>Le montant doit être un nombre</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- formulaire recette -->
        <ng-template #revenue>
            <div class="row align-items-end">
                <div class="col-2 ">
                    <label for="amount">Montant</label>
                    <input type="number" class="form-control" formControlName="total">
                </div>
                <div class="col-10">
                    <div formArrayName="values" class="row  align-items-end">
                        <div class="col g-1" *ngFor="let account of revenues_accounts ; let i = index">
                            <label for="values">{{account}}</label>
                            <input type="text" class="form-control" [formControlName]="i" [id]="'expense' + i">
                            <div *ngIf="form.get('expenses')?.get(i.toString())?.invalid" class="text-danger">
                                <small>Le montant doit être un nombre</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- formulaire chèque -->
        <ng-template #cheque_definition>
            <div class="row align-items-end">
                <div class="col-2">
                    <label for="bank_name">Banque</label>
                    <select class="form-control" formControlName="bank_name" required>
                        <option value="undefined" hidden disabled>banque</option>
                        <option *ngFor="let bank of banks " [value]="bank.key">
                            {{bank.name}}
                        </option>
                    </select>
                </div>
                <div class="col-2">
                    <label for="cheque_ref">n° de chèque</label>
                    <input type="text" class="form-control" id="cheque_ref" formControlName="cheque_ref">
                </div>
            </div>
        </ng-template>
        <!-- formulaire chèque Club -->
        <ng-template #cheque_club>
            <div class="row align-items-end">
                <div class="col-2">
                    <label for="bank_name">Banque</label>
                    <input readonly class="form-control" formControlName="bank_name">
                </div>
                <div class="col-2">
                    <label for="cheque_ref">n° de chèque</label>
                    <input type="text" class="form-control" id="cheque_ref" formControlName="cheque_ref">
                </div>
            </div>
        </ng-template>
    </form>
</div>