.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
  color: #333;
}

.legend-symbol {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
}

.legend-point {
  display: inline-block;
}

.chart-container {
  flex: 1 1 auto;
  min-height: 200px;
  height: auto;
  
  canvas {
    max-width: 100%;
    max-height: 100%;
    height: 100% !important;
    width: 100% !important;
  }
}

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  /* Correction pour garder la légende dans la card */
  overflow: hidden;
}

.card-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.d-inline-flex.border {
  flex-shrink: 0;
  margin-bottom: 0.5rem;
}



