<form [formGroup]="form">
    <div class="modal-header">
        <!-- <div class="col-12"> -->
        <h5>Editeur écriture</h5>
        <div class="col  text-end">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="close()"></button>
        </div>
        <!-- </div> -->
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="text" id="date" formControlName="date" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="op_class" class="form-label">Opération</label>
            <input type="op_class" id="op_class" formControlName="class" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="bank_op_type" class="form-label">Ecriture</label>
            <input type="bank_op_type" id="bank_op_type" formControlName="bank_op_type" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="label" class="form-label">Intitulé</label>
            <input type="label" id="label" formControlName="label" class="form-control" />
        </div>
    </div>
    <button [disabled]="!form.valid " type="submit" class="btn btn-primary btn-sm align-self-end"
        (click)="got_it()">OK</button>
</form>