<div class="container">
    <form [formGroup]="systemFormGroup">

        <div *ngIf="loaded" class="card mt-2">
            <div class="card-header">
                <div class="row justify-content-around">
                    <div class="col-md-6">
                        <h5>paramétrage applications</h5>
                    </div>
                    <div class="col-md-6 text-end">
                        <div class="row">
                            <div class="col">
                                <button class=" btn btn-outline-success btn-sm">
                                    <i class=" bi-file-earmark-arrow-up-fill"></i>
                                    <a [href]="fileUrl" style="text-decoration: none; color: var(--bs-success);"
                                        download="conf.txt">export
                                        .txt</a>
                                </button>
                            </div>
                            <div class="col">
                                <button class=" btn btn-outline-success btn-sm" (click)="fileInput.click()">
                                    <i class=" bi-file-earmark-arrow-down-fill"></i>
                                    import.txt</button>
                                <input #fileInput type="file" style="display:none" class="form-control form-control-sm"
                                    (change)="onInput($event)">
                            </div>
                            <div class="col">
                                <button class=" btn btn-outline-success btn-sm" (click)="save_configuration()">
                                    <i class="bi-cloud-arrow-up-fill"></i>
                                    sauvegarder</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <!-- paramètres divers -->
                <div class="card  mt-2">
                    <h5 class="card-header">divers</h5>
                    <div class="card-body">

                        <div class="row mt-2">

                            <div class="col-md-6">
                                <div class="card">
                                    <h6 class="card-header">développeur</h6>
                                    <div class="card-body">
                                        <div class="input-group ">
                                            <span class="input-group-text">dev</span>
                                            <input type="text" class="form-control" formControlName="dev_mode">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card">
                                    <h6 class="card-header">prix (€) tournoi (utiliser un . et non une ,)</h6>
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col input-group ">
                                                <span class="input-group-text">adhérent</span>
                                                <input type="text" class="form-control"
                                                    formControlName="member_trn_price">
                                            </div>
                                            <div class="col input-group ">
                                                <span class="input-group-text">non adhérent</span>
                                                <input type="text" class="form-control"
                                                    formControlName="non_member_trn_price">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- paramètres comptabilité -->
                <div class="card mt-2">
                    <h5 class="card-header">comptabilité</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 pe-3">
                                <div class="input-group">
                                    <span class="input-group-text">saison</span>
                                    <input type="text" class="form-control" formControlName="season">
                                </div>
                            </div>
                            <div class="offset-3 col-md-6 pe-3">
                                <div class="row  align-items-center">
                                    <div class="col-4">
                                        <div class="input-group">
                                            <span class="input-group-text">banque Club</span>
                                            <input type="text" class="form-control" formControlName="club_bank_key">
                                        </div>
                                    </div>
                                    <div class="col">{{get_club_bank()}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="card">
                                    <h6 class="card-header">comptes de charge</h6>
                                    <div class="card-body">

                                        <div formArrayName="charge_accounts">

                                            <div *ngFor="let charge_account of charge_accounts.controls; let i = index">
                                                <div class="row " [formGroupName]=" i">
                                                    <div class="col-4">
                                                        <div class=" input-group">
                                                            <span class="input-group-text">code</span>
                                                            <input type="text" class="form-control"
                                                                formControlName="key">
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class=" input-group">
                                                            <span class="input-group-text">description</span>
                                                            <input type="text" class="form-control"
                                                                formControlName="description">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <h6 class="card-header">comptes de produit</h6>
                                    <div class="card-body">

                                        <div formArrayName="product_accounts">

                                            <div
                                                *ngFor="let product_account of product_accounts.controls; let i = index">
                                                <div class="row " [formGroupName]=" i">
                                                    <div class="col-4">
                                                        <div class=" input-group">
                                                            <span class="input-group-text">code</span>
                                                            <input type="text" class="form-control"
                                                                formControlName="key">
                                                        </div>
                                                    </div>
                                                    <div class="col-8">

                                                        <div class=" input-group">
                                                            <span class="input-group-text">description</span>
                                                            <input type="text" class="form-control"
                                                                formControlName="description">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="card mt-2">
                            <h6 class="card-header">codes banques</h6>
                            <div class="card-body">
                                <div class="row " formArrayName="banks">
                                    <div class="col-md-4" *ngFor="let bank of banks.controls; let i = index">
                                        <div class="input-group" [formGroupName]=" i">
                                            <span class="input-group-text">#</span>
                                            <input type="text" class="form-control" formControlName="key">
                                            <input type="text" class="form-control" formControlName="name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- paramètres UE site -->
                <div class="card mt-2">
                    <h5 class="card-header">site</h5>
                    <div class="card-body">
                        <h6> recadrage des vignettes stockées du site</h6>
                        <div class="row" formGroupName="thumbnail">
                            <div class="col input-group">
                                <span class="input-group-text">largeur (en pixel)</span>
                                <input type="text" class="form-control" formControlName="width">
                            </div>
                            <div class="col input-group">
                                <span class="input-group-text">hauteur (en pixel)</span>
                                <input type="text" class="form-control" formControlName="height">
                            </div>
                            <div class="col input-group">
                                <span class="input-group-text">ratio</span>
                                <input type="text" class="form-control" formControlName="ratio">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>