<div class="card" *ngIf="teams">
    <div class="card-header">
        <div class="row">
            <div class="col-11">

                <p class="card-title">{{tournament_name}}</p>
            </div>
            <div class="col-1">

                <button type="button" class="btn-close" aria-label="Close" (click)="exit()"></button>
            </div>
            <!-- <i class="bi bi-x-circle-fill" (click)="exit()"></i> -->
        </div>
    </div>
    <div class="card-body">
        <table class="table table-borderless table-sm">
            <thead>
                <tr>
                    <th class="col-1"></th>
                    <th class="col-4"></th>
                    <th class="col-4"></th>
                    <th class="col-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of teams,let i=index">
                    <td>{{i+1}}</td>
                    <td *ngFor="let player of team.players">
                        <!-- <span *ngIf="player.person.gender==1;else madame"> M. </span>
                        <ng-template #madame> Mme </ng-template> -->
                        {{player.person.firstname}}
                        {{player.person.lastname | uppercase}}
                    </td>
                    <ng-container *ngIf="team.is_isolated_player">
                        <td></td>
                        <td *ngIf="subscription_authorized" class="text-start align-content-center">
                            <button [disabled]="!whoAmI" class="btn btn-sm btn-primary"
                                (click)="completeTeam(team.players[0])">completer
                                l'équipe</button>
                        </td>
                    </ng-container>
                    <td>
                        <div class=" text-center">
                            <button *ngIf="is_in_team(whoAmI?.license_number,team)" (click)="deleteTeam(team)"
                                class="btn btn-sm  bg-warning">
                                Supprimer l'équipe
                                <!-- <i *ngIf="is_in_team(whoAmI?.license_number,team)" (click)="deleteTeam(team)"
                                class="fa-solid fa-trash-can h-75" style="color:red"></i> -->
                            </button>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="subscription_authorized" class="table-primary table-sm">
                    <td class="align-content-center">{{teams.length + 1}}</td>
                    <td class="align-content-center">
                        {{whoAmI?.firstname}} {{whoAmI?.lastname}}
                    </td>
                    <td>
                        <app-input-player listeId="player2" type="text" class="form-control form-control-sm"
                            [formControl]="player2" required>
                        </app-input-player>
                        <span *ngIf="player2.errors?.['already_engaged'] && player2.touched" class="text-danger">Ce
                            joueur est déjà inscrit</span>
                    </td>
                    <td class="col-3">
                        <div class="row justify-content-around">
                            <div class="col-auto">
                                <button [disabled]="player2.hasError" class="btn btn-primary btn-sm"
                                    (click)="subscribeWithPlayer2()">
                                    <i class="fa-solid fa-people-arrows"></i>
                                </button>
                            </div>
                            <div class="col-auto">
                                <button [disabled]="player2.touched" class="btn btn-primary btn-sm"
                                    (click)="subscribeSolo()">
                                    <i class="fa-solid fa-person"></i></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <ng-template #add_team>


    </ng-template>
</div>