<div class="container">

    <form [formGroup]="menuGroup">
        <table class="table">

            <thead>

                <tr>
                    <th>id</th>
                    <th>label</th>
                    <th>summary</th>
                    <th>nb page</th>
                    <!-- <th>root id</th>
                    <th>submenus</th> -->
                    <th class="col-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let menu of menus">
                    <td>{{menu.id}}</td>
                    <td>{{menu.label}}</td>
                    <td>{{menu.summary}}</td>
                    <td>{{menu.pages?.length}}</td>
                    <!-- <td>{{menu.rootmenu}}</td>
                    <td>{{menu.submenus?.length ?? 0}}</td> -->
                    <td class="col-2">
                        <div class=" btn-group role=group">

                            <button class="btn btn-sm btn-primary" (click)="editMenu(menu)">Edit</button>
                            <button class="btn btn-sm btn-warning ms-1" (click)="deleteMenu(menu.id!)">delete</button>
                            <button class="btn btn-sm btn-secondary ms-1" (click)="showMenu(menu)">show</button>
                        </div>
                    </td>
                </tr>
                <tr></tr>
                <!-- bandeau creation/modification -->
                <tr>
                    <td><input type="text" class="form-control" formControlName="id"></td>
                    <td> <input type="text" class="form-control" formControlName="label"> </td>
                    <td> <input type="text" class="form-control" formControlName="summary"> </td>
                    <!-- <td> <input type="text" class="form-control" formControlName="pageId"> </td> -->
                    <td> </td>
                    <td class="col-2">
                        <div class=" btn-group role=group">
                            <button class="btn btn-sm btn-primary" (click)="saveMenu()">Save</button>
                            <!-- <button class="btn btn-sm btn-light" disabled></button> -->
                            <button class="btn btn-sm btn-warning ms-1" (click)="clear()">clear</button>
                        </div>
                    </td>


                </tr>
            </tbody>
        </table>
    </form>
</div>

<h5>Les pages</h5>
<app-pages [menus]="menus"></app-pages>