<div class="mt-2">
  <div class="card">
    <div class="card-header">
      <div class="row justify-content-between align-items-center">
        <h5 class="col-12 col-sm">
          Répertoire Club :
          <span> {{members.length}} personnes</span>
        </h5>
        <h5 class="col-12 col-sm">
          Base FFB :
          <span> {{licensees.length - sympatisants_number}} licenciés + {{sympatisants_number}} sympathisants </span>
        </h5>
      </div>
    </div>

    <div class="card-body">
      <!-- ajout d'un adhérent licencié supplémentaire -->
      <h6 class="fw-bold">ajout de personne :</h6>
      <div class=" row justify-content-around align-items-end">
        <!-- <div class="col-md-4">
        </div> -->
        <div class="col-md-6 ">
          <div class="input-group input-group-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm"><strong>SANS licence </strong>(ex. débutant(e))
              :</span>
            <button class="btn  btn-primary btn-sm" (click)="add_newbee()">
              <i class="bi bi-person-square"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group input-group-sm ">
            <span class="input-group-text" id="inputGroup-sizing-sm"><strong>licencié(e) </strong>(futur adhérent(e))
              :</span>
            <app-input-player listeId="new_guest" placeholder="nom ou prénom" type="text"
              class="form-control form-control-sm" [(ngModel)]="new_player"
              (ngModelChange)="add_licensee(new_player)"></app-input-player>
          </div>
        </div>
      </div>

      <hr class="my-3">

      <table class="table table-striped table-sm table-bordered table-responsive">
        <thead>
          <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th class="text-center"></th>
            <th class="text-center">
              {{licenses_status[selected_status]}}
              <div ngbDropdown class="btn-group">
                <span class="dropdown-toggle dropdown-toggle-split" ngbDropdownToggle></span>
                <ul ngbDropdownMenu class="dropdown-menu">
                  <li *ngFor="let status of licenses_status | keyvalue">
                    <a class="dropdown-item" (click)="filterOnStatus(status.key)">{{status.value}}</a>
                  </li>
                </ul>
              </div>
            </th>


            <th class="d-none d-sm-table-cell">licence</th>
            <th class="d-none d-sm-table-cell">date de licence</th>
            <th class="d-none d-sm-table-cell">mail</th>
            <th class="d-none d-sm-table-cell"><i class="bi bi-telephone-fill"></i></th>
            <th class="d-none d-sm-table-cell">Ville</th>
            <th class="text-center">préf.</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of filteredMembers; let i = index">
            <td>{{i + 1}}</td>
            <td>{{member.lastname | uppercase}}</td>
            <td>{{member.firstname}}</td>
            <td class="text-center align-middle">
              <img *ngIf="avatar_urls$[member.license_number] | async as avatarUrl" [src]="avatarUrl" alt="avatar" class="rounded-circle table-avatar">
            </td>
            <ng-container [ngSwitch]="member.license_status">
              <ng-container *ngSwitchCase="'duly_registered'">
                <td class="text-center">
                  <span
                    ngbTooltip="{{member.license_taken_at === 'BCSTO' ? 'licencié au Club' : 'Sympathisant licencié au ' + member.license_taken_at}}"
                    tooltipClass="my-custom-class" placement="right">
                    <i [class]="member.license_taken_at !== 'BCSTO' ? 'bi bi-tencent-qq' : 'bi bi-person-square'"></i>
                  </span>
                </td>
              </ng-container>

              <ng-container *ngSwitchCase="'promoted_only'">
                <td class="text-center text-danger">
                  <span ngbTooltip="{{ 'Sympathisant non licencié ' }}" tooltipClass="my-custom-class"
                    placement="right">
                    <i class="bi bi-tencent-qq"></i>
                  </span>
                </td>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <td class="text-center"></td>
              </ng-container>
            </ng-container>

            <td class="d-none d-sm-table-cell">{{member.license_number}}</td>
            <td class="d-none d-sm-table-cell">
              {{member.register_date ? (member.register_date | date:'dd/MM/yyyy') : ''}}
            </td>
            <td class="d-none d-sm-table-cell">{{member.email}}</td>
            <td class="d-none d-sm-table-cell">{{member.phone_one | phone}}</td>
            <td class="d-none d-sm-table-cell">{{member.city }}</td>
            <td class="text-center"> <i (click)="access_settings(member)" class="bi bi-gear-fill"></i> </td>
            <td class="text-center">
              <i class="bi bi-trash" (click)="deleteMember(member)"></i>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>