<div class="mt-2 container-fluid container-md">
  <div class="card">
    <div class="card-header">
      <div class="row justify-content-start align-items-center fs-5">
          <div class="col-auto card-title me-4"> Répertoire Club :</div>
          <div class="col-auto card-title me-4">{{licensees.length}} de la base FFB  {{licensees.length - sympatisants_number}} licenciés + {{sympatisants_number}} sympathisants </div>
          <div class="col-auto card-title me-4">{{no_license_nbr}} adhérents sans licence</div>
          <div class="col-auto card-title me-4">{{lost_members_nbr}} adhérents perdus</div>
      </div>
    </div>

    <div class="card-body">
      <!-- ajout d'un adhérent licencié supplémentaire -->
      <h6 class="fw-bold">ajout de personne :</h6>
      <div class=" row justify-content-around align-items-end">
        <!-- <div class="col-md-4">
        </div> -->
        <div class="col-md-6 ">
          <div class="input-group input-group-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm"><strong>SANS licence </strong>(ex. débutant(e))
              :</span>
            <button class="btn  btn-primary btn-sm" (click)="add_newbee()">
              <i class="bi bi-mortarboard-fill"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group input-group-sm ">
            <span class="input-group-text" id="inputGroup-sizing-sm"><strong>licencié(e) </strong>(futur adhérent(e))
              :</span>
            <app-input-player listeId="new_guest" placeholder="nom ou prénom" type="text"
              class="form-control form-control-sm" [(ngModel)]="new_player"
              (ngModelChange)="add_licensee(new_player)"></app-input-player>
          </div>
        </div>
      </div>

      <hr class="my-3">

      <table class="table table-striped table-sm table-bordered table-responsive">
        <thead>
          <tr>
            <th style="width: 4%;">#</th>
            <th style="width: 18%;">Nom</th>
            <th style="width: 18%;">Prénom</th>
            <th class="text-center" style="width: 8%;"></th>
            <th class="text-center" style="width: 12%;">
              {{filteredMembers.length}}
              <ng-container *ngIf="selected_filter === FILTERS.MEMBER_AT_FFB; else iconOnly">
                <span style ="color:#009478">FFB</span>
              </ng-container>
              <ng-template #iconOnly>
                <i [class]="filter_icons[selected_filter]"></i>
              </ng-template>
              <div ngbDropdown class="btn-group">
                <span class="dropdown-toggle dropdown-toggle-split" ngbDropdownToggle></span>
                <ul ngbDropdownMenu class="dropdown-menu">
                  <li *ngFor="let filter of filters ">
                    <a class="dropdown-item" (click)="filterOnStatus(filter)">{{filter}}</a>
                  </li>
                </ul>
              </div>
            </th>


            <th class="d-none d-sm-table-cell" ngbDropdown style="cursor:pointer;">
              <span ngbDropdownToggle style="font-weight: bold;">
                {{ infoColumnLabels[selectedInfoColumn] }}
                <!-- <i class="bi bi-caret-down-fill" style="font-size:0.8em;"></i> -->
              </span>
              <ul ngbDropdownMenu>
                <li *ngFor="let col of infoColumns">
                  <a class="dropdown-item" (click)="selectedInfoColumn = col">{{ infoColumnLabels[col] }}</a>
                </li>
              </ul>
            </th>
            <th class="d-none d-sm-table-cell text-center">préf.</th>
            <th class="d-none d-sm-table-cell text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of filteredMembers; let i = index">
            <td>{{i + 1}}</td>
            <td>{{member.lastname | uppercase}}</td>
            <td>{{member.firstname}}</td>
            <td class="text-center align-middle">
              <img *ngIf="avatar_urls$[member.license_number] | async as avatarUrl" [src]="avatarUrl" alt="avatar"
                class="rounded-circle table-avatar">
            </td>
            <td class="text-center">
              @if (member.license_status === 'duly_registered') {
              <span
                ngbTooltip="{{member.license_taken_at === 'BCSTO' ? 'licencié au Club' : 'Sympathisant licencié au ' + member.license_taken_at}}"
                tooltipClass="my-custom-class" placement="right">
                <i [style]="member.membership_date ? '' : 'color : red;'" [class]="member.license_taken_at !== 'BCSTO' ? 'bi bi-tencent-qq' : 'bi bi-person-square'"></i>
              </span>
              } @else if (member.license_status === 'unregistered') {
              @if (member.membership_date) {
              <span ngbTooltip="{{ 'adhérent non licencié ' }}" tooltipClass="my-custom-class" placement="right">
                <i [class]="filter_icons[FILTERS.STUDENT]"></i>
              </span>
              } @else {
              <i [class]="filter_icons[FILTERS.UNKNOWN]"></i>
              }
              } @else {
              <!-- empty cell -->
              }
            </td>

            <td class="d-none d-sm-table-cell">
              @if (selectedInfoColumn === 'license_number') {
                {{ member.license_number }}
              } @else if (selectedInfoColumn === 'membership_date') {
                {{ member.membership_date ? (member.membership_date | date:'dd/MM/yyyy') : '' }}
              } @else if (selectedInfoColumn === 'email') {
                {{ member.email }}
              } @else if (selectedInfoColumn === 'birthdate') {
                {{ member.birthdate | date:'dd/MM/yyyy' : '' }}
              } @else if (selectedInfoColumn === 'phone_one') {
                {{ member.phone_one | phone }}
              } @else if (selectedInfoColumn === 'city') {
                {{ member.city }}
              }
            </td>
            <td class="d-none d-sm-table-cell text-center"> <i (click)="access_settings(member)" class="bi bi-gear-fill"></i> </td>
            <td class="d-none d-sm-table-cell text-center">
              <i class="bi bi-trash" (click)="deleteMember(member)"></i>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>