<div class="container">

    <div class="input-group mb-3">
        <input #fileInput type="file" class="form-control" (change)="onChange($event)">
        <!-- <button class="btn btn-sm btn-primary" type="button" (click)="onUpload()"
        [disabled]="!file_selected">Upload</button> -->
    </div>

    <table>
        <thead>
            <tr>
                <th>vente du</th>
                <th>montant</th>
                <th>réglé par</th>
                <th>mode</th>
                <th>Cheque No</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sale of sales">
                <td>{{format_date(sale.event)}} ({{ format_vendor(sale.vendor)}})</td>
                <td>{{ sale.amount | currency:'€':'symbol':'2.2-2':'fr' }}</td>
                <td>{{member_name (sale.payer_id )}}</td>
                <td>{{ sale.payments[0].type === payment_mode.CASH ? 'espèces' : bank_name(sale.payments[0].bank!)}}
                </td>
                <td>{{ sale.payments[0].cheque_no }}</td>
            </tr>
        </tbody>

    </table>
</div>