<div class="modal-header pb-0 ">
    <div class="col justify-content-between">
        <div class="row align-items-center">
            <h5 class="col-10 modal-title">
                Création d'une carte de 12 tournois
            </h5>
            <div class="col-1 text-center">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="close()"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal-body">

    <form [formGroup]="ownersForm">
        <div class="mb-3">
            <label for="owner1" class="form-label">Adhérent</label>
            <app-input-member class="form-control form-control-sm" [members]="(members) || []"
                formControlName="owner1"></app-input-member>
        </div>
        <div class="mb-3">
               <label for="owner2" class="form-label">Adhérent</label>
            <app-input-member class="form-control form-control-sm" [members]="(members) || []"
                formControlName="owner2"></app-input-member>
        </div>
    </form>

    <!-- </ng-container> -->

</div>
<div class="modal-footer">
    <div class="justify-content-between">
        {{ownersForm.valid ? 'Formulaire valide' : 'Formulaire incomplet'}}
        <button type="button" class="btn btn-primary btn-sm" [disabled]="!ownersForm.valid"
            (click)="got_it()">OK</button>

    </div>
</div>