<div class="offset-md-3  col-md-6 justify-content-start">
    <div *ngIf="documents.length === 0 && only_public" class="text-start">
        <p>Il n'y a pas de document publié, mais peut-être est-ce parce que vous n'êtes pas connecté.</p>
    </div>
    <div *ngIf="documents.length === 0 && !only_public" class="text-start">
        <p>Aucun document disponible</p>
        <p>Veuillez contacter l'administrateur si vous pensez qu'il s'agit d'une erreur.</p>
    </div>

    <div *ngFor="let document of documents" class="card mb-3 nice_shadow bg-dark">
        <div class="row g-0  align-items-center">
            <div class="col-md-2 text-secondary">
                <i [class]="document.icon" style="font-size: 8rem;"></i>
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="row align-items-center">

                        <div class="col-6 ">
                            <h3 class="fw-bolder"> {{ document.name }} </h3>
                            <div>
                                <button class="btn  btn-outline-primary nice_shadow"
                                    (click)="downloadDocument(document); $event.preventDefault()">
                                    Télécharger le document
                                </button>
                            </div>
                        </div>

                        <div class="col-6 ">
                            <p>
                                <span class="fw-bold">Contenu :</span>
                                <span [innerHTML]="document.summary"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>