<div class="container">
  <div class="card mt-2">
    <div class="card-header">
      <div class="row justify-content-evenly">

        <h5>compte bancaire</h5>
      </div>
    </div>
    <div class="card-body">

      <div class="row align-items-center px-4 fw-bolder">
        <div class="col-4 text-start">
          relevés de banque
        </div>
        <div class="col-2 text-start">
          solde
        </div>
        <div class="col-2 text-end pe-5">
          Débit
        </div>
        <div class="col-2 text-end pe-5">
          Crédit
        </div>
        <div class="col-2">
        </div>
      </div>
      <br />
      <div ngbAccordion>
        <div ngbAccordionItem [collapsed]="!last" *ngFor="let bank_report of bank_reports ;  let last = last">
          <div ngbAccordionHeader>
            <button ngbAccordionButton>

              <div class="row w-100 justify-content-start align-items-center">
                <div class="col-4 text-start fw-bolder">
                  n° {{bank_report}}
                </div>
                <div class="col-2 text-start fw-bolder">
                  {{balance(bank_report).bank | number:truncature:'fr'}}
                </div>
                <div class="col-2 text-end pe-4">
                  {{movement_out(bank_report).bank | number:truncature:'fr' }}
                </div>
                <div class="col-2 text-end pe-4">
                  {{movement_in(bank_report).bank | number:truncature:'fr'}}
                </div>

                <div class="col-2 text-end pe-4  text-muted small">
                  <!-- (épargne : {{balance(bank_report).savings| threedigits}} €) -->
                </div>
              </div>

            </button>
          </div>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-container *ngTemplateOutlet=" report; context:{bank_report: bank_report}"></ng-container>
            </div>
          </div>
        </div>

        <div ngbAccordionItem [collapsed]="false">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>opérations non pointées</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-container *ngTemplateOutlet="report; context:{bank_report: null}"></ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #report let-bank_report="bank_report">
  <table class="table table-sm table-borderless table-hover table-responsive">
    <!-- <thead>
      <tr>
        <th class="col-1">Date </th>
        <th class="col-3">opération </th>
        <th class="col-2 text-start">info</th>
        <th class="col-2 text-end pe-3">Débit </th>
        <th class="col-2 text-end pe-3">Crédit</th>
        <th class="col-1 text-end ">{{bank_report ? bank_report : 'relevé'}}</th>
        <th class="col-1 "> </th>
      </tr>
    </thead> -->

    <tbody class="fst-italic">
      <ng-container *ngFor="let book_entry of bank_book_entries">

        <tr class="g-0 p-0" *ngIf="book_entry.bank_report === bank_report" (click)="show_book_entry(book_entry.id)">
          <td class="col-1">{{book_entry.date | date: 'dd/MM/yyyy'}}</td>
          <td class="col-3"> {{transaction_label(book_entry)}} </td>
          <td class="col-2 text-start"> {{book_label(book_entry)}}</td>
          <td class="col-2 text-end pe-3">{{book_entry.amounts['bank_out'] ? (book_entry.amounts['bank_out'] | number:
            truncature) : '' }}</td>
          <td class="col-2 text-end pe-3">{{book_entry.amounts['bank_in'] ? (book_entry.amounts['bank_in'] |
            number:truncature) : ''}}</td>
          <td class="col-2 text-end">
            <div *ngIf="bank_report !== null" class="form-check form-switch form-check-inline">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                [checked]="book_entry.bank_report !== null" (change)="set_bank_report(book_entry,bank_report)">
            </div>
            <div *ngIf="bank_report === null">
              <select class="form-select form-select-sm" [(ngModel)]="book_entry.bank_report"
                (ngModelChange)="update_bank_report(book_entry)">
                <option hidden disabled> </option>
                <option *ngFor="let report of bank_reports" [value]="report">{{report}}</option>
              </select>
            </div>
          </td>
          <td class="col-1 text-end">
            <i [ngbTooltip]="book_label(book_entry)" tooltipClass="my-custom-class" placement="end"
              class="bi bi-info-circle"></i>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-template>