<div class="container">
    <div class="card mt-2">
        <div class="card-header">
            <div class="row justify-content-evenly">

                <h5>compte bancaire</h5>
            </div>
        </div>
        <div class="card-body">
            <div ngbAccordion>
                <div ngbAccordionItem [collapsed]="!last" *ngFor="let bank_report of bank_reports ;  let last = last">
                    <div ngbAccordionHeader>
                        <button ngbAccordionButton>
                            <table class="w-75">
                                <thead>
                                    <tr>
                                        <th class="col-4">Relevé </th>
                                        <th class="col-3 text-center"> compte courant : </th>
                                        <th class="col-3 text-center"> compte épargne : </th>
                                    </tr>
                                </thead>
                                <tbody class="fw-bold">
                                    <tr>
                                        <td> relevé de banque n° {{bank_report}}</td>
                                        <td class="text-center"><b>{{balance(bank_report).bank | threedigits}} €</b>
                                        </td>
                                        <td class="text-center"> <b>{{balance(bank_report).savings| threedigits}} €</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </button>
                    </div>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-container
                                *ngTemplateOutlet=" report; context:{bank_report: bank_report}"></ng-container>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>opérations non pointées</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-container *ngTemplateOutlet="report; context:{bank_report: null}"></ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #report let-bank_report="bank_report">
    <table class="table table-sm table-borderless table-responsive">
        <thead>
            <tr>
                <th class="col-1">Date </th>
                <th class="col-3">opération </th>
                <!-- <th class="col-1 text-start">n° chèque </th> -->
                <th class="col text-center" *ngFor="let account of bank_accounts ">{{account}} </th>
                <th class="col-2 text-end ">{{bank_report ? bank_report : 'relevé'}}</th>
                <th class="col-1 "> </th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let book_entry of bank_book_entries">

                <tr *ngIf="book_entry.bank_report === bank_report">
                    <td>{{book_entry.date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{transaction_label(book_entry.bank_op_type)}}
                        {{book_entry.cheque_ref}}</td>
                    <td *ngFor=" let account of bank_accounts " class="text-center">
                        {{book_entry.amounts[account] }}
                    </td>
                    <td class="col-2 text-end">
                        <div *ngIf="bank_report !== null" class="form-check form-switch form-check-inline">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                                [checked]="book_entry.bank_report !== null"
                                (change)="set_bank_report(book_entry,bank_report)">
                        </div>
                        <div *ngIf="bank_report === null">
                            <select class="form-select form-select-sm" [(ngModel)]="book_entry.bank_report"
                                (ngModelChange)="update_bank_report(book_entry)">
                                <option hidden disabled> </option>
                                <option *ngFor="let report of bank_reports" [value]="report">{{report}}</option>
                            </select>
                        </div>
                    </td>
                    <!-- <td *ngIf="bank_report !== null" class="text-center">{{book_entry.bank_report}}</td> -->
                    <td class="col-1 text-end">
                        <i [ngbTooltip]="book_label(book_entry)" tooltipClass="my-custom-class" placement="end"
                            class="bi bi-info-circle" (click)="show_book_entry(book_entry.id)"></i>
                    </td>
                </tr>
            </ng-container>
        </tbody>
        <tfoot class="table-group-divider">
            <tr class="table-light">
                <td colspan="2">totaux</td>
                <td class="text-center"> {{movement_in(bank_report).bank}} </td>
                <td class="text-center"> {{movement_out(bank_report).bank}} </td>
                <td class="text-center"> {{movement_in(bank_report).savings}} </td>
                <td class="text-center"> {{movement_out(bank_report).savings}} </td>
                <td colspan="2"> </td>

            </tr>
        </tfoot>
    </table>
</ng-template>