<div class="top-bar">
    <div class="container">
        <div class="row-cols-lg-auto row">
            <h4 class="col">
                <span class="mr-2  icon-envelope-open-o"></span>
                <span class="inline-block">
                    portail d'administration Bridge Club Saint-Orens
                </span>
            </h4>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">
            <i class="fs-4 bi-tools"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Adhérents</span>

                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item  " [routerLink]="['/licensees']">base FFB</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/members']">base BCSTO</a></li>
                        <li><a class="dropdown-item" href="#">Autres</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Achats</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item  " [routerLink]="['/sales/products']">catalogue produits</a></li>
                        <li><a class="dropdown-item">Autres</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Tournois</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item  " routerLink="/tournaments">les prochains</a></li>
                        <li><a class="dropdown-item  " routerLink="/tournaments/log">historique</a></li>

                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fs-4 bi-cloud"></i> <span class="ms-1 d-none d-sm-inline">Site web</span>

                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" routerLink="/layout">Menus & pages</a></li>
                        <li><a class="dropdown-item" routerLink="/articles">Articles</a></li>
                        <li><a class="dropdown-item" routerLink="/imagemgr">Illustrations</a></li>
                        <li><a class="dropdown-item" routerLink="/albums">Albums</a></li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/sysconf">
                        <i class="fs-4 bi-gear"></i> <span class="ms-1 d-none d-sm-inline">Configuration</span>
                    </a>
                </li>

            </ul>
            <ul class=" navbar-nav  mb-2 mb-lg-0 ">
                <li class="nav-item  me-5">
                    <app-admin-in></app-admin-in>
                </li>
            </ul>
        </div>
    </div>
</nav>