<div *ngIf="type === 'revenue'" class="card mt-2">
  <div class="card-header">
    <h5 class="row ">
      <div class="col">
        {{key}} ( {{title}} ) 
      </div>
      <div class="col-auto mx-auto">
        {{total_amount | number:truncature:'fr'}} €
      </div>
    </h5>

  </div>
  <div class="card-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="col">Date </th>
          <th class="col">libellé </th>
          <th class="col"> bénéficiaire</th>

          <th class="col text-end" *ngFor="let account of products_accounts ">{{account}}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let revenue of revenues">
          <td> {{revenue.date | date: 'dd/MM/yyyy'}} </td>
          <td>{{revenue.label}}</td>
          <td>{{revenue.member}}</td>

          <td *ngFor="let account of products_accounts " class="text-end">
            {{revenue.values[account] | number:truncature:'fr'}}
          </td>
          <td>
            <i class="bi bi-search"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="type === 'expense'" class="card mt-2">
  <div class="card-header">
    <h5 class="row ">
      <div class="col">
        {{key}} ( {{title}} ) 
      </div>
      <div class="col-auto mx-auto">
        {{total_amount}} €
      </div>
    </h5>

  </div>
  <div class="card-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="col">Date </th>
          <th class="col">libellé </th>
          <!-- <th class="col"> bénéficiaire</th> -->
          <th class="col text-end" *ngFor="let account of expenses_accounts ">{{account}}
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let expense of expenses">
          <td>
            {{expense.date | date: 'dd/MM/yyyy'}}
          </td>
          <td>{{expense.label }}</td>
          <!-- <td>{{expense.member}}</td> -->
          <td *ngFor="let account of expenses_accounts " class="text-end">
            {{expense.values[account] | number:truncature:'fr'}}
          </td>
          <td>
            <i class="bi bi-search" (click)="show_book_entry(expense.book_entry_id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>