<div class="row justify-content-between align-items-center">
    <div class="col-md-3 mt-3">
        <div class="input-group input-group-sm mb-2">
            <span class="input-group-text">Saison</span>
            <input type="text" class="form-control" (change)="new_season($event)" [value]="season">
        </div>
    </div>
    <div class="col-md-3 ms-auto">
        <button class="btn btn-sm btn-outline-primary" (click)="export_excel()">
            Export excel
        </button>

    </div>

</div>



<table class="table table-sm">
    <thead>
        <tr>
            <th class="col">vente du</th>
            <th scope="col">montant</th>
            <th scope="col">réglé par</th>
            <th scope="col">mode</th>
            <th scope="col">Cheque No</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sale of sales">
            <td>{{format_date(sale.session.event)}} ({{ format_vendor(sale.session.vendor)}})</td>
            <td>{{ sale.amount | currency:'€':'symbol':'2.2-2':'fr' }}</td>
            <td>{{member_name (sale.payer_id )}}</td>
            <td>{{ sale.payment.payment_mode === payment_mode.CASH ? 'espèces' : bank_name(sale.payment.bank!)}}</td>
            <td>{{ sale.payment.cheque_no }}</td>
        </tr>
    </tbody>
</table>