<div class="container-fluid py-3">
  <ng-container [ngSwitch]="site">
    <iframe *ngSwitchCase="'FFB'" src="https://www.ffbridge.fr/competitions/results/groups/13697" width="100%" height="800" style="border:1px solid #ccc; border-radius:8px; background:#fff;"></iframe>
    <iframe *ngSwitchCase="'FFB_dashboard'" src="https://www.ffbridge.fr/user/dashboard/" width="100%" height="800" style="border:1px solid #ccc; border-radius:8px; background:#fff;"></iframe>
    <p *ngSwitchDefault>Aucun résultat disponible pour ce site.</p>
  </ng-container>
</div>