.album-carousel-img {
    max-height: 400px;
    object-fit: contain;
    width: 100%;
    background: #222;
}


.album-thumbnails {
    display: grid;
    gap: 0.2rem;
    justify-content: center;
    grid-template-columns: repeat(3, 70px);
    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 70px);
    }
    @media (min-width: 992px) {
        grid-template-columns: repeat(6, 70px);
    }
    @media (min-width: 1200px) {
        grid-template-columns: repeat(10, 70px);
    }
}

.album-thumb-wrapper {
    width: 70px;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: border 0.2s;
}
.album-thumb-wrapper.selected-thumb {
    border: 2px solid #007bff;
}
.album-thumb-img {
    max-height: 64px;
    max-width: 100%;
    object-fit: cover;
    display: block;
}