$primary: #c29b32;
$secondary: #277bc5;

$dark: #4b5057; // your custom dark color

$light: #f8f9fa; // your custom light color

.bg-custom {
  background-color: #ff6600 !important; // Remplacez par la couleur de votre choix
}