<div class="offset-md-3 col-md-6">

  @for (snippet of snippets; track snippet.id) {
  <div id="{{snippet.title}}">
    <h4 class="mt-2">
      {{snippet.title}} : {{snippet.subtitle}}
    </h4>
    <div class="ms-2 snippet-float-box">
      <div class="snippet-float-img text-center">
        <img [src]="snippet.image_url" alt="{{snippet.title}}" class="card-img-top">
      </div>
      <div class="snippet-float-text tighter-html" [innerHTML]="stringToSafeHtml(snippet.content)"></div>
    </div>
  </div>
  }

</div>