      @for (snippet of snippets; track snippet.id) {
        <div id="{{snippet.title}}">
          {{snippet.title}} :
          <span class="text-muted">{{snippet.subtitle}}</span>
          <div class="ms-2 snippet-float-box">
            <div class="snippet-float-img text-center">
              <img [src]="snippet.image_url" alt="{{snippet.title}}" class="card-img-top">
            </div>
            <span class="snippet-float-text tighter-html" [innerHTML]="stringToSafeHtml(snippet.content)"></span>
          </div>
        </div>
      }
