<div class="container-fluid" >

  <div #headerBanner>
    <div class="row d-flex align-items-stretch ">

      <div class="col-sm-auto mx-0 px-0 d-flex d-none d-xl-flex">
        <a routerLink="contacts">
          <img *ngIf="logoUrl; else staticLogo" class="img-fluid  h-100 object-fit-cover" style="max-height: 100px;" [src]="logoUrl" alt="logo" />
          <ng-template #staticLogo>
            <img class="img-fluid  h-100 object-fit-cover" style="max-height: 100px;" src="bcsto_ffb.jpg" alt="marcaissonne" />
          </ng-template>
        </a>
      </div>

      <div class="col-sm d-flex flex-column mx-0 px-0 ">

        <div class="d-none row justify-content-between mx-0 brand-bg py-1 h-100 d-flex align-items-center site-banner">
          <div class="col text-center">
            Bridge Club Saint-Orens
            @if(sandbox) {<span class="badge sandbox-badge text-dark ms-2" aria-label="Mode sandbox">Mode Sandbox</span>}

          </div>

          <div class="mx-auto col-auto text-end me-5 d-none d-md-block">
            <span class="mb-0">{{today | date:'EEEE d MMMM y':'':'fr-FR' }}</span>
          </div>
        </div>


        <div class="row navbar-bg shadow px-2 align-items-center h-auto text-white flex-grow-1 g-0">
          <app-front-navbar [navbar_menus]="navbar_menus" [sandboxMode]="sandbox" [albums]="albums"></app-front-navbar>
        </div>

      </div>

    </div>
    <div class="row justify-content-center title-banner align-items-center p-1 site-banner">
      <div class="text-center g-0 ">
        <app-title></app-title>
      </div>
    </div>
  </div>

  <div class="offset-xl-1 col-xl-10 justify-content-center  main-content"
    style="overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none; ">
    <router-outlet></router-outlet>
  </div>

  <!-- bandeau pied de page -->

  <div #footerBanner class="row footer-banner text-center mt-auto justify-content-between flex-wrap">
    <!-- <span class="position-relative d-none d-xl-inline">
      <img src="VilleDeStOrens.png" alt="Ville de Saint Orens" class="img-fluid img-quarter-sm shadow position-absolute"
        style="bottom: -30px; left: 30px; max-width: 130px;">
    </span> -->

    <div class="d-flex align-items-center gap-3 flex-wrap justify-content-center w-auto mx-auto">
      <span class="mb-0 me-5 d-none">© 2025 Bridge Club de Saint-Orens</span>
      @if (footer_menus && footer_menus.length > 0) {
        @for (menu of footer_menus; track menu.navitem.id) {
          <span class="footer-menu-item ">
            <a [routerLink]="menu.navitem.path" class="mb-0 footer-banner" style=" text-decoration: none;">{{ menu.navitem.label }}</a>
          </span>
        }
      }
    </div>

    <!-- <span class="position-relative d-none d-xl-inline">
      <img *ngIf="logoUrl; else staticLogo2" [src]="logoUrl" alt="logo" class="img-fluid img-quarter-sm shadow position-absolute"
        style="bottom: 20px; right: 20px; max-width: 130px;">
      <ng-template #staticLogo2>
        <img src="bcsto_ffb.jpg" alt="logo" class="img-fluid img-quarter-sm shadow position-absolute"
          style="bottom: 20px; right: 20px; max-width: 130px;">
      </ng-template>
    </span> -->
  </div>

</div>

<style>

</style>