<div class="flipper-wrapper">
  <div class="row offset-sm-3 col-sm-6">


    <div class="snippet-rotator">
      <ng-container *ngFor="let snippet of snippets; let i = index; trackBy: trackById">
        <div class="rotating-snippet" [class.show]="i === currentIndex" [class.hide]="i !== currentIndex"
          [style.transition]="'transform ' + rotationDurationSec + ' cubic-bezier(.68,-0.55,.27,1.55), opacity ' + rotationDurationSec">

          <ng-container *ngIf="CARD_STYLE === 'lateral'; else topStyle">
            <div class="card w-100 h-100 border-0">
              <div class="row g-0 h-100">
                <div class="col-md-4 d-flex align-items-center justify-content-center p-2">
                  <img [src]="snippet.image_url || ''" alt="{{snippet.title}}" class="img-fluid rounded-start"
                    style="max-width:100%; max-height:20vh; object-fit:cover; display:block;">
                </div>
                <div class="col-md-8 d-flex flex-column justify-content-center p-2">
                  <div>
                    <h5 class="card-title">{{snippet.title}}</h5>
                    <!-- <h6 class="fw-bold text-muted">{{snippet.subtitle}}</h6> -->
                    <div class="card-text tighter-html" [innerHTML]="snippet.content">
                      <!-- <h6 class="fw-bold">{{snippet.subtitle}}</h6> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-template #topStyle>
            <div class="card w-100 h-100 border-0">
              <img [src]="snippet.image_url" class="mg-fluid rounded-start" alt="{{snippet.title}}"
                style="max-width:100%; max-height:10vh;  object-fit:cover">
              <div class="card-body">
                <h5 class="card-title">{{snippet.title}}</h5>
                <div class="card-text tighter-html" [innerHTML]="snippet.content">
                  <!-- <h6 class="fw-bold">{{snippet.subtitle}}</h6> -->
                </div>
              </div>
            </div>
          </ng-template>

        </div>
      </ng-container>
    </div>
  </div>