<div class="flipper-wrapper">
  <div class="row offset-sm-3 col-sm-6 p-2">
    <div class="snippet-rotator">
      @for (snippet of snippets; let i = $index; track snippet.id) {
        <div class="rotating-snippet" [class.show]="i === currentIndex" [class.hide]="i !== currentIndex"
          [style.transition]="'transform ' + rotationDurationSec + ' cubic-bezier(.68,-0.55,.27,1.55), opacity ' + rotationDurationSec">

          @if (CARD_STYLE === 'lateral') {
            <div class="card w-100 h-100 border-0">
              <div class="row g-0 h-100">
                <div class="col-4 d-flex align-items-center justify-content-center p-2">
                  <img [src]="snippet.image_url || ''" alt="{{snippet.title}}" class="img-fluid rounded-start"
                    style="max-width:100%; max-height:20vh; object-fit:cover; display:block;">
                </div>
                <div class="col-8 d-flex flex-column justify-content-center ">
                  <div>
                    <div class="card-title">{{snippet.title}}</div>
                    <div class="card-subtitle">{{snippet.subtitle}}</div>
                    <div class="card-text tighter-html" [innerHTML]="stringToSafeHtml(snippet.content)">
                      <!-- <div class="fw-bold">{{snippet.subtitle}}</div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          } @else {
            <div class="card w-100 h-100 border-0">
              <img [src]="snippet.image_url" class="mg-fluid rounded-start" alt="{{snippet.title}}"
                style="max-width:100%; max-height:10vh;  object-fit:cover">
              <div class="card-body">
                <div class="card-title">{{snippet.title}}</div>
                <div class="card-text tighter-html" [innerHTML]="stringToSafeHtml(snippet.content)">
                  <!-- <div class="fw-bold">{{snippet.subtitle}}</div> -->
                </div>
              </div>
            </div>
          }

        </div>
      }
    </div>
  </div>