.flipper-wrapper {
  .snippet-rotator {
    position: relative;
    min-height: 20vh;
  }
  .rotating-snippet {
    transition: transform 2s cubic-bezier(.68,-0.55,.27,1.55), opacity 2s;
    transform: rotateY(90deg);
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }
  .rotating-snippet.show {
    transform: rotateY(0deg);
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
  }
}
