<nav class="navbar navbar-expand-md navbar-dark text-white d-flex align-items-center">
  <div class="container-fluid h-100 d-flex align-items-center">
    <a class="navbar-brand d-flex align-items-center" routerLink="/home">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-none d-md-flex align-items-center">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item"><a class="nav-link" routerLink="home">Accueil</a></li> -->
        <li ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="clubDropdown">Le Club</a>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="clubDropdown">
            <li><a class="dropdown-item" routerLink="club/acteurs">Les acteurs</a></li>
            <li><a class="dropdown-item" routerLink="club/documents">Documents</a></li>
            <li><a class="dropdown-item" routerLink="club/bureau">Le bureau</a></li>
            <li><a class="dropdown-item" routerLink="club/historique">L'historique</a></li>
            <li><a class="dropdown-item" routerLink="contacts" data-bs-dismiss="offcanvas">Nous contacter</a></li>
          </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="ecoleDropdown">L'école de Bridge</a>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="ecoleDropdown">
            <li><a class="dropdown-item" routerLink="école/cours">Cours</a></li>
          </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="tournoisDropdown">Les tournois</a>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="tournoisDropdown">
            <li><a class="dropdown-item" routerLink="tournaments/next">Prochainement au Club</a></li>
            <li><a class="dropdown-item" routerLink="tournaments/resultats_ffb">FFB : résultats récents</a></li>
            <li><a class="dropdown-item" href="https://www.bridgeplus.com/nos-simultanes/resultats/?res=sim"
                target="_blank" rel="noopener">Roy René : résultats récents</a></li>
          </ul>
        </li>

        <li *ngIf="logged_member$ | async as member" ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="achatsDropdown">Mes achats</a>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="achatsDropdown">
            <li><a class="dropdown-item" routerLink="achats/historique">Mon relevé</a></li>
            <li><a class="dropdown-item" routerLink="achats/carte">Mes droits de table</a>
            </li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" routerLink="albums">Les albums</a></li>

          <li *ngIf="(logged_member$ | async)  && user_accreditation && user_accreditation.level > 0" class="nav-item"><a class="nav-link" routerLink="../back" data-bs-dismiss="offcanvas">Administration</a></li>

          <li *ngIf="!(logged_member$ | async)" class="nav-item">
          <button class="btn btn-sm btn-sepia shadow-sm" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#loggingOffCanvas" aria-controls="loggingOffCanvas">
            Espace membre
          </button>
        </li>
        <li *ngIf="logged_member$ | async as member" ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="userDropdown">{{member.firstname}}</a>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" routerLink="ffb_dashboard">FFB : tableau de bord</a></li>
            <li><a class="dropdown-item" (click)="signOut()"><i class="bi bi-box-arrow-right"></i> Déconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Sidebar for mobile -->
    <div class="offcanvas offcanvas-start d-md-none bg-white text-dark align-items-start " tabindex="-1"
      id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav">
          <li *ngIf="!(logged_member$ | async)" class="nav-item mb-2">
            <button class="btn btn-sm btn-secondary shadow-sm w-100" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#loggingOffCanvas" aria-controls="loggingOffCanvas">
              Espace membre
            </button>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li *ngIf="logged_member$ | async as member" ngbDropdown class="nav-item dropdown mb-2">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle id="userDropdownMobile">{{member.firstname}}</a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="userDropdownMobile">
              <li><a class="dropdown-item" routerLink="ffb_dashboard">FFB : tableau de bord</a></li>
              <li><a class="dropdown-item" (click)="signOut()"><i class="bi bi-box-arrow-right"></i> Déconnexion</a>
              </li>
            </ul>
          </li>
          <!-- <li class="nav-item"><a class="nav-link" routerLink="home" data-bs-dismiss="offcanvas">Accueil</a></li> -->
          <li ngbDropdown class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle id="clubDropdownMobile">Le Club</a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="clubDropdownMobile">
              <li><a class="dropdown-item" routerLink="club/acteurs" data-bs-dismiss="offcanvas">Les acteurs</a></li>
              <li><a class="dropdown-item" routerLink="club/documents" data-bs-dismiss="offcanvas">Documents</a></li>
              <li><a class="dropdown-item" routerLink="club/bureau" data-bs-dismiss="offcanvas">Le bureau</a></li>
              <li><a class="dropdown-item" routerLink="club/historique" data-bs-dismiss="offcanvas">L'historique</a>
              <li><a class="dropdown-item" routerLink="contacts" data-bs-dismiss="offcanvas">Nous contacter</a>
              </li>
            </ul>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle id="ecoleDropdownMobile">L'école de Bridge</a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="ecoleDropdownMobile">
              <li><a class="dropdown-item" routerLink="école/cours" data-bs-dismiss="offcanvas">Cours</a></li>
            </ul>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle id="tournoisDropdownMobile">Les tournois</a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="tournoisDropdownMobile">
              <li><a class="dropdown-item" routerLink="tournaments/next" data-bs-dismiss="offcanvas">Prochainement au
                  Club</a></li>
              <li><a class="dropdown-item" routerLink="tournaments/resultats_ffb" data-bs-dismiss="offcanvas">FFB :
                  résultats récents</a></li>
              <li><a class="dropdown-item" href="https://www.bridgeplus.com/nos-simultanes/resultats/?res=sim"
                  target="_blank" rel="noopener">Roy René : résultats récents</a></li>
            </ul>
          </li>
          <li *ngIf="logged_member$ | async " ngbDropdown class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle id="achatsDropdownMobile">Mes achats</a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="achatsDropdownMobile">
              <li><a class="dropdown-item" routerLink="achats/historique" data-bs-dismiss="offcanvas">Mon relevé</a>
              </li>
              <li><a class="dropdown-item" routerLink="achats/carte" data-bs-dismiss="offcanvas">Mes droits de table</a>
              </li>
            </ul>
          </li>

          <li class="nav-item"><a class="nav-link" routerLink="albums" data-bs-dismiss="offcanvas">Les albums</a></li>

          <li *ngIf=" (logged_member$ | async) && user_accreditation && user_accreditation.level > 0" class="nav-item"><a class="nav-link" routerLink="../back" data-bs-dismiss="offcanvas">Administration</a></li>

        </ul>
      </div>
    </div>
  </div>
</nav>




<div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="loggingOffCanvas"
  aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Se connecter</h5>
    <button (click)="onCanvasClose()" type="button" class="btn-close" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-connexion></app-connexion>
  </div>
</div>