<div class="top-bar">
    <div class="container">
        <div class="row-cols-lg-auto row">
            <h4 class="col">
                <span class="inline-block">
                    <i class="fs-4 bi-piggy-bank"></i>
                    Recettes Bridge Club Saint-Orens
                </span>
            </h4>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- <a class="navbar-brand" routerLink="/home">
            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
        </a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class=" navbar-nav  me-auto mb-2 mb-lg-0 ">

                <li class="nav-item me-5">
                    <a class="nav-link" [routerLink]="['/sales']">
                        <i class="fs-4 bi-cart"></i>
                        <span class="ms-1 d-none d-sm-inline">Vente</span>
                    </a>
                </li>

                <li class="nav-item me-5">
                    <a class="nav-link " [routerLink]="['/fees']">
                        <i class="fs-4 bi-card-checklist"></i>
                        <span class="ms-1 d-none d-sm-inline">Droits de table</span>
                    </a>
                </li>

                <li class="nav-item dropdown me-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Comptes</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item  " routerLink="/books/sales">recettes</a></li>
                        <li><a class="dropdown-item  " routerLink="/books/customers">adhérents</a></li>
                        <li><a class="dropdown-item  ">droits de table</a></li>

                    </ul>
                </li>
            </ul>
            <ul class=" navbar-nav  mb-2 mb-lg-0 ">
                <li class="nav-item  me-5">
                    <app-admin-in></app-admin-in>
                </li>
            </ul>

            <!-- <a class="d-flex" routerLink="/login">
                <input class="form-control me-2" type="mail" placeholder="Mail" aria-label="Mail">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </a> -->

        </div>
    </div>
</nav>