<div class="container-fluid">
    <div class="row">
        <div class="col col-md-9">
            <h2>Editeur pages configurables</h2>
            <form [formGroup]="pagesForm">
                <div formArrayName="pagesArray">
                    <div *ngFor="let page of pageGroups; let p = index" [formGroup]="page" class="mb-4">
                        <div class="row align-items-center mb-2">
                            <div class="col-auto fs-4">{{ page.get('title')?.value }}</div>
                            <div class="col-auto">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Présentation</span>
                                    </div>
                                    <select class="form-select form-select-sm" formControlName="template"
                                        (change)="savePage(page)">
                                        <option *ngFor="let template of pageTemplates" [value]="template">{{template}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="col-auto">
                                <button class="btn btn-sm btn-primary" (click)="savePage(page)">
                                    sauvegarder
                                </button>
                            </div> -->
                        </div>
                        <div class="row">

                            <div class="col-1">
                                <div cdkDropList [id]="'trash_' + p" [cdkDropListConnectedTo]="['dropList_' + p]"
                                    (cdkDropListDropped)="binSnippet($event, p)" class="card mt-2 bg-warning d-flex align-items-center justify-content-center fixed-trash-height">
                                    <div class="card-body d-flex align-items-center justify-content-center p-0" style="height: 100%;">
                                        <i class="h3 bi-trash m-0"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="offset-1 col-10">
                                <div cdkDropList [id]="'dropList_' + p" cdkDropListOrientation="mixed"
                                    (cdkDropListDropped)="dropSnippet($event, p)"
                                    [cdkDropListConnectedTo]="['trash_' + p]"
                                    class="row row-cols-3 row-cols-md-6 g-1 mt-2 mb-2 justify-content-start">
                                    <!-- affichage snippets de la page -->
                                    <ng-container *ngFor="let snippet of page.get('snippets')?.value">
                                        <div class="col">
                                            <div cdkDrag class="card" style="height: 6rem;"
                                                (mouseenter)="onHover(snippet)">
                                                <div (click)="onSnippetClick(snippet)" class="card-body">
                                                    <h5 class="card-title">{{ snippet.title }}
                                                    </h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{ snippet.subtitle }}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <!-- add snippet -->
                                    <div class="col">
                                        <form [formGroup]="newSnippetForm">
                                            <div class="card dashed_border" style="height: 6rem;">
                                                <div class="card-body">
                                                    <div class="row align-items-end">
                                                        <div class="col">
                                                            <input class="form-control form-control-sm" placeholder="Titre"
                                                                formControlName="title">
                                                            <input class="form-control form-control-sm mt-1" placeholder="sous-titre"
                                                                formControlName="subtitle">
                                                        </div>
                                                        <div *ngIf="newSnippetForm.valid" class="col-auto text-end">
                                                            <button type="submit" class="btn btn-sm btn-outline-primary"
                                                                (click)="addSnippet(page)"
                                                                [disabled]="!newSnippetForm.valid">
                                                                <i class="bi bi-check-square-fill"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <!-- affichage snippet sélectionné -->

        <div class="col col-md-3">
            <div *ngIf="selected_snippet && (view_snippet() || freeze_view_snippet())" class="card centered-card">
                <div class="card-header">

                    <div class="row">
                        <div class="col-8">
                            <h5>{{selected_snippet.title}}</h5>
                            <h6 class=" text-muted">{{selected_snippet.subtitle}}</h6>
                        </div>
                        <div class="col-1 align-items-start">
                            <i (click)="toggleFreezeViewSnippet()" *ngIf="freeze_view_snippet()"
                                class="bi bi-pin-angle-fill"></i>


                        </div>
                        <div class="col-3 text-center">
                            <img *ngIf="selected_snippet.image_url" [src]="selected_snippet.image_url | async"
                                alt="{{ selected_snippet.title }}" class="img-fluid snippet-img-limited">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <span (click)="onSnippetContentClick(selected_snippet)"
                            [innerHTML]="selected_snippet.content"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-check form-switch">
                        <input (ngModelChange)="onPublicChange()" [(ngModel)]="selected_snippet.public"
                            class="form-check-input " type="checkbox" role="switch">
                        <label class="form-check-label text-muted ">Public</label>
                    </div>
                    <div class="input-group input-group-sm mt-1">
                        <span class="input-group-text">Image</span>
                        <input type="text" list="image_datalist" class="form-control"
                            [placeholder]="selected_snippet.image" [(ngModel)]="selected_snippet_image">
                        <datalist id="image_datalist">
                            <option *ngFor="let path of thumbnails$ | async" [value]="path">
                                {{ path }}
                            </option>
                        </datalist>
                        <button class="btn btn-sm btn-outline-primary" (click)="onImageChange()">
                            <i class="bi bi-check-square-fill"></i>
                        </button>
                    </div>
                    <div class="input-group input-group-sm mt-1">
                        <span class="input-group-text">Fichier</span>
                        <input type="text" list="file_datalist" class="form-control"
                            [placeholder]="selected_snippet.file" [(ngModel)]="selected_snippet_file">
                        <datalist id="file_datalist">
                            <option *ngFor="let path of file_paths$ | async" [value]="path">
                                {{ path }}
                            </option>
                        </datalist>
                        <button class="btn btn-sm btn-outline-primary" (click)="onFileChange()">
                            <i class="bi bi-check-square-fill"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>