.fixed-trash-height {
  min-height: 7.5rem;
  height: 7.5rem;
  transition: none !important;
}
.card.cdk-drag-placeholder {
  background: repeating-linear-gradient(135deg, #e0e7ef 0px, #e0e7ef 10px, #f8fafc 10px, #f8fafc 20px);
  border: 2px dashed #6c757d;
//   min-height: 5em;
  opacity: 0.5 !important;
//   box-shadow: none !important;
//   margin-left: 3em !important;
//   margin-right: 3em !important;
}

.card.dashed_border {
  border: 2px dashed #6c757d;
  background: #f8fafc;
  height: 100%;
}


// Limite la hauteur des images à environ deux lignes de tableau
.snippet-img-limited {
	max-height: 5em;
	object-fit: contain;
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

/* Ajoute ce bloc dans ton fichier CSS/scss global ou local */
.centered-card {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  background: linear-gradient(90deg, #f8fafc 0%, #e0e7ef 100%);
  transition: box-shadow 0.3s, background 0.3s;
}
.centered-card:hover {
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  background: linear-gradient(90deg, #e0e7ef 0%, #f8fafc 100%);
}
