<!-- Les paires enregistrées -->
<form *ngIf="tournament" [formGroup]="newTeamGroup">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Joueur 1</th>
                <th>Joueur 2</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of tournament.teams,let i=index">
                <td>{{i+1}}</td>
                <td *ngFor="let player of team.players">
                    <span *ngIf="membership(player.person.license_number)"> ✅</span>
                    <span *ngIf="!membership(player.person.license_number)"> &#11036;</span>
                    {{player.person.lastname | uppercase}}
                    {{player.person.firstname}}
                </td>
                <td class="text-start" *ngIf="team.is_isolated_player"> <i class="bi bi-person-arms-up"></i> </td>
                <td class="text-center danger">
                    <i class="fa-regular fa-trash-can" (click)="deleteTeam(team.id)"></i>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-start">
                    <small>
                        nota : les adhérents à jour sont marqués d'un ✅
                    </small>
                </td>
            </tr>

            <!-- bandeau ajout équipe -->
            <tr>
                <td></td>
                <td>
                    <app-input-player listeId="player1" type="text" class="form-control" formControlName="player1"
                        required>
                    </app-input-player>
                    <span *ngIf="player1?.touched && player1?.hasError('required')">
                        <small class="text-warning"> veuillez définir le joueur1</small>
                    </span>
                </td>
                <td>
                    <app-input-player listeId="player2" type="text" class="form-control"
                        formControlName="player2"></app-input-player>
                    <span *ngIf="player2?.touched && player2?.hasError('required')">
                        <small class="text-warning"> veuillez définir le joueur2</small>
                    </span>

                </td>
                <td class="text-center align-content-center action">
                    <i (click)="addTeam()" class="fa-regular fa-square-plus"></i>
                </td>
            </tr>
        </tbody>
    </table>

</form>