.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50%;
}

.bcsto {
    width: auto;
    max-height: 100px;
}

.photo {
    border-style: solid;
    border-width: 10px;
    border-color: rgb(237, 234, 230);
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
    filter: grayscale(80%);

}