@if (pageTemplate) {
  <div class="  justify-content-center">
    @if (pageTemplate === PAGE_TEMPLATES.SEQUENTIAL) {
      <app-sequential-render [snippets]="page_snippets" [row_cols]="row_cols"></app-sequential-render>
    }
    @if (pageTemplate === PAGE_TEMPLATES.PUBLICATION) {
      <app-publication-render [snippets]="page_snippets" [scroll_to_snippet]="scroll_to_snippet" [row_cols]="row_cols"></app-publication-render>
    }
    @if (pageTemplate === PAGE_TEMPLATES.A_LA_UNE) {
      <app-a-la-une-render [snippets]="page_snippets" [selected_title]="snippet_title" [row_cols]="row_cols"></app-a-la-une-render>
    }
    @if (pageTemplate === PAGE_TEMPLATES.LOADABLE) {
      <app-loadable-render [snippets]="page_snippets" [row_cols]="row_cols"></app-loadable-render>
    }
    @if (pageTemplate === PAGE_TEMPLATES.TROMBINOSCOPE) {
      <app-trombinoscope-render [snippets]="page_snippets" [row_cols]="row_cols"></app-trombinoscope-render>
    }
    @if (pageTemplate === PAGE_TEMPLATES.CARDS_top) {
      <app-cards-img-top-render [snippets]="page_snippets" [row_cols]="row_cols"></app-cards-img-top-render>
    }
    @if (pageTemplate === PAGE_TEMPLATES.CARDS_top_left) {
      <app-cards-img-top-left-render [snippets]="page_snippets" [row_cols]="row_cols"></app-cards-img-top-left-render>
    }
    @if (pageTemplate === PAGE_TEMPLATES.CARDS_bottom) {
      <app-cards-img-bottom-render [snippets]="page_snippets" [row_cols]="row_cols"></app-cards-img-bottom-render>
    }
    @if (pageTemplate === PAGE_TEMPLATES.ALBUMS) {
      <app-albums-render [snippets]="page_snippets" [row_cols]="row_cols"></app-albums-render>
    }
    <!-- gestion du template inconnu -->
    @if (!isKnownTemplate(pageTemplate)) {
      <div class="text-center mt-5">
        <h1 class="display-3">.... Oups ....</h1>
        <div class="lead">
          <p>Le modèle de page "{{pageTemplate}}" n'est pas reconnu.</p>
        </div>
      </div>
    }
  </div>
}