<div class="px-1 mt-1">

    @if (page) {
    @switch (pageTemplate) {
    @case (PAGE_TEMPLATES.SEQUENTIAL) {
    <ng-container *ngTemplateOutlet="sequential; context: { snippets: snippets }"></ng-container>
    }
    @case (PAGE_TEMPLATES.PUBLICATIONS) {
    <ng-container *ngTemplateOutlet="publications; context: { snippets: snippets }"></ng-container>
    }
    @case (PAGE_TEMPLATES.A_LA_UNE) {
    <ng-container *ngTemplateOutlet="a_la_une; context: { snippets: snippets }"></ng-container>
    }
    @case (PAGE_TEMPLATES.LOADABLE) {
    <ng-container *ngTemplateOutlet="loadable; context: { snippets: snippets }"></ng-container>
    }
    @case (PAGE_TEMPLATES.TROMBINOSCOPE) {
    <ng-container *ngTemplateOutlet="trombinoscope; context: { snippets: snippets }"></ng-container>
    }
    @case (PAGE_TEMPLATES.CARDS_top) {
    <ng-container *ngTemplateOutlet="cards_img_top; context: { snippets: snippets }"></ng-container>
    }
    @case (PAGE_TEMPLATES.CARDS_bottom) {
    <ng-container *ngTemplateOutlet="cards_img_bottom; context: { snippets: snippets }"></ng-container>
    }
    @case (PAGE_TEMPLATES.ALBUMS) {
    <ng-container *ngTemplateOutlet="albums; context: { snippets: snippets }"></ng-container>
    }
    }
    }
</div>

<ng-template #sequential let-snippets="snippets">
    <div class="offset-md-4 col-md-4 justify-content-center">
            @for (snippet of snippets; track snippet.id) {
            <div id="{{snippet.title}}" class="">
                {{snippet.title}} : 
                <span class="text-muted">{{snippet.subtitle}}</span>
                <div class="ms-2 snippet-float-box">
                    <div class="snippet-float-img text-center">
                        <img [src]="snippet.image_url | async" alt="{{snippet.title}}" class="card-img-top">
                    </div>
                    <span class="snippet-float-text" [innerHTML]="snippet.content"></span>
                </div>
            </div>
            }
    </div>
</ng-template>
<ng-template #publications let-snippets="snippets">
    <div class="offset-md-2 col-md-8 justify-content-center">

        <div class="row">
            <div class="col-md-3">
                <div class="position-sticky" style="top: 0; z-index: 2; background: #fff;">
                    @for (snippet of snippets; track snippet.id) {
                    <div (click)="scrollToElement(snippet.title)" class="fs-4 text-secondary hover-title">
                        {{snippet.title}}</div>
                    }
                </div>
            </div>

            <div class="col-md-7">
                @for (snippet of snippets; track snippet.id) {
                <div class="col">
                    <div class="card border-0" id="{{snippet.title}}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <img [src]="snippet.image_url | async" alt="{{snippet.title}}"
                                        class="card-img-top ">
                                </div>
                                <div class="col-7">
                                    <h2 class="card-title">
                                        {{snippet.title}}
                                        <div class="fs-5 text-muted">{{snippet.subtitle}}</div>
                                    </h2>
                                    <small class="text-muted">Publié le {{snippet.createdAt | date:'shortDate'}}</small>
                                </div>
                            </div>
                            <div class="card-text mt-3">
                                <span class="card-text" [innerHTML]="snippet.content"></span>
                            </div>
                        </div>
                    </div>
                    <hr class="bg-secondary">
                </div>
                }
            </div>
        </div>
    </div>
</ng-template>

<ng-template #a_la_une let-snippets="snippets">
    <div class="justify-content-center">

        <div class="row">
            <div class="col">
                @for (snippet of snippets; track snippet.id) {
                <div class="card border-0" id="{{snippet.title}}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <img [src]="snippet.image_url | async" alt="{{snippet.title}}" class="card-img-top ">
                            </div>
                            <div class="col-9">
                                <h5 class="card-title">
                                    {{snippet.title}}
                                    <span class=" text-muted">{{snippet.subtitle}}</span>
                                </h5>
                                <small class="text-muted">Publié le {{snippet.createdAt | date:'shortDate'}}</small>
                                <div class="card-text mt-3">
                                    <span class="card-text innerHTML"
                                        [innerHTML]="snippet.content | truncate:300"></span>
                                    <span (click)="readMore(snippet)" class="text-info">... lire plus </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <hr class="bg-secondary"> -->
                }
            </div>
            <!-- </div> -->
        </div>
    </div>
</ng-template>

<ng-template #loadable let-snippets="snippets">
    <div class="container-sm-fluid container p-md-5 p-0 justify-content-start">
        @if (snippets.length === 0) {
        <div class="text-center mt-5">
            <h1 class="display-3">.... Désolé ....</h1>
            <div class="lead">
                <p>Il n'y a aucune publication disponible sous cette section.</p>
                <p>... mais peut-être n'êtes-vous pas connecté ? ...</p>
                <p>Sinon, veuillez contacter l'administrateur.</p>
            </div>
        </div>
        }
        @if (!isMobile()) {
        @for (snippet of snippets; track snippet.id) {
        <div class="card mb-1">
            <div class="row g-0  align-items-center">
                <div class="col-md-2 text-secondary">
                    <i [class]="doc_icon(snippet.file)" style="font-size: 4rem;"></i>
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6 ">
                                <h5 class="fw-bolder"> {{ snippet.title}} </h5>
                                <div>
                                    <button class="btn  btn-outline-primar1"
                                        (click)="downloadDocument(snippet); $event.preventDefault()">
                                        Télécharger le document
                                    </button>
                                </div>
                            </div>
                            <div class="col-6 ">
                                <p>
                                    <span class="fw-bold">Contenu :</span>
                                    <span [innerHTML]="snippet.content"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        }
        @if (isMobile()) {
        @for (snippet of snippets; track snippet.id) {
        <div class="card mb-1">
            <div class="card-body">
                <div class="row text-secondary">
                    <h5 class="fw-bolder">
                        <i [class]="doc_icon(snippet.file)" style="font-size: 3rem;"></i>
                        {{ snippet.title}}
                    </h5>
                </div>
                <div class="row align-items-center">
                    <span class="fw-bold">Contenu :</span>
                    <span [innerHTML]="snippet.content"></span>
                </div>
                <button class="btn  btn-outline-primary nice_shadow"
                    (click)="downloadDocument(snippet); $event.preventDefault()">
                    Télécharger le document
                </button>
            </div>
        </div>
        }
        }
    </div>
</ng-template>

<ng-template #trombinoscope let-snippets="snippets">
    <div class="offset-md-1 col-md-10 offset-xl-3 col-xl-6 justify-content-start">

        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
            @for (snippet of snippets; track snippet.id) {
            <div class="col">
                <div class="card h-100 nice_shadow">
                    <img [src]="snippet.image_url | async" style="max-width: 100%; max-height: 20vh; object-fit: cover;"
                        alt="{{snippet.title}}" class="img-fluid rounded-start">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{snippet.title}}</h5>
                        <div class="card-text mt-4">
                            <h6 class="fw-bold"> {{snippet.subtitle}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>

    </div>
</ng-template>

<ng-template #cards_img_top let-snippets="snippets">
    <div class=" col-md-12  justify-content-start">

        <div class="row row-cols-1 row-cols-md-3 justify-content-center  gy-5 g-md-2 ">
            @for (snippet of snippets; track snippet.id) {
            <div class="col">
                <div class="card h-100 nice_shadow">
                    <img *ngIf="snippet.image" [src]="snippet.image_url | async"
                        style="max-height: 20vh; width: 100%; height: auto; object-fit: cover;" alt="{{snippet.title}}"
                        class="img-fluid card-img-top">
                    <div class="card-body">
                        <div class="fs-4 card-title ">
                            {{snippet.title}}
                            <div class="text-muted ">{{snippet.subtitle}}</div>
                            <hr>
                        </div>
                        <div class="card-text ps-3" [innerHTML]="snippet.content"> </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

</ng-template>

<ng-template #cards_img_bottom let-snippets="snippets">
    <div class=" col-md-12  justify-content-start">

        <div class="row row-cols-1 row-cols-md-3 justify-content-center  gy-5 g-md-2 ">
            @for (snippet of snippets; track snippet.id) {
            <div class="col">
                <div class="card h-100 nice_shadow">
                    <div class="card-body">
                        <div class="fs-4 card-title ">
                            {{snippet.title}}
                            <div class="text-muted ">{{snippet.subtitle}}</div>
                            <hr>
                        </div>
                        <div class="card-text ps-3" [innerHTML]="snippet.content"> </div>
                    </div>
                    @if (snippet.image) {
                    <img [src]="snippet.image_url | async"
                        style="max-height: 20vh; width: 100%; height: auto; object-fit: cover;" alt="{{snippet.title}}"
                        class="img-fluid card-img-bottom">
                    }
                </div>
            </div>
            }
        </div>
    </div>
</ng-template>

<ng-template #albums let-snippets="snippets">
    <div class="offset-md-2 col-md-8 text-center mb-3">
        <h2>Albums </h2>

        <!-- <div > -->
        @for (snippet of snippets; track snippet.id) {

        <app-album [album]="snippet"></app-album>
        }
        <!-- </div> -->
    </div>
</ng-template>