<div class="card shadow-sm mt-3">
    <div class="card-header">
        <h5>Les produits</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="snippetForm">
            <table *ngIf="snippets" class="table">
                <thead>
                    <tr>
                        <th class="col-2">Titre</th>
                        <th class="col-3">Sous-titre</th>
                        <th class="col-1">Contenu</th>
                        <th class="col-1 text-center">Modèle</th>
                        <th class="col-1 text-center">Première</th>
                        <th class="col-2 text-center">rang</th>
                        <th class="col-1">image</th>
                        <th class="col-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let snippet of snippets">
                        <td>{{ snippet.title }}</td>
                        <td>{{ snippet.subtitle }}</td>
                        <td>{{ snippet.content }}</td>
                        <td class="text-center">{{ snippet.template }}</td>
                        <td class="text-end">{{ snippet.featured  }}</td>
                        <td class="text-center">{{ snippet.rank }}</td>
                        <td class="text-center">
                            <img [src]="snippet.image" alt="{{ snippet.title }}" class="img-fluid">
                        </td>
                        <td class="text-center ">
                            <button class="btn btn-outline-primary" (click)="onReadSnippet(snippet)">
                                <i class="bi bi-pen"></i>
                            </button>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td> <input type="text" class="form-control" formControlName="title"> </td>
                        <td> <input type="text" class="form-control" formControlName="subtitle"> </td>
                        <td> <input type="text" class="form-control" formControlName="content"> </td>
                        <td> <input list="datalist" type="text" class="form-control" formControlName="template">
                            <datalist id="datalist">
                                <option *ngFor="let template of templates" [value]="template">
                                    {{ template }}
                                </option>
                            </datalist>
                        </td>
                        <td class="text-center">
                            <div class="mx-auto  form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" formControlName="featured">
                            </div>
                        </td>
                        <td> <input type="text" class="form-control" formControlName="rank"> </td>
                        <td> <input type="text" class="form-control" formControlName="image"> </td>

                        <td class="text-center ">
                            <button class="btn btn-outline-primary btn-sm" [disabled]="!form_valid"
                                (click)="snippet_selected ? onUpdateSnippet() :onCreateSnippet()">
                                <i class="bi bi-check2-square"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
</div>