
<div class="ms-1 ">

    <nav aria-label="breadcrumb">
        <div class="text-uppercase fw-bolder text-success d-flex align-items-center">
            <ol class="breadcrumb " style="margin-bottom: 0;">
                <li *ngFor="let crumb of breadcrumb" class="breadcrumb-item">
                    <a *ngIf="crumb.path" >{{ crumb.label | uppercase}}</a>
                    <span *ngIf="!crumb.path">{{ crumb.label | uppercase }}</span>
                </li>
            </ol>
            <span >: {{ title$ | async | uppercase}}</span>
        </div>
    </nav>
</div>
