<div [class]="autoWrapped ? 'carousel-viewport ' : ''">

    @if (photos$ | async; as photos) {

    <div class="carousel slide carousel-fade" id="myCarousel">
        <div class="carousel-inner">
            @for (photo of photos; track $index) {
            <div [class]="' carousel-item ' + ($index === photoIndex ? 'active' : '')">
                <img [src]="photo.url$ | async" class="d-block w-100" [alt]="'photo'+$index"
                    style="max-height: 65vh; object-fit: contain;" (click)="download(photo)" />
            </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <span class="text-muted text-white ms-2 mb-2"> téléchargement de l'image possible en cliquant dessus
    </span>
    }
</div>