<button *ngIf="!show_login" class="btn btn-primary btn-sm" type="button" (click)="show_login = !show_login">
  <i class="bi bi-person-circle"></i>
  Mon Espace
</button>
<div *ngIf="show_login" class="row align-items-center">

  <div *ngIf="!(logged_member)" class="row align-items-center">
    <div class="col-8">
      <form [formGroup]="loginForm">

        <input class="form-control form-control-sm" type="mail" placeholder="Mél" id="username" autocomplete="username"
          formControlName="email">

        <div class="input-group">
          <input class="form-control form-control-sm" placeholder="Mot de passe" autocomplete="current-password"
            [type]="show_password?'text':'password'" formControlName="password">
          <span class="input-group-text">
            <i [class]="show_password?'bi bi-eye-slash':'bi bi-eye'" (click)="show_password = !show_password"></i>
          </span>
        </div>
      </form>
    </div>

    <div class="col-4">
      <button [disabled]="loginForm.invalid" class=" btn btn-success btn-sm" type="submit"
        (click)="signIn()">Login</button>
      <button class=" btn btn-warning btn-sm" type="submit" (click)="need_reset()">Reset</button>
    </div>
    <!-- form status : {{loginForm.status}} <br>
    password status : {{loginForm.get('password')?.status}} <br>
    email status : {{loginForm.get('email')?.status}} <br>
    email errors : {{loginForm.get('email')?.errors | json}} <br> -->

    <span *ngIf="loginForm.invalid" class="text-danger">Formulaire incomplet</span>
  </div>

  <div *ngIf="logged_member" class="row align-items-center">
    <div class="col-auto"> {{logged_member.firstname}} </div>
    <div class="col-auto">
      <button class=" btn btn-outline-success btn-sm" type="btn" (click)="signOut()">Logout</button>
    </div>
  </div>
</div>