<div *ngIf="!(logged_member$ | async)" class="row align-items-center">
    <form [formGroup]="loginForm" class="col-8">
        <input class="form-control form-control-sm" type="mail" placeholder="Mail" aria-label="Mail"
            formControlName="email">
        <input class="form-control form-control-sm" type="password" placeholder="Mot de passe" aria-label="Mpassword"
            formControlName="password">
    </form>
    <div class="col-4">
        <button [disabled]="loginForm.errors" class=" btn btn-success" type="btn" (click)="signIn()">Login</button>
    </div>
</div>
<div *ngIf="logged_member$ | async" class="">
    <!-- <div class="col-10"> -->
    <i (click)="signOut()" class="fs-4 bi-box-arrow-up-right"></i>
    <span class="ms-1 d-none d-sm-inline">
        Bienvenue {{(logged_member$ | async)?.firstname}} </span>

    <!-- </div> -->
    <!-- <div class="col-2"> -->
    <!-- <button class="btn btn-danger" > -->

    <!-- </button> -->
    <!-- </div> -->
</div>