<!-- formulaire 1er niveau de login -->
<div *ngIf="!(logged_member)" class="row align-items-center">
  <!-- saisies de mail + pwd -->
  <div class="col-auto">
    <form [formGroup]="loginForm">
      <input class="form-control form-control-sm" type="email" placeholder="Mél" id="email" autocomplete="username"
        formControlName="email">

      <div class="input-group">
        <input class="form-control form-control-sm" placeholder="Mot de passe" autocomplete="current-password"
          [type]="show_password?'text':'password'" formControlName="password" id="password">
      </div>
    </form>
  </div>
  <!-- boutons login ou reset -->
  <div class="col-auto">
    <button [disabled]="loginForm.invalid" class="col-12  btn btn-success btn-sm" type="submit"
      (click)="signIn()">Login</button>
    <!-- <button class=" btn btn-warning btn-sm" type="submit" (click)="resetPassword()">Reset</button> -->

    <div class="dropdown">
      <button [disabled]="email.invalid" class=" col-12 btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false"> autre </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#" (click)="signUp()">Créer un compte</a></li>
        <li><a class="dropdown-item" href="#" (click)="resetPassword()">Réinitialiser mot de passe</a></li>
      </ul>
    </div>
  </div>

</div>

<!-- si loggé affichage prénom et droplist = [ logOut,...] -->
<div *ngIf="logged_member" class="row align-items-center">
  <div class="dropdown">
    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
      data-bs-toggle="dropdown" aria-expanded="false">
      <i [class]="group_icon"></i>
      {{logged_member.firstname}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#" >{{my_group}}</a></li>
      <li><a class="dropdown-item" href="#" (click)="signOut()">Log out</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
    </ul>
  </div>
</div>
<!-- </div> -->