<div class="card mt-3">
    <h4 class="card-header text-center">tables {{production_apid}} </h4>
    <div class="card-body">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Production</th>
                    <th>Sandbox</th>
                    <!-- <th>size</th> -->
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let table of production_tables; let i = index">
                    <td class="text-center ">{{ i + 1 }}</td>


                    <td>{{ name(table.Table?.TableName ?? '') }} :
                    {{ table.Table?.ItemCount }} items -
                    {{ table.Table?.TableSizeBytes | number: '1.0-0' }} bytes</td>

                    <td>{{ name(sandbox_tables[i].Table?.TableName ?? '') }} :
                    {{ sandbox_tables[i].Table?.ItemCount }} items -
                    {{ sandbox_tables[i].Table?.TableSizeBytes | number: '1.0-0' }} bytes</td>

                    <td class="text-center">
                        <button class="btn btn-sm btn-primary" (click)="cloneTable(table.Table?.TableName ?? '')">Clone</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>