<div class="modal-header pb-0 ">
    <div class="col justify-content-between">
        <div class="row align-items-center">
            <h5 class="col-10 modal-title">
                Bonjour <span class="fw-bolder">{{member.firstname}} </span>
            </h5>
            <div class="col-1 text-center">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="close()"></button>
            </div>
        </div>
        <div class="row">
            <h6 *ngIf="mode==='reset_password'"> Réinitialisation du mot de passe </h6>
            <h6 *ngIf="mode==='create_account'">Création de compte </h6>
        </div>
    </div>
</div>

<div class="modal-body">
    <form [formGroup]="loggingForm">

        <ng-container *ngIf="mode==='reset_password'">

            <p class="text-muted">Un code vous sera envoyé par email, à saisir avec votre nouveau mot de passe.
                <button type="button" (click)="resetPassword()" class="btn btn-primary btn-sm">
                    m'envoyer le code
                </button>
            </p>

            <ng-container *ngTemplateOutlet="pwd"></ng-container>
            <ng-container *ngTemplateOutlet="code"></ng-container>

        </ng-container>

        <ng-container *ngIf="mode==='create_account'">
            <ng-container *ngTemplateOutlet="pwd"></ng-container>
            <p class="text-muted">confirmez l'ouverture de compte ; un code vous sera envoyé
                <button [disabled]="password.invalid" type="button" (click)="signUp()"
                    class="btn btn-primary btn-sm">confirmez</button>
            </p>
            <ng-container *ngTemplateOutlet="code"></ng-container>
        </ng-container>

        <ng-template #pwd>
            <div class="mb-3">
                <label for="password" class="form-label">Renseignez votre mot de passe : </label>
                <div
                    [ngClass]="(password.invalid && (password.dirty || password.touched)) ? 'input-group border-danger mb-3' : 'input-group mb-3'">
                    <input class="form-control form-control-sm" placeholder="Mot de passe"
                        [type]="show_password?'text':'password'" formControlName="password">
                    <span class="input-group-text">
                        <i [class]="show_password?'bi bi-eye-slash':'bi bi-eye'"
                            (click)="show_password = !show_password"></i>
                    </span>
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.['pattern']" class="form-text text-danger">
                        au moins 8 caractères dont une majuscule, une minuscule, un chiffre et un caractère spécial.
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #code>
            <div class="mb-3">
                <label class="form-label" for="google_dont_autofill_code">Renseignez le code reçu par mèl</label>
                <input type="text" class="form-control" formControlName="secret_code" placeholder="code reçu par mèl"
                    name="google_dont_autofill_code">
            </div>
        </ng-template>

    </form>

    <!-- </ng-container> -->

</div>
<div class="modal-footer">
    <div class="justify-content-between">
        {{loggingForm.valid ? 'Formulaire valide' : 'Formulaire incomplet'}}
        <button type="button" class="btn btn-primary btn-sm" [disabled]="!loggingForm.valid"
            (click)="got_it()">OK</button>

    </div>
</div>