<form [formGroup]="form">

    <h6 class="mt-1"><i class="bi bi-gear-fill me-2"></i>Contenu</h6>
    <div class="row">
        <div class="col-8">
            <label class="form-label form-label-sm mb-0">Titre</label>
            <input type="text" formControlName="title" class="form-control form-control-sm mb-1"
                (keyup.enter)="onEnterSave($event)">
            <label class="form-label form-label-sm mb-0">Sous-titre</label>
            <input type="text" formControlName="subtitle" class="form-control form-control-sm text-muted mb-1"
                (keyup.enter)="onEnterSave($event)">
        </div>
        <div class="col-4 text-center">
            <img *ngIf="snippet && snippet.image_url" [src]="snippet.image_url"
                alt="{{ form.get('title')?.value }}" class="img-fluid snippet-img-limited">
            <div *ngIf="form.get('image')?.value && (!snippet || !snippet.image_url)" class="text-muted small">
                <i class="bi bi-hourglass-split"></i> Chargement...
            </div>
        </div>
    </div>

    <div class="form-label text-muted mb-0 mt-2">
        <button type="button" class="btn btn-sm btn-outline-success " (click)="snippet && onSnippetContentClick(snippet)">
            <i class="bi bi-arrows-fullscreen"></i> Éditeur texte </button>
    </div>

    <h6 class="mt-3"><i class="bi bi-gear-fill me-2"></i>Paramètres de publication</h6>

    <div class="mt-2 d-flex flex-row align-items-center gap-3">
        <span class="form-label text-muted mb-0">Publié le (sinon aujourd'hui):</span>
        <input type="date" formControlName="publishedAt" class="form-control form-control-sm d-inline-block w-auto"
            (keydown.enter)="saveSnippetSelected()" (change)="saveSnippetSelected()" placeholder="publication">
    </div>

    <div class="mt-2 d-flex flex-row align-items-center gap-3">
        <div class="form-check form-switch mb-0 d-flex flex-row align-items-center">
            <input [formControlName]="'public'" (change)="onToggleChange('public', $event.target.checked)"
                [ngClass]="form.get('public')?.value ? 'bg-success' : 'bg-light'" class="form-check-input"
                style="width: 3em; height: 1.5em;" type="checkbox" role="switch">
            <label class="form-check-label text-muted ms-2">Public</label>
        </div>
        <div class="form-check form-switch mb-0 d-flex flex-row align-items-center">
            <input [formControlName]="'featured'" (change)="onToggleChange('featured', $event.target.checked)"
                [ngClass]="form.get('featured')?.value ? 'bg-success' : 'bg-light'" class="form-check-input"
                style="width: 3em; height: 1.5em;" type="checkbox" role="switch">
            <label class="form-check-label text-muted ms-2">à la une</label>
        </div>
    </div>

    <h6 class="mt-3"><i class="bi bi-gear-fill me-2"></i>Fichiers associés</h6>

    <!-- image url input with selection button -->
    <div class="form-label mb-0 mt-2">
        <label class="mb-1">Illustration :</label>
        <div class="d-flex align-items-center gap-2">
            <input class="form-control form-control-sm" 
                   [value]="form.get('image')?.value ? getNameFromPath(form.get('image')?.value) : 'Aucune image'" 
                   readonly>
            <button type="button" class="btn btn-outline-primary btn-sm" 
                    (click)="requestImageSelection()">
                <i class="bi bi-arrow-right"></i> Sélectionner →
            </button>
        </div>
    </div>


    <!-- file url input with selection button -->
    <div class="form-label mb-0 mt-2">
        <label class="mb-1">Fichier à télécharger :</label>
        <div class="d-flex align-items-center gap-2">
            <input class="form-control form-control-sm"
                   [value]="form.get('file')?.value ? getNameFromPath(form.get('file')?.value) : 'Aucun fichier'"
                   readonly>
            <button type="button" class="btn btn-outline-primary btn-sm"
                    (click)="requestFileSelection()">
                <i class="bi bi-arrow-right"></i> Sélectionner →
            </button>
        </div>
    </div>


    <!-- folder selector (albums) with selection button -->
    <div class="form-label mb-0 mt-2">
        <label class="mb-1">Album photo :</label>
        <div class="d-flex align-items-center gap-2">
            <input class="form-control form-control-sm"
                   [value]="form.get('folder')?.value ? getNameFromPath(form.get('folder')?.value) : 'Aucun dossier'"
                   readonly>
            <button type="button" class="btn btn-outline-primary btn-sm"
                    (click)="requestFolderSelection()">
                <i class="bi bi-arrow-right"></i> Sélectionner →
            </button>
        </div>
    </div>
    
</form>