<div class="container-fluid container-xl px-0">
  <form *ngIf="loaded" [formGroup]="systemFormGroup">
    <!-- <div  class="mt-2"> -->
    <div class="card mt-2 ">
      <h5 class="card-header">sauvegarde configuration</h5>
      <div class="card-body">
  <div class="d-flex flex-row flex-nowrap justify-content-end gap-2">
          <button class="btn btn-outline-success btn-sm w-auto">
            <i class="bi-file-earmark-arrow-up-fill"></i>
            <a [href]="export_file_url" style="text-decoration: none; color: var(--bs-success);"
              download="conf.txt">export .txt</a>
          </button>
          <button class="btn btn-outline-success btn-sm w-auto" (click)="fileInput.click()">
            <i class="bi-file-earmark-arrow-down-fill"></i>
            import.txt
          </button>
          <input #fileInput type="file" style="display:none" class="form-control form-control-sm"
            (change)="onInput($event)">
          <button
            [class]="systemFormGroup.touched ? 'btn btn-success btn-sm w-auto' : 'btn btn-outline-success btn-sm w-auto'"
            (click)="save_configuration()">
            <i class="bi-cloud-arrow-up-fill"></i>
            sauvegarder
          </button>
        </div>
      </div>
    </div>
    <div>
      <!-- paramètres divers -->
      <!-- <div class="card mt-2">
          <h5 class="card-header">divers</h5>
          <div class="card-body"> -->
      <div class="row g-3 mt-2">
        <div class="col-12 col-md-6">
          <div class="card h-100">
            <h5 class="card-header">tarification des droits de table (€)</h5>
            <div class="card-body p-0" formArrayName="fee_rates">
              <div class="table-responsive">
                <table class="table table-bordered align-middle mb-0">
                  <thead class="table-light">
                    <tr>
                      <th class="text-center">Type</th>
                      <th class="text-center">Adhérent</th>
                      <th class="text-center">Non adhérent</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let fee of fee_rates.controls; let i = index" [formGroupName]="i">
                      <td class="text-center">
                        {{fee.get('key')?.value}}
                      </td>
                      <td>
                        <input type="number" class="form-control text-center" formControlName="member_price">
                      </td>
                      <td>
                        <input type="number" class="form-control text-center" formControlName="non_member_price">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card h-100 mb-3">
            <h5 class="card-header">Développeur / Test mode</h5>
            <div class="card-body">
              <div class="d-flex flex-wrap align-items-center gap-2">
                <span>Mode trace :</span>
                <div class="form-check form-switch">
                  <input type="checkbox" class="form-check-input" role="switch" formControlName="trace_mode">
                  <label class="form-check-label ms-2">{{get_trace_mode() ? 'activé' : 'désactivé'}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div>
        </div> -->
      <!-- paramètres comptabilité -->
      <div class="card mt-2">
        <h5 class="card-header">comptabilité</h5>
        <div class="card-body">
          <div class="card mt-2">
            <div class="card-header">paramètres généraux</div>
            <div class="card-body">
              <div class="row gx-1 gy-3">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <div class="input-group">
                    <span class="input-group-text">saison</span>
                    <button class="btn btn-outline-secondary" type="button" (click)="prev_season()">
                      <i class="bi-caret-left-fill"></i>
                    </button>
                    <span class="input-group-text">{{season}}</span>
                    <button class="btn btn-outline-secondary" type="button" (click)="next_season()">
                      <i class="bi-caret-right-fill"></i>
                    </button>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="row g-2 align-items-center">
                    <div class="col-12 col-sm-8">
                      <div class="input-group">
                        <span class="input-group-text">banque Club</span>
                        <input type="text" class="form-control" formControlName="club_bank_key">
                      </div>
                    </div>
                    <div class="col-12 col-sm-4">{{club_bank}}</div>
                  </div>
                </div>
              </div>
              <div class="mt-3">comptes pertes et profits :</div>
              <div class="row g-2 my-2" formGroupName="profit_and_loss">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <div class="input-group">
                    <span class="input-group-text">charge/débit</span>
                    <input type="text" class="form-control" formControlName="debit_key">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <span class="input-group-text">recette/crédit</span>
                    <input type="text" class="form-control" formControlName="credit_key">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- structure comptes de résultats -->
          <div class="card mt-2">
            <h6 class="card-header"> comptes de résultats </h6>
            <div class="card-body" formGroupName="revenue_and_expense_tree">
              <div class="row">
                <div class="col-6 text-center fw-bold text-uppercase">charges</div>
                <div class="col-6 text-center fw-bold text-uppercase">recettes</div>

              </div>
              <div *ngFor="let section of sections.controls" class="mb-3">
                <h6>{{section.get('description')?.value }}</h6>
                <div class="row g-2">
                  <div class="col-12 col-md-6 mb-2 mb-md-0">
                    <div class="card h-100 bg-body-secondary" formArrayName="expenses">
                      <div class="card-body">
                        <div *ngFor="let expense of expenses.controls; let i = index">
                          <div class="row g-2" [formGroupName]="i"
                            *ngIf="expense.get('section')?.value === section.get('key')?.value">
                            <div class="col-4 col-md-3">
                              <input type="text" class="form-control" formControlName="key">
                            </div>
                            <div class="col-8 col-md-9">
                              <input type="text" class="form-control" formControlName="description">
                            </div>
                            }
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="card h-100 bg-body-tertiary" formArrayName="revenues">
                      <div class="card-body">
                        <div *ngFor="let revenue of revenues.controls; let i = index">
                          <div class="row g-2" [formGroupName]="i"
                            *ngIf="revenue.get('section')?.value === section.get('key')?.value">
                            <div class="col-4 col-md-3">
                              <input type="text" class="form-control" formControlName="key">
                            </div>
                            <div class="col-8 col-md-9">
                              <input type="text" class="form-control" formControlName="description">
                            </div>
                            }
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-2">
          <h6 class="card-header">codes banques</h6>
          <div class="card-body">
            <div class="row g-2" formArrayName="banks">
              <div class="col-12 col-md-4 mb-2 mb-md-0" *ngFor="let bank of banks.controls; let i = index"
                [formGroupName]="i">
                <div class="input-group">
                  <span class="input-group-text">#</span>
                  <input type="text" class="form-control" formControlName="key" (change)="onBankKeyChange(i)">
                  <input type="text" class="form-control" formControlName="name">
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- paramètres UE site -->
    <div class="card mt-2">
      <h5 class="card-header">site</h5>
      <div class="card-body">
        <h6>recadrage des vignettes stockées du site</h6>
        <div class="d-flex flex-column flex-md-row gap-2" formGroupName="thumbnail">
          <div class="input-group flex-fill">
            <span class="input-group-text">largeur (px)</span>
            <input type="text" class="form-control" formControlName="width">
          </div>
          <div class="input-group flex-fill">
            <span class="input-group-text">hauteur (px)</span>
            <input type="text" class="form-control" formControlName="height">
          </div>
          <div class="input-group flex-fill">
            <span class="input-group-text">ratio</span>
            <input type="text" class="form-control" formControlName="ratio">
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </form>
</div>