<div class="container">
    <h5>Les produits</h5>
    <form [formGroup]="productForm">
        <div class="col-md-8 offset-2">
            <table *ngIf="products" class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Description</th>
                        <th>Catégorie</th>
                        <th>Prix</th>
                        <!-- <th>couleur</th> -->
                        <th>2eme nom</th>
                        <th>actif</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{ product.glyph }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.price }}</td>
                        <!-- <td>{{ product.color }}</td> -->
                        <td>
                            <div class=" form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    [(ngModel)]="product.paired" [ngModelOptions]="{standalone: true}" disabled>
                            </div>
                        </td>
                        <td>

                            <div class=" form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    [(ngModel)]="product.active" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="onModProduct(product)">
                            </div>
                        </td>
                        <!-- <td> <input type="checkbox" input="product.active"> </td> -->
                        <td class="text-center ">
                            <button class="btn btn-outline-primary" (click)="onReadProduct(product)">
                                <i class="bi bi-pen"></i>
                            </button>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td> <input type="text" class="form-control" formControlName="glyph"> </td>
                        <td> <input type="text" class="form-control" formControlName="description"> </td>
                        <td> <input type="text" class="form-control" formControlName="category"> </td>
                        <td> <input type="text" class="form-control" formControlName="price"> </td>
                        <!-- <td> <input type="text" class="form-control" formControlName="color"> </td> -->

                        <td>
                            <div class=" form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" formControlName="paired">
                            </div>
                        </td>
                        <td>
                            <div class=" form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" formControlName="active">
                            </div>
                        </td>
                        <td class="text-center ">
                            <button class="btn btn-outline-primary" [disabled]="!product_form_filled()"
                                (click)="product_selected ? onUpdateProduct() :onCreateProduct()">
                                <i class="bi bi-check2-square"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>


<!-- <ng-template #productFormTemplate>
    <td>
        <input type="text" class="form-control" formControlName="name">
    </td>
    <td>
        <input type="text" class="form-control" formControlName="price">
    </td>
    <td>
        <input type="text" class="form-control" formControlName="description">
    </td>
    <td>
        <input type="text" class="form-control" formControlName="category">
    </td>
    <td>
        <input type="checkbox" formControlName="active">
    </td>
    <td>
        <button (click)="onAddProduct()">Ajouter un produit</button>
        <button (click)="onSaveProduct()">Enregistrer</button>
    </td>
</ng-template> -->