<div class="row">
    <div class="col-md-3 col-lg-3 gap-lg-1">
        <div class="position-sticky"
            style="top: 64px; z-index: 2; background: #fff; max-height: calc(100vh - 64px); overflow-y: auto;">
            <div class="card">
                <div class="card-header  text-uppercase">
                    sommaire
                </div>
                <div class="card-body">
                    @for (snippet of snippets; track snippet.id) {
                    <div class="" (click)="scrollTo(getAnchorId(snippet))" [class.fw-bold]="isSelected(snippet)">
                        {{snippet.title}}
                        @if (snippet.featured) {<span><i class="bi bi-star-fill text-info"></i></span>}
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-lg-7">
        @for (snippet of snippets; track snippet.id) {
        <div class="col ">
            <div class="card border-0 mt-3" id="{{getAnchorId(snippet)}}">

                <div class="row flex-nowrap align-items-stretch gx-0 snippet-header" style="width:100%">
                    <div class="col-4 col-md-5 d-flex align-items-center p-0">
                        <img [src]="snippet.image_url" alt="{{snippet.title}}"
                            class="img-fluid rounded-start snippet-img">
                    </div>
                    <div class="col-8 col-md-7 d-flex flex-column justify-content-center p-0 ">
                        <!-- <div class="card-body"> -->
                        <h4 class="card-title text-success">{{snippet.title}}                        </h4>
                        <h5 class="card-subtitle text-muted"> {{snippet.subtitle}}                        </h5>
                        <!-- </div> -->
                    </div>
                </div>

                <div class="py-0 ms-1">
                    <small class="card-text text-muted">publié le {{snippet.publishedAt | date:'shortDate'}}</small>
                </div>
                <div class="card-body">
                    <div class="card-text mt-3 table-scroll">
                        <span class="card-text tighter-html" [innerHTML]="stringToSafeHtml(snippet.content)"
                            #textRef></span>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>