/* Grid layout for sticky sidebar */
.publication-grid {
	display: grid;
	grid-template-columns: 320px 1fr;
	gap: 1rem;
}
.sidebar {
	position: sticky;
	top: 0;
	z-index: 2;
	background: #fff;
	height: 100vh;
	overflow-y: auto;
}
.main-content {
	min-width: 0;
}
.snippet-block {
		border-bottom: 1px solid #dee2e6;
		border-radius: 0 0 0.5rem 0.5rem;
		background: #f8f9fa; // Bootstrap bg-light
		position: relative;
}

.snippet-block::after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0.52rem;
		height: 0.52rem;
		// background: #fff;
		// border-bottom-right-radius: 0.5rem;
		box-shadow: none;
		pointer-events: none;
}
