<div class="row">
    <div class="col-md-3">
        <div class="position-sticky" style="top: 0; z-index: 2; background: #fff;">
            <div class="card">
                <div class="card-header text-uppercase">
                    les titres
                </div>
                <div class="card-body">
                    @for (snippet of snippets; track snippet.id) {
                        <div class="" (click)="scrollTo(getAnchorId(snippet))" [class.fw-bold]="isSelected(snippet)">
                            {{snippet.title}}
                            @if (snippet.featured) {<span><i class="bi bi-star-fill text-info"></i></span>}
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @for (snippet of snippets; track snippet.id) {
        <div class="col">
            <div class="card border-0 mt-1" id="{{getAnchorId(snippet)}}">
                <div class="card-body">
                    <div class="row flex-nowrap align-items-stretch snippet-block">
                        <div class="col-5 d-flex align-items-center justify-content-start p-0">
                            <img [src]="snippet.image_url" alt="{{snippet.title}}"
                                class="img-fluid rounded-start snippet-img">
                        </div>
                        <div class="col-7 d-flex flex-column justify-content-center p-0">
                            <div>
                                <h3 class="card-title">{{snippet.title}}<div class="fs-5 text-muted">
                                        {{snippet.subtitle}}</div>
                                </h3>
                                <small class="text-muted">Publié le {{snippet.createdAt | date:'shortDate'}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-text mt-3 table-scroll">
                        <span class="card-text tighter-html" [innerHTML]="stringToSafeHtml(snippet.content)"
                            #textRef></span>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>