<div *ngIf="loaded" class="container offset-md-2 col-md-8">
    <div class=" card shadow-lg mt-3 g-0">
        <div class="card-header">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h4 class="ms-1 d-none d-sm-inline">Gestion des cartes d'admission tournoi</h4>
                    <h6 class="text-muted">({{total_asset}} admissions sur {{cards.length}} cartes )</h6>
                </div>
                <div class="col-auto text-end">
                    <button class="btn btn-sm btn-primary" (click)="createGameCard()">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                    : création d'une carte
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table  table-sm table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="text-start">titulaire(s)</th>
                        <th>création</th>
                        <th class="text-center">crédit</th>
                        <th class="text-center">actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let card of cards ; let i = index">
                        <tr>
                            <td class="text-start">
                                <span *ngFor="let owner of card.owners; let j = index">
                                    <span *ngIf="j > 0"> &nbsp; et &nbsp; </span>
                                    {{owner.lastname}} {{owner.firstname}}
                                </span>
                            </td>
                            <td>{{card.createdAt | date}}</td>
                            <td class="text-center">
                                <span>{{card.initial_qty - stamps_number(card) }}</span>
                            </td>
                            <td class="text-center ">
                                <button class="btn btn-sm btn-primary me-1" (click)="editGameCard(card)">
                                    <i class="bi bi-eye"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" (click)="deleteGameCard(card, $event)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

</div>