<div class="container">
    <div class="col-8 offset-2">
        <table class="table  table-sm table-striped table-responsive">
            <thead>
                <tr>
                    <th>nom</th>
                    <th>prénom</th>
                    <!-- <th class="text-center">crédit</th> -->
                    <th class="text-center">unité</th>
                    <th class="text-center">carnet</th>
                </tr>
            </thead>
            <tr *ngFor="let member of members">
                <td>{{member.lastname}}</td>
                <td>{{member.firstname}}</td>
                <td class="text-center">
                    <div class="btn-group btn-sm" role="group">
                        <button type="button" class="btn btn-outline-primary">
                            <i class="h5 bi-dash-square-fill" (click)="add_game_credit('manuel',member.id, -1)"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary">
                            <span class="text-body-emphasis">
                                {{get_current_game_credit(member.id)}}
                            </span>
                        </button>
                        <button type="button" class="btn btn-outline-primary">
                            <i class="h5 bi-plus-square-fill" (click)="add_game_credit('manuel',member.id, 1)"></i>
                        </button>
                    </div>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-outline-primary btn-sm">
                        <i class="h5 bi-grid-3x3-gap-fill" (click)="add_game_credit('manuel',member.id, 12)"></i>
                    </button>
                </td>
                <!-- <td>
                <span *ngFor="let credit of get_game_credits(member.id)">
                    {{credit.tag}} : {{credit.amount}}
                </span>
            </td> -->
        </table>
    </div>

</div>