<div class="container">
    <div class="card mt-3 g-0">
        <h4 class="card-header">
            Gestion des cartes de droits de table adhérents
        </h4>
        <div class="card-body">
            <table class="table  table-sm table-striped table-responsive">
                <thead>
                    <tr>
                        <th>adhérent</th>
                        <th class="text-center">crédit</th>
                        <th class="text-center">+/- unité</th>
                        <th class="text-center">+ carnet</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let member of members">

                        <tr (click)="show_game_credits(member.id)">
                            <td>{{member.lastname}} {{member.firstname}}</td>
                            <td class="text-center"> {{get_current_game_credit(member.id)}} </td>
                            <td class="text-start ">
                                <i class="bi bi-plus-square-fill text-primary"
                                    (click)="add_game_credit('manuel',member.id, 1)"></i>
                                <i class="bi bi-dash-square-fill text-primary"
                                    (click)="add_game_credit('manuel',member.id, -1)"></i>
                                <!-- </div> -->
                            </td>
                            <td class="text-center">
                                <i class="bi bi-grid-3x3-gap-fill text-primary"
                                    (click)="add_game_credit('manuel',member.id, 12)"></i>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

</div>