aaaaa
<form [formGroup]="newTeam">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Joueur 1</th>
                <th>Joueur 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <i id="validation" (click)="addTeam()" class="action bi bi-person-check-fill" disabled></i>
                </td>
                <td>
                    <input type="text" class="form-control" formControlName="me" placeholder="moi !!">
                </td>
                <td>
                    <input type="text" class="form-control" formControlName="partner" placeholder="partenaire">

                </td>
            </tr>
        </tbody>
    </table>


</form>