<div class="offset-md-3 col-md-6 col-12">

    <div class="card" mt-3>
        <div class="card-header">
            <h5 class="card-title">Droits de table :
                <span class="text-muted small">
                    il vous en reste {{total_free_places((cards$ | async) || [])}} 
                </span>
            </h5>
        </div>
        <div class="card-body">

            <div *ngFor="let card of cards$ | async" class="mt-2">
                <ng-container *ngTemplateOutlet="game_card; context: { $implicit: card }"></ng-container>
            </div>
        </div>
    </div>

</div>
<ng-template #game_card let-card>
    <div class="card  mx-auto mb-3 nice_shadow">
        <div class="card-header pb-0 ">
            <div class="col justify-content-between">
                <div class="row align-items-center">
                    <h5 class="col-10 modal-title">
                        Carte de {{card.initial_qty}} droits de table
                    </h5>
                </div>
                <div class="text-muted">
                    <span class="fw-bolder">titulaire(s) :</span>
                    <span *ngFor="let owner of card.owners; let j = index">
                        <span *ngIf="j > 0"> &nbsp;et&nbsp; </span>
                        {{owner.lastname}} {{owner.firstname}}
                    </span>
                </div>
                <div class="row justify-content-between  align-items-center mb-2">
                    <div class="col-5 text-muted">
                        <span class="fw-bolder me-1">créée le :</span>
                        <span>{{card.createdAt |date}} </span>
                    </div>
                    <div class="col-7 text-muted text-center">
                        <span class="fw-bolder me-1">crédit restant :</span>
                        <span class="badge bg-success">{{card.free_places_nbr}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row row-cols-3 row-cols-md-6 g-0">
                <div *ngFor="let place of card.stamp_places ; let i = index" class="col">
                    <div [class]=" place.free ? 'card h-100' :'card h-100 bg-light'">
                        <div class="card-body text-center">
                            <small [class]=" place.free ? 'text-muted' :'  fw-bolder'"> {{place.free ? place.stamp :place.stamp | date}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>