<div class="offset-md-3 col-md-6 col-12">

    <div class="card" mt-3>
        <div class="card-header">
                        <h5 class="card-title">Droits de table :
                                @if (total_free_places((cards$ | async) || []) > 0) {
                                    <span class="text-muted small">
                                        il vous en reste {{total_free_places((cards$ | async) || [])}} 
                                    </span>
                                } @else if (total_free_places((cards$ | async) || []) === 0) {
                                    <span class="text-muted small">
                                        Vous n'avez plus de droits de table d'avance.
                                    </span>
                                }
                        </h5>
        </div>

                @if (total_free_places((cards$ | async) || []) === 0) {
                    <div class="card-body">Pensez à acheter une nouvelle carte !</div>
                }

                @if (total_free_places((cards$ | async) || []) > 0) {
                    <div class="card-body">
                        @for (card of (cards$ | async); track card.id) {
                            <div class="mt-2">
                                <ng-container *ngTemplateOutlet="game_card; context: { $implicit: card }"></ng-container>
                            </div>
                        }
                    </div>
                }
    </div>

</div>
<ng-template #game_card let-card>
    <div class="card  mx-auto mb-3 nice_shadow">
        <div class="card-header pb-0 ">
            <div class="col justify-content-between">
                <div class="row align-items-center">
                    <h5 class="col-10 modal-title">
                        Carte de {{card.initial_qty}} droits de table
                    </h5>
                </div>
                <div class="text-muted">
                    <span class="fw-bolder">titulaire(s) :</span>
                                        @for (owner of card.owners; let j = $index; track j) {
                                            @if (j > 0) { <span>&nbsp;et&nbsp;</span> }
                                            {{owner.lastname}} {{owner.firstname}}
                                        }
                </div>
                <div class="row justify-content-between  align-items-center mb-2">
                    <div class="col-5 text-muted">
                        <span class="fw-bolder me-1">créée le :</span>
                        <span>{{card.createdAt |date}} </span>
                    </div>
                    <div class="col-7 text-muted text-center">
                        <span class="fw-bolder me-1">crédit restant :</span>
                        <span class="badge bg-success">{{card.free_places_nbr}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row row-cols-3 row-cols-md-6 g-0">
                                @for (place of card.stamp_places; let i = $index; track i) {
                                    <div class="col">
                                        <div [class]=" place.free ? 'card h-100' :'card h-100 bg-light'">
                                            <div class="card-body text-center">
                                                <small [class]=" place.free ? 'text-muted' :'  fw-bolder'"> {{place.free ? place.stamp : place.stamp | date}}</small>
                                            </div>
                                        </div>
                                    </div>
                                }
            </div>
        </div>
    </div>

</ng-template>