<div class="container">
    <h5>Les albums</h5>

    <div class="row">
        <div class="col-md-3 ">
            <div class="card w-75 mb-2 gy-0 bg-primary text-white" *ngFor="let folder of folders"
                (click)="onSelectFolder(folder)">
                <div class="card-body ">
                    {{folder | replace:"albums/":''}}
                </div>
            </div>
            <!-- <div class="card w-75 mb-2 bg-success text-white"> -->
            <div class="input-group mb-3 w-75">
                <input type="text" class="form-control" placeholder="nouvel album" [formControl]="new_album">
                <button class="btn btn-primary btn-sm" type="button" (click)="newFolder()"
                    [disabled]="!new_album_valid">
                    <i class="bi bi-plus-lg"></i>
                </button>
            </div>

        </div>

        <div *ngIf="album_name" class="col-md-9">
            <h3>Album
                <span class="fw-bolder">
                    {{album_name}}
                </span>
            </h3>
            <div class="col-md-6 ">
                ajouter des images à la collection :
                <app-img-upload [multiple]="true" [directory]="currentDirectory()" [ratio_untouched]="true"
                    (uploaded)="addItem($event)"></app-img-upload>
            </div>

            <div class="card p-2">
                <div class="row row-cols-4 row-cols-md-6 4 ">
                    <div class="col" *ngFor="let item of filteredItems  ">
                        <div class="position-relative">

                            <img [src]="item.url | async" [alt]="item.path" class="img-fluid">
                            <span class="badge ">
                                <!-- <span class="visually-hidden">New alerts</span> -->
                                <i (click)="onDelete(item)" class="bi bi-trash trash"></i>
                            </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{item.path | replace:currentDirectory():''}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>