img {
    max-height: 70px;
    width: auto;
    display: block;
    ;
}

.trash {
    color: red;
    // cursor: crosshair;
}

.badge:hover {
    font-size: larger;
}

.badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    transform: translate(-50%, -25%);
    // margin-left: 10px;
}