<!-- cart editor -->
<div class="card w-100 mt-3">
  <div class="card-header">
    <h5 class="row justify-content-around align-items-center">

      <div class="col-auto">
        Achats adhérents
      </div>

      <div class="col-md-3 col-sm-5 text-end">
        <input type="date" class="col form-control form-control-sm" (ngModelChange)="date_change($event)"
          [(ngModel)]="session.date">
      </div>

      <div class="col-auto ms-auto">
        <button class="btn btn-sm btn-primary align-self-end" (click)="tables_to_pdf()">
          <i class="bi-printer"></i>
        </button>
      </div>

    </h5>
  </div>

  <div class="card-body">

    <div class="row justify-content-evenly">
      <!-- colonne keypad -->
      <div class="col-md-3 col-sm-3 mt-2 ">
        <div class="row" *ngFor="let products of products_array | keyvalue | moveToEnd:'LIC'">
          <div class="row g-1">
            <div *ngFor="let product of products.value" class="col-6">
              <div [style]="product_color_style(product)" class="card text-white nice_shadow bigger-on-hover h-100" (click)="on_product_click(product)" style="position: relative;">
                <div class="card-body text-center px-0 py-1">
                  <strong>{{product.glyph}}</strong>
                  <ng-container class="ms-auto" *ngIf="product.paired">
                    <i class="bi bi-people-fill ms-1" style="font-size: 1em; vertical-align: middle;"></i>
                  </ng-container>
                  <p>
                    <small>
                      {{product.price.toFixed(2)}} €
                      {{product.paired ? ' x2':''}}
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- colonne acheteur et cart  -->
      <div class="col-md-9 col-sm-9 fs-6 font-monospace  ">
        <!-- <div class="container h-100 d-flex flex-column"> -->

        <div class="col-md-8 col-sm-12  mt-2">

          <!-- buyer -->
          <div [formGroup]="buyerForm" class="d-flex align-items-center justify-content-between">
            <div class="input-group input-group-sm flex-grow-1 me-2">
              <span class="input-group-text"> Adhérent </span>
              <app-input-member class="form-control form-control-sm" [members]="members"
                formControlName="buyer"></app-input-member>
              <span class="input-group-text">
                <i class="bi bi-x-circle" (click)="clear_sale()"></i>
              </span>
            </div>
          </div>
        </div>

        <!-- cart  -->
        <div *ngIf="buyer" class="mt-2">
          <app-cart [message]="message" (complete)="cart_confirmed()"></app-cart>
        </div>

        <!-- </div> -->

      </div>
    </div>
  </div>
</div>


<!--  sales_of_the_day -->
<div class="mt-5 shadow_sm">
  <app-todays-books (pdf_table)="get_sales_table($event)"></app-todays-books>
</div>