<!-- <div class="container-md"> -->
<div class="card mt-2">
    <!-- <div class="card-header">
        paiements reçus pour le {{format_date(event!)}}

    </div> -->
    <div class="card-body">
        <div class="table-responsive-sm">
            <table class="table table-striped  table-borderless table-primary align-middle">
                <thead class="table-light">
                    <tr>
                        <th class="col col-md-4">Acheteur</th>
                        <th class="col col-md-2 text-end">Montant </th>
                        <th class="col col-md-3">Mode</th>
                        <th class="col col-md-3">Cheque No</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let payment of payments$ | async">
                        <td>{{member_name(payment.payer_id)}}</td>
                        <td class="text-end">{{payment.amount | currency:'€':'symbol':'2.2-2':'fr'}}</td>
                        <td>{{payment.payment_mode}}</td>
                        <td>{{payment.cheque_no}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row  align-content-center">
            <div class="col col-md-4 align-self-center">
                <span class="fw-bold">Total</span>
            </div>
            <div class="col col-md-2 text-end align-self-center">
                <span class="fw-bold">{{payments_sum | currency:'€':'symbol':'2.2-2':'fr'}}</span>
            </div>
        </div>

    </div>

</div>
<!-- </div> -->