<div class="container">
    <div class="card">
        <div class="card-header">
            {{format_date(event!)}}

        </div>
        <div class="card-body">

            <div *ngFor="let payment of payments$ | async">
                {{member_name (payment.payer_id )}}
                {{payment.amount | currency:'€':'symbol':'2.2-2':'fr'}}
                {{payment.payment_mode}}
                {{payment.cheque_no}}
                <table class="table table-sm">
                    <tbody>
                        <tr *ngFor="let sale of payment.saleItems">
                            {{getProduct(sale.product_id).glyph}}
                            {{member_name(sale.payee_id)}}
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="row  align-content-center">
                <div class="col-5 align-self-center">
                    <span class="fw-bold">Total</span>
                </div>
                <div class="col-4">
                    <button (click)="print()" class="btn btn-sm btn-outline-primary" type="button">imprimer</button>
                </div>
                <div class="col-2 text-end align-self-center">
                    <span class="fw-bold">{{payments_sum | currency:'€':'symbol':'2.2-2':'fr'}}</span>
                </div>
            </div>

        </div>

    </div>
</div>