<div class="container p-0 m-0">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <a class="navbar-brand" routerLink="/home">
                <img class=" brand-img" src="images/bcsto_ffb.jpg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <ng-container *ngFor="let menu of siteMenus">
                        <li *ngIf="menu.pages && menu.pages.length >= 1" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{menu.label}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <ng-container *ngFor="let page of menu.pages">
                                    <li *ngIf="logged_in || !page.member_only">
                                        <a class="dropdown-item"
                                            routerLink="{{'/' + page.link | replace : ' ':'-'}}">{{page.link}}</a>
                                    </li>
                                </ng-container>
                            </ul>
                        </li>
                    </ng-container>

                    <li *ngIf="logged_in" class="nav-item">
                        <a class="nav-link" routerLink="/tournaments">Tournois</a>
                    </li>
                </ul>
                <ul *ngIf="logged_in" class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{whoAmI?.firstname}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- <li> <a class="dropdown-item" routerLink="/tournaments">Tournois</a></li> -->
                            <li> <a class="dropdown-item" routerLink="/personal/data">Mes données</a></li>
                            <li> <a class="dropdown-item" routerLink="/authentification/sign-out">Déconnexion</a></li>

                        </ul>
                    </li>
                </ul>
                <a *ngIf="!logged_in" routerLink="/authentification">
                    <button class="btn btn-success align-items-center nice_shadow" type="button">
                        <i class="bi bi-person-fill"></i>
                        <span class="ms-2">Espace membre</span>
                    </button>
                </a>

                <!-- <app-sign-in></app-sign-in> -->
            </div>
        </div>
    </nav>

    <!-- <div class="bkgrd"></div> -->
</div>