<div class="top-bar">
    <div class="container">
        <div class="row-cols-lg-auto row">
            <div class="col">
                <span class="mr-2  icon-envelope-open-o"></span>
                <span class="inline-block">
                    <a href="#" class="">info&#64;bcsto.com </a>
                </span>
            </div>
            <div class="col">
                <span class="mr-2 icon-phone"></span>
                <span class="inline-block"> (33) 6 66 0666</span>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">BCSTO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/news">Les nouvelles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Le Club</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Tournois
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/tournaments">Régularité</a></li>
                        <li><a class="dropdown-item" href="#">Résultats</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Calendrier</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Photos</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="mail" placeholder="Mail" aria-label="Mail">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>




<div class="bkgrd"></div>