<div class="container p-0 m-0">
    <!-- <div class="top-bar">
        <div class="row-cols-lg-auto row">
            <div class="col">
                <span class="mr-2  icon-envelope-open-o"></span>
                <span class="inline-block">
                    <a href="#" class="">info&#64;bcsto.com </a>
                </span>
            </div>
            <div class="col">
                <span class="mr-2 icon-phone"></span>
                <span class="inline-block"> (33) 6 66 0666</span>
            </div>
        </div>
    </div> -->

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <a class="navbar-brand" routerLink="/home">
                <img class=" brand-img" src="images/bcsto.jpg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <ng-container *ngFor="let menu of siteMenus">
                        <li *ngIf="menu.pages && menu.pages.length == 1" class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                routerLink="{{menu.pages[0].link}}">{{menu.label}}</a>
                        </li>
                        <li *ngIf="menu.pages && menu.pages.length > 1" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{menu.label}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li *ngFor="let page of menu.pages">
                                    <a class="dropdown-item"
                                        routerLink="{{'/' + page.link | replace : ' ':'_'}}">{{page.link}}</a>
                                </li>
                            </ul>
                        </li>
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{menu.label}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li *ngFor="let endItem of menu.endItems">
                            <a class="dropdown-item" routerLink="{{'/' + endItem.link}}">{{endItem.label}}</a>
                        </li>
                    </ul>
                </li> -->
                    </ng-container>
                </ul>

                <form class="d-flex">
                    <input class="form-control me-2" type="mail" placeholder="Mail" aria-label="Mail">
                    <button class="btn btn-outline-success" type="submit">Login</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- <div class="bkgrd"></div> -->
</div>