<div class="row">
    <div class="col">
        <h5>Barre de navigation</h5>
        <div class="row">
            <ng-container *ngTemplateOutlet="list_menus; context:{positions: [NAVITEM_POSITION.NAVBAR]}"></ng-container>
        </div>

    </div>
    <div class="col">
        <h5>Autres points de navigation</h5>
        <div class="row">
            <ng-container
                *ngTemplateOutlet="list_menus; context:{positions: [NAVITEM_POSITION.FOOTER, NAVITEM_POSITION.BRAND]}"></ng-container>
        </div>

    </div>
</div>



<ng-template #list_menus , let-positions="positions">
    <div class="row g-2 flex-wrap">
        <ng-container *ngFor="let menu of menus | keyvalue">
            <ng-container *ngIf="positions.includes(menu.value.parent.position)">
                <div class="col-auto">
                    <div class="card h-100" style="width: 180px; min-width: 180px; max-width: 180px;">
                        <div class="card-header text-center" (click)="editNavitem(menu.value.parent)">
                            <span>{{ menu.key }}
                                <i [class]="NAVITEM_TYPE_ICONS[menu.value.parent.type] + ' ms-1'"></i>
                            </span>
                        </div>
                        <div class="card-body">
                            <div *ngFor="let child of menu.value.childs" class="row" (click)="editNavitem(child)"
                                style="cursor: pointer;">
                                <span>{{ child.label }}
                                    <i [class]="NAVITEM_TYPE_ICONS[child.type] + ' ms-1'"></i>
                                </span>
                            </div>
                            <i (click)="createSubNavitem(menu.value.parent)"
                                class="text-secondary bi bi-plus-square-dotted"></i>
                        </div>
                    </div>
                </div>

            </ng-container>
        </ng-container>
        <div class="col-auto d-flex align-items-start">
            <i (click)="createTopNavitem(positions[0])" class="text-secondary bi bi-plus-square-dotted"
                style="cursor:pointer; font-size:1.5rem;"></i>
        </div>
    </div>
</ng-template>
<!-- Offcanvas latéral droit ng-bootstrap -->
<ng-template #editNavitemOffcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Paramètres du menu/sous-menu</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <div class="offcanvas-body">
        <form *ngIf="selectedNavitem">


            <div class="mb-3">
                <label for="navitemLabel" class="form-label">Libellé</label>
                <input id="navitemLabel" class="form-control" [(ngModel)]="selectedNavitem.label" name="label">
            </div>

            <div class="mb-3">
                <label for="navitemPath" class="form-label">Chemin</label>
                <input id="navitemPath" class="form-control" [(ngModel)]="selectedNavitem.path" name="path" readonly>
            </div>



            <div class="mb-3">
                <label class="form-label">Type</label>
                <div>
                    <ng-container *ngFor="let t of types_allowed(selectedNavitem.top)">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" [value]="t"
                                [(ngModel)]="selectedNavitem.type">
                            <label class="form-check-label">{{ t }}</label>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div *ngIf="selectedNavitem.type === NAVITEM_TYPE.EXTERNAL_REDIRECT || selectedNavitem.type === NAVITEM_TYPE.INTERNAL_LINK"
                class="mb-3">
                <label for="childLink" class="form-label">Lien (URL)</label>
                <input id="childLink" class="form-control" [(ngModel)]="selectedNavitem.external_url" name="url">
            </div>
<!-- selection page -->
            <div *ngIf="selectedNavitem.type === NAVITEM_TYPE.CUSTOM_PAGE " class="mb-3">
                <label for="childPage" class="form-label">Page</label>
                <select id="childPage" class="form-control" [(ngModel)]="selectedNavitem.page_id" name="page_id">
                    <option *ngFor="let page of pages" [value]="page.id">
                        {{ page.title }}
                    </option>
                </select>
            </div>
<!-- selection plugin -->
            <div *ngIf="selectedNavitem.type === NAVITEM_TYPE.PLUGIN " class="mb-3">
                <label for="childPage" class="form-label">Plugin</label>
                <select id="childPage" class="form-control" [(ngModel)]="selectedNavitem.plugin_name"
                    name="plugin_name">
                    <option *ngFor="let plugin of NAVITEM_PLUGINS" [value]="plugin">
                        {{ plugin }}
                    </option>
                </select>
            </div>


            <div *ngIf="selectedNavitem.top" class="mb-3">
                <label class="form-label">Position</label>
                <div>
                    <ng-container *ngFor="let p of NAVITEM_POSITIONS">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="position" [value]="p"
                                [(ngModel)]="selectedNavitem.position">
                            <label class="form-check-label">{{ p }}</label>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div *ngIf="selectedNavitem.top && selectedNavitem.type !== NAVITEM_TYPE.DROPDOWN  && has_submenus(selectedNavitem.label)"
                class="mb-3 text-danger">
                attention, les sous-menus ne seront pas accessibles
            </div>
            <div class="d-flex justify-content-between">

                <button class="btn btn-primary"
                    (click)="saveNavitem(selectedNavitem); offcanvas.dismiss()">Enregistrer</button>
                <button class="btn btn-danger" (click)="deleteNavitem(selectedNavitem); offcanvas.dismiss()"
                    [disabled]="selectedNavitem.top   && has_submenus(selectedNavitem.label)">Supprimer</button>
            </div>
        </form>
    </div>
</ng-template>