<div class="cards-img-bottom-wrapper row">
  <ng-container *ngFor="let snippet of snippets; trackBy: trackById">
    <div class="col-12 col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{snippet.title}}</h5>
          <div class="card-text tighter-html" [innerHTML]="stringToSafeHtml(snippet.content)"></div>
        </div>
        <img [src]="snippet.image_url" class="card-img-bottom" alt="{{snippet.title}}">
      </div>
    </div>
  </ng-container>
</div>
