<div class="card">
    <div class="card-body">
        <i class="bi bi-cart"></i>
        <div class="row justify-content-center " *ngFor="let item of cart$ | async">
            <div class="col-5">
                <span> {{item.product_glyph}}
                    {{get_product(item.saleItem.product_id)!.description}} </span>
            </div>
            <div class="col-4">
                <span class="col-4">
                    {{get_member(item.saleItem.payee_id)!.firstname}}
                    {{get_member(item.saleItem.payee_id)!.lastname}}
                </span>

            </div>
            <div class="col-2 text-end">
                <span class="col-2 ">{{item.saleItem.price_payed |
                    currency:'€':'symbol':'2.2-2':'fr'}} </span>
            </div>
            <div class="col-1 text-danger">
                <i class="bi bi-trash3" (click)="removeFromCart(item)"></i>
            </div>
        </div>
        <hr *ngIf="getTotal() !==0">
        <div class="row  align-content-center">
            <div class="col-5 align-self-center">
                <span class="fw-bold">Total</span>
            </div>
            <div class="col-4">
                <button (click)="checkout()" class="btn btn-sm btn-outline-primary" type="button">régler</button>
            </div>
            <div class="col-2 text-end align-self-center">
                <span class="fw-bold">{{getTotal() | currency:'€':'symbol':'2.2-2':'fr'}}</span>
            </div>
        </div>
    </div>
</div>