<div class="p-2 col-md-8 offset-md-2">

    <div class="card">
        <div class="card-header">

            <h4 class="card-title">Les prochains tournois au Club</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Tournoi</th>
                            <th>Heure</th>
                            <th class="text-center">nb paires</th>
                            <th class="text-center"><i class="bi bi-person-arms-up"></i></th>
                            <th class="text-center">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of tournaments">
                            <td>{{t.date}}</td>
                            <td>{{t.tournament_name}}</td>
                            <td>{{t.time}}</td>
                            <td class="text-center">{{((t.nbr_inscrit-t.nbr_inscrit%2)/2)}} </td>
                            <td class="text-center"><i *ngIf="t.has_isolated_player" class="bi bi-person-arms-up"></i>
                            </td>
                            <td class="text-center">
                                <h4 class="action">
                                    <i (click)="clickOnTournament(t)" *ngIf="!tournamentSelected"
                                        class="fa-solid fa-arrow-right-to-bracket"></i>
                                    <i (click)="clickOnTournament(t)" *ngIf="tournamentSelected"
                                        class="fa-solid fa-arrow-right-from-bracket"></i>
                                </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="tournamentSelected">
                <app-teams [tournamentTeamsId]="selectedTournament.team_tournament_id"></app-teams>
            </div>
        </div>
    </div>
</div>