.action {
    color: blue;
}

.stamp {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10%, 20%);
    color: rgb(8, 98, 23);
    font-size: 1.5em;
    text-shadow: 5px 5px 5px black;
}