.central-container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.card.bg-light.h-100 {
  min-height: 80vh;
  height: 100%;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
  
.front-root-bg {
  font-family: 'Space Grotesk', sans-serif;
  background-color: rgb(239, 241, 239);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}


.brand-img {
  max-width: 200px;
  height: auto;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
  // margin-right: 10px;
  position: absolute;
  top: 10px;
  left: 25px;
  z-index: 10;
  // pointer-events: none;
}

.row.nice_shadow {
    // nice shadow #75
 box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

// .row.upper_row {
//   background-color: rgb(43, 110, 26);
// }

