<!-- <nav class="navbar navbar-expand-lg  ">


  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  align-items-start">

      <li ngbDropdown class="nav-item dropdown me-md-3 me-sm-1">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
          <i class="fs-4 bi-cart"></i> <span class="ms-1 d-none d-sm-inline">Accueil</span>
        </a>
        <ul ngbDropdownMenu class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="#">vente à adhérents</a></li>
          <li><a class="dropdown-item" routerLink="#">tournoi en présentiel</a></li>
          <li><a class="dropdown-item" routerLink="#">état de caisse</a></li>
          <li><a class="dropdown-item" routerLink="#">produits à la vente</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> -->




<div class="container-fluid front-root-bg">
  <div class="row bg-success text-white">
    <!-- <div class="text-center"> -->
      <h4 class="mt-1 mb-0 text-center"> Bridge Club de Saint-Orens </h4>
    <!-- </div> -->
  </div>

  <div class="row align-items-center justify-content-end nice_shadow ">
    <div class="col-2">

      <img class="brand-img" src="bcsto_ffb.jpg">
    </div>

    <div class="col-8">
      <app-front-navbar></app-front-navbar>
    </div>
    <div class="col-2"></div>
  </div>



  <div class="row mt-2">
    <div class="col-2"> &nbsp;</div>

    <div class=" col-8">
      <div class=" card bg-light h-100">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="col-2">  &nbsp;</div>
  </div>
</div>