<div class="container-fluid front-root-bg">
  <div class="row bg-success text-white">
    <!-- <img class="brand-img" src="bcsto_ffb.jpg"> -->
    <div class="offset-2 col-8 text-center">
      <span class=" ms-1"> Bridge Club de Saint-Orens </span>
    </div>
    <!-- ... et backdoor -->
    <div class="col-2  text-end">
      <a [routerLink]="'/admin'">
        <i class="bi bi-door-open-fill text-dark"></i>
      </a>
    </div>
  </div>

  <div class="row align-items-center justify-content-end nice_shadow ">
    <div class="col-2">

      <img class="brand-img" src="bcsto_ffb.jpg">
    </div>

    <div class="col-8">
      <app-front-navbar></app-front-navbar>
    </div>
<div class="col-2"></div>
  </div>



  <div class="row mt-2">
    <!-- laterale gauche -->
    <div class="col-2"> blabla</div>

    <!-- centrale -->
    <div class=" col-8">
      <div class=" card bg-light h-100">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- laterale droite -->
    <div class="col-2"> bleubleu</div>
  </div>
</div>

