

<div class="container-fluid front-root-bg">
  <div class="row bg-success text-white justify-content-between align-items-center">
    <div class="col-auto mx-auto">
      <h4 class="mt-1 mb-0 text-center">Bridge Club de Saint-Orens</h4>
    </div>
    <div class="col-auto me-5">
      <p class=" mb-0">{{dayAndMonthFr}}</p>
    </div>
  </div>

  <app-toaster></app-toaster>
  <div class="row align-items-center justify-content-end nice_shadow ">
    <div class="col-2">

      <img class="brand-img" src="bcsto_ffb.jpg">
    </div>

    <div class="col-8">
      <app-front-navbar></app-front-navbar>
    </div>
    <div class="col-2"></div>
  </div>



  <div class="row mt-2">
    <div class="col-2"> &nbsp;</div>

    <div class=" col-8">
      <div class=" card bg-light h-100">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="col-2"> 
      <app-tournaments [refresh]="force_refresh"></app-tournaments> 
    </div>
  </div>
</div>