<h4 class="text-center">
    Bienvenue sur notre site<br>
    <span class="text-primary">et les locaux de l'Espace Marcaissonne</span><br>
    <img src="VilleDeStOrens.png" alt="Ville de Saint Orens" class="img-fluid mb-2" style="max-width: 200px;">
</h4>
<div class="col-md-8 offset-md-2">
    <div class="card border-0">
        <div class="card-body">
            <div class="row  align-items-center">
                <div class="col-sm-12 col-md-3">
                    <div class="card  border-0">
                        <img src="marcaissonne.jpg" alt="marcaissonne" class="img-fluid card-img-bottom">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Email</td>
                                <td>
                                    <a href="mailto:bridge.saintorens@free.fr"
                                        class="text-decoration-underline text-primary">
                                        bridge.saintorens&#64;free.fr
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Téléphone</td>
                                <td>0561201009 ou 0686077734</td>
                            </tr>
                            <tr>
                                <td>Adresse</td>
                                <td>
                                    <div class="col">
                                        <p class="mb-1">ESPACE MARCAISSONNE</p>
                                        <p class="mb-1">13 Boulevard du Libre Echange</p>
                                        <p class="mb-1">2ème étage avec ascenseur</p>
                                        <p class="mb-1">31650 SAINT ORENS</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-sm-12 col-md-3">
                    <iframe width="100%" height="200vh" style="border:0; border-radius:8px;" loading="lazy"
                        allowfullscreen referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps?q=ESPACE+MARCAISSONNE,+13+Boulevard+du+Libre+Echange,+31650+Saint+Orens&output=embed">
                    </iframe>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-3">
        <h5 class="text-center">
            Découvrez nos activités et événements<br>
            Connectez-vous à votre compte pour une meilleure expérience</h5>

    </div>
</div>