<div class="bg-body-tertiary">
    <!-- <div class="card-body "> -->
    <div class="row  align-content-center align-items-center" *ngFor="let item of cart$ | async">

        <!-- descriptif produit -->
        <div class="col-5">
            <span> - {{get_product(item.saleItem.product_id)!.description}} </span>
        </div>
        <div class="col-4">
            <div class="input-group input-group-sm">
                <app-input-member class="form-control" [members]="members" [(ngModel)]="item.payee"
                    (ngModelChange)="payee_changed(item)"></app-input-member>
                <button (click)="payee_cleared(item)" class="btn btn-outline-secondary" type="button">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div *ngIf="!item.payee" class="text-danger">
                <span>bénéficiaire à renseigner</span>
            </div>
        </div>
        <div class="col-2 text-end">
            <span class="col-2 ">{{item.saleItem.price_payed |
                currency:'€':'symbol':'2.2-2':'fr'}} </span>
        </div>
        <div class="col-1 text-danger">
            <i class="bi bi-trash3" (click)="removeFromCart(item)"></i>
        </div>
    </div>

    <!-- </div> -->
</div>