<div class="container">

  <div class="col-md-6 text-end">
    <div class="row mt-3">

    </div>
  </div>
  <div class="card mt-1">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-auto">
          <h5> bilan de l'exercice </h5>
        </div>
        <div class="col-auto">
          <select [(ngModel)]="selected_season" (ngModelChange)="select_season()" type="text" class="form-control"
            placeholder="saison">
            <option *ngFor="let season of seasons" [value]="season" [selected]="season === selected_season">
              {{season}}
            </option>
          </select>
        </div>
        <div class="col mx-auto">&#8205;</div>
        <div class="col-auto">
          <button class=" btn btn-outline-success btn-sm">
            <i class=" bi-file-earmark-arrow-up-fill"></i>
            <a [href]="fileUrl" style="text-decoration: none; color: var(--bs-success);"
              download="bilan.txt">export.txt</a>
          </button>
        </div>
        <div class="col-auto">
          <button class=" btn btn-outline-success btn-sm" (click)="fileInput.click()">
            <i class=" bi-file-earmark-arrow-down-fill"></i>
            import.txt</button>
          <input #fileInput type="file" style="display:none" class="form-control form-control-sm text-end"
            (change)="file_import($event)">
        </div>
        <div class="col-auto">
          <button class=" btn btn-outline-success btn-sm" (click)="save_balance_sheets()">
            <i class="bi-cloud-arrow-up-fill"></i>
            sauvegarder</button>
        </div>
      </div>
    </div>
    <div *ngIf="loaded" class="card-body">
      <div class="row mx-2">
        <div class=" col-8">
          <table class="table table-sm table-borderless table-responsive text-end fs-5 align-middle">
            <thead>
              <tr class="table-primary">
                <th width="9%" class="table-light text-start"></th>
                <th width="30%" class="text-start">ACTIF </th>
                <th width="24%"> {{ current_balance_sheet.season }}</th>
                <th width="2%" class="table-light"></th>
                <th width="18%" class="variation">écart</th>
                <th width="2%" class="table-light"></th>
                <th width="20%" class="table-secondary fs-5"> {{ prev_balance_sheet.season }}</th>
              </tr>
            </thead>
            <tbody>

              <tr class="fw-bolder">
                <td class="text-center">
                  <ng-container [ngTemplateOutlet]="trend"
                    [ngTemplateOutletContext]="{value: (current_balance_sheet.client_debts - prev_balance_sheet.client_debts)}"></ng-container>
                </td>
                <td class="text-start ">CREANCES</td>
                <td>{{current_balance_sheet.client_debts | number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="variation">
                  {{(current_balance_sheet.client_debts - prev_balance_sheet.client_debts) | number:truncature:'fr'}}
                </td>
                <td>&#8205;</td>
                <td class="table-secondary fs-5">{{prev_balance_sheet.client_debts |
                  number:truncature:'fr'}}</td>

              </tr>

              <tr class="fw-bolder">
                <td class="text-center"><ng-container [ngTemplateOutlet]="trend"
                    [ngTemplateOutletContext]="{value: get_liquidities_evolution()}"></ng-container>
                </td>
                <td class="text-start">TRESORERIE</td>
                <td>
                  {{total_current_liquidities() | number:truncature:'fr'}} </td>
                <td>&#8205;</td>
                <td class="variation">{{get_liquidities_evolution() | number:truncature:'fr'}}</td>
                <td>&#8205;</td>

                <td class="table-secondary fs-5">{{total_previous_liquidities() |
                  number:truncature:'fr'}}
                </td>
              </tr>
              <tr class="fw-light fs-6">
                <td>&#8205;</td>
                <td>épargne</td>
                <td> {{current_balance_sheet.liquidities.savings | number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="variation">{{get_liquidity_evolution('savings')| number:truncature:'fr'}}</td>
                <td>&#8205;</td>

                <td class="table-secondary"> {{prev_balance_sheet.liquidities.savings
                  | number:truncature:'fr'}}</td>
              </tr>
              <tr class="fw-light fs-6">
                <td>&#8205;</td>
                <td>banque</td>
                <td> {{current_balance_sheet.liquidities.bank | number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="variation">{{get_liquidity_evolution('bank')| number:truncature:'fr'}}</td>
                <td>&#8205;</td>

                <td class="table-secondary"> {{prev_balance_sheet.liquidities.bank}}
                </td>
              </tr>
              <tr class="fw-light fs-6">
                <td>&#8205;</td>
                <td>caisse</td>
                <td> {{current_balance_sheet.liquidities.cash | number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="variation">{{get_liquidity_evolution('cash')| number:truncature:'fr'}}</td>
                <td>&#8205;</td>

                <td class="table-secondary"> {{prev_balance_sheet.liquidities.cash |
                  number:truncature:'fr'}}</td>
              </tr>
              <tr class="fw-bolder">
                <td class="text-center">
                  <ng-container [ngTemplateOutlet]="trend"
                    [ngTemplateOutletContext]="{value:-get_outstandings_evolution()}"></ng-container>
                </td>
                <td class="text-start">(ENCOURS)</td>
                <td>
                  {{total_current_outstandings() | number:truncature:'fr'| parenthesis}} </td>
                <td>&#8205;</td>
                <td class="variation">{{get_outstandings_evolution()| number:truncature:'fr'| parenthesis}}</td>
                <td>&#8205;</td>

                <td class="table-secondary fs-5">{{total_previous_outstandings() |
                  number:truncature:'fr'| parenthesis}}
                </td>
              </tr>
              <tr class="fw-light fs-6">
                <td>&#8205;</td>
                <td>chèques non encaissés</td>
                <td (click)="show_outstandings('oustandings')">{{-current_balance_sheet.outstanding_expenses | number:truncature:'fr'| parenthesis}}</td>
                <td>&#8205;</td>
                <td class="variation">
                  {{-(current_balance_sheet.outstanding_expenses-prev_balance_sheet.outstanding_expenses) |
                  number:truncature:'fr'| parenthesis}}</td>
                <td>&#8205;</td>

                <td class="table-secondary">
                  {{-prev_balance_sheet.outstanding_expenses | number:truncature:'fr'| parenthesis}}
                </td>
              </tr>
              <tr class="fw-light fs-6">
                <td>&#8205;</td>
                <td>avoirs, chèques-cadeaux</td>
                <td> {{-current_balance_sheet.gift_vouchers | number:truncature:'fr' | parenthesis}}</td>
                <td>&#8205;</td>
                <td class="variation"> {{-(current_balance_sheet.gift_vouchers-prev_balance_sheet.gift_vouchers) |
                  number:truncature:'fr' | parenthesis}}</td>

                <td>&#8205;</td>
                <td class="table-secondary">{{-prev_balance_sheet.gift_vouchers | number:truncature:'fr'| parenthesis}}
                </td>
              </tr>

              <tr class="table-primary fw-bold">
                <td class="table-light text-center">
                  <ng-container [ngTemplateOutlet]="trend"
                    [ngTemplateOutletContext]="{value:get_net_asset_evolution()}"></ng-container>
                </td>
                <td class="text-start ">TOTAL ACTIF</td>
                <td> {{total_current_net_asset()| number:truncature:'fr'}} </td>
                <td class="table-light">&#8205;</td>
                <td class="variation">{{get_net_asset_evolution() | number:truncature:'fr' | parenthesis}}</td>
                <td class="table-light">&#8205;</td>
                <td class="table-secondary">{{total_previous_net_asset()|
                  number:truncature:'fr'}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- PASSIF -->
        <div class="col-4">
          <table class="table table-sm table-borderless table-responsive text-end fs-5">
            <thead>
              <tr class="table-primary">
                <th width="65%" class="text-start">PASSIF </th>
                <th width="35%"> {{ current_balance_sheet.season }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="fw-bolder">
                <td class="text-start">REPORT A NOUVEAU</td>
                <td>{{balance_forward | number:truncature:'fr'}}</td>
              </tr>
              <!-- alignment with "TRESORERIE" -->
              <tr>
                <td>&#8205;</td>
                <td>&#8205;</td>
              </tr>
              <tr *ngFor="let n of [1, 2, 3]" class="fw-light fs-6">
                <td>&#8205;</td>
                <td>&#8205;</td>
              </tr>

              <tr class="table-primary fw-bold">
                <td class="text-start ">EXERCICE
                  {{profit_and_loss_result < 0?'DEFICITAIRE':'BENEFICIAIRE'}}</td>
                <td>{{profit_and_loss_result | number:truncature:'fr'}}</td>
              </tr>
              <tr *ngFor="let n of [1, 2]" class="fw-light fs-6">
                <td>&#8205;</td>
                <td>&#8205;</td>
              </tr>


              <tr class="table-primary fw-bold">
                <td class="text-start ">TOTAL PASSIF</td>
                <td> {{get_total_current_liabilities() | number:truncature:'fr'}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div *ngIf="selected_season === current_season" class="row">
        <div class="col-auto">
          update figures
          <button class="btn btn-outline-success btn-sm" (click)="update_balance_sheet_figures()">
            <i class="fs-5 bi-gear"></i>
          </button>
        </div>
        <div class="col-auto">
          initialisation de nouvelle saison 
          <button class="btn btn-outline-success btn-sm" (click)="to_next_balance_sheet()">
            <i class="fs-5 bi-check-circle-fill"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<ng-template #trend let-value="value">
  <i *ngIf="value>0" class="fs-5 bi-arrow-up-right"></i>
  <i *ngIf="value<0" class="fs-5 bi-arrow-down-right"></i>
  <i *ngIf="value===0" class="fs-5 bi-arrows"></i>
</ng-template>