<div class="container">

  <div class="col-md-6 text-end">
    <div class="row mt-3">

    </div>
  </div>
  <div class="card mt-1">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-auto">
          <h5> bilan de l'exercice {{current_season}}</h5>
        </div>
        <div class="col mx-auto">&#8205;</div>
        <div class="col-auto">
          <button class=" btn btn-outline-success btn-sm">
            <i class=" bi-file-earmark-arrow-up-fill"></i>
            <a [href]="fileUrl" style="text-decoration: none; color: var(--bs-success);"
              download="bilan.txt">export.txt</a>
          </button>
        </div>
        <div class="col-auto">
          <button class=" btn btn-outline-success btn-sm" (click)="fileInput.click()">
            <i class=" bi-file-earmark-arrow-down-fill"></i>
            import.txt</button>
          <input #fileInput type="file" style="display:none" class="form-control form-control-sm text-end"
            (change)="file_import($event)">
        </div>
        <div class="col-auto">
          <button class=" btn btn-outline-success btn-sm" (click)="save_balance_sheet()">
            <i class="bi-cloud-arrow-up-fill"></i>
            sauvegarder</button>
        </div>
      </div>
    </div>
    <div *ngIf="loaded" class="card-body">
      <div class="row mx-2">
        <div class=" col-8">
          <table class="table table-sm table-borderless table-responsive text-end fs-5 align-middle">
            <thead>
              <tr class="table-primary">
                <!-- <th width="9%" class="table-light text-start"></th> -->
                <th width="30%" class="text-start">ACTIF </th>
                <th width="24%"> {{ balance_board.current.season }}</th>
                <th width="2%" class="table-light"></th>
                <th width="18%" class="variation">écart</th>
                <th width="2%" class="table-light"></th>
                <th width="20%" class="table-secondary fs-5"> {{ balance_board.previous.season }}</th>
              </tr>
            </thead>
            <tbody>

              <!-- <tr class="fw-bolder">
                <td class="text-start ">CREANCES</td>
                <td>{{balance_board.current.client_debts | number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="variation">
                  {{delta_balance.client_debts | number:truncature:'fr'}}
                </td>
                <td>&#8205;</td>
                <td class="table-secondary fs-5">{{prev_balance.client_debts |
                  number:truncature:'fr'}}</td>
              </tr> -->

              <tr class="fw-bolder">
                <td class="text-start">COMPTES EN BANQUE</td>

                <td> {{balance_board.current.in_bank_total | number:truncature:'fr'}}
                </td>
                <td>&#8205;</td>
                <td class="variation">{{balance_board.delta.in_bank_total|
                  number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="table-secondary fs-5">{{balance_board.previous.in_bank_total |
                  number:truncature:'fr'}} </td>
              </tr>

              <tr class="fw-light fs-6">
                <td>compte épargne</td>
                <td> {{balance_board.current.savings | number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="variation">{{balance_board.delta.savings| number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="table-secondary"> {{balance_board.previous.savings | number:truncature:'fr'}}</td>
              </tr>

              <tr class="fw-light fs-6">
                <td>compte courant</td>
                <td> {{balance_board.current.bank | number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="variation">{{balance_board.delta.bank | number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="table-secondary"> {{balance_board.previous.bank}} </td>
              </tr>

              <tr class="fw-bolder">
                <td class="text-start">FOND DE CAISSE</td>

                <td> {{balance_board.current.cashbox | number:truncature:'fr'}}
                </td>
                <td>&#8205;</td>
                <td class="variation">{{balance_board.delta.cashbox|
                  number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="table-secondary fs-5">{{balance_board.previous.cashbox |
                  number:truncature:'fr'}} </td>
              </tr>
              <tr class="fw-light fs-6">
                <td>fond de caisse</td>
                <td> {{balance_board.current.cash | number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="variation">{{balance_board.delta.cash| number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="table-secondary"> {{balance_board.previous.cash | number:truncature:'fr'}}</td>
              </tr>
              <tr class="fw-light fs-6">
                <td>dettes adhérents</td>
                <td>{{balance_board.current.client_debts | number:truncature:'fr' | parenthesis}}</td>
                <td>&#8205;</td>
                <td class="variation">
                  {{balance_board.delta.client_debts | number:truncature:'fr'}}
                </td>
                <td>&#8205;</td>
                <td class="table-secondary ">{{balance_board.previous.client_debts| number:truncature:'fr'}}</td>
              </tr>

              <tr class="fw-light fs-6">
                <td>créance adhérents</td>
                <td>{{balance_board.current.client_assets | number:truncature:'fr' | parenthesis}}</td>
                <td>&#8205;</td>
                <td class="variation">
                  {{balance_board.delta.client_assets | number:truncature:'fr'}}
                </td>
                <td>&#8205;</td>
                <td class="table-secondary ">{{balance_board.previous.client_assets| number:truncature:'fr'}}</td>
              </tr>
              <tr class="fw-bolder">
                <td class="text-start">ENCOURS</td>
                <td> {{balance_board.current.wip_total| number:truncature:'fr'}} </td>
                <td>&#8205;</td>
                <td class="variation">{{balance_board.delta.wip_total| number:truncature:'fr'}}</td>
                <td>&#8205;</td>
                <td class="table-secondary fs-5">{{balance_board.previous.wip_total| number:truncature:'fr'}} </td>
              </tr>


              <tr class="fw-light fs-6">
                <td>chèques à déposer</td>
                <td class="hoverable">{{balance_board.current.uncashed_cheques | number:truncature:'fr'| parenthesis}}
                </td>
                <td>&#8205;</td>
                <td class="variation">
                  {{balance_board.delta.uncashed_cheques | number:truncature:'fr'| parenthesis}}</td>
                <td>&#8205;</td>
                <td class="table-secondary"> {{balance_board.previous.uncashed_cheques | number:truncature:'fr'|
                  parenthesis}}
                </td>
              </tr>

              <tr class="fw-light fs-6">
                <td>paiements engagés</td>
                <td class="hoverable">{{balance_board.current.outstanding_expenses | number:truncature:'fr'|
                  parenthesis}}
                </td>
                <td>&#8205;</td>
                <td class="variation">
                  {{balance_board.delta.outstanding_expenses |
                  number:truncature:'fr'| parenthesis}}</td>
                <td>&#8205;</td>

                <td class="table-secondary">
                  {{balance_board.previous.outstanding_expenses | number:truncature:'fr'| parenthesis}}
                </td>
              </tr>
              <tr class="fw-light fs-6">
                <td>distribution d'avoirs</td>
                <td> {{balance_board.current.gift_vouchers | number:truncature:'fr' | parenthesis}}</td>
                <td>&#8205;</td>
                <td class="variation"> {{balance_board.delta.gift_vouchers |
                  number:truncature:'fr' | parenthesis}}</td>

                <td>&#8205;</td>
                <td class="table-secondary">{{balance_board.previous.gift_vouchers | number:truncature:'fr'|
                  parenthesis}}
                </td>
              </tr>




              <tr class="table-primary fw-bold">
                <td class="text-start ">TOTAL ACTIF</td>
                <td> {{balance_board.current.actif_total| number:truncature:'fr'}} </td>
                <td class="table-light">&#8205;</td>
                <td class="variation">{{balance_board.delta.actif_total | number:truncature:'fr' | parenthesis}}</td>
                <td class="table-light">&#8205;</td>
                <td class="table-secondary">{{balance_board.previous.actif_total|
                  number:truncature:'fr'}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- PASSIF -->
        <div class="col-4">
          <table class="table table-sm table-borderless table-responsive text-end fs-5">
            <thead>
              <tr class="table-primary">
                <th width="65%" class="text-start">PASSIF </th>
                <th width="35%"> {{ balance_board.current.season }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="fw-bolder">
                <td class="text-start">REPORT A NOUVEAU</td>
                <td>{{balance_board.previous.actif_total | number:truncature:'fr'}}</td>
              </tr>
              <!-- alignment with "TRESORERIE" -->
              <!-- <tr>
              </tr> -->
              <tr *ngFor="let n of [1, 2]" class="fw-light fs-6">
                <td>&#8205;</td>
                <td>&#8205;</td>
              </tr>
              
              <tr class="table-primary fw-bold">
                <td class="text-start ">EXERCICE
                  {{trading_result < 0?'DEFICITAIRE':'BENEFICIAIRE'}}</td>
                  <td>{{trading_result | number:truncature:'fr'}}</td>
                </tr>
                
                <tr *ngFor="let n of cashbox_lines" class="fw-light fs-6">
                  <td>&#8205;</td>
                  <td>&#8205;</td>
                </tr>
                
                <tr class="fw-bold">  <!--alignement ligne ENCOURS-->
                <td>&#8205;</td>
                <td>&#8205;</td>
              </tr>

              <tr *ngFor="let n of [1, 2,3]" class="fw-light fs-6">
                <td>&#8205;</td>
                <td>&#8205;</td>
              </tr>


              <tr class="table-primary fw-bold">
                <td class="text-start ">TOTAL PASSIF</td>
                <td> {{balance_board.previous.actif_total + trading_result | number:truncature:'fr'}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div *ngIf="selected_season === current_season">
        <div *ngIf="balance_error" class="col-auto text-danger">
          <i class="fs-5 bi-exclamation-triangle"></i>
          <span class="text-danger"> incohérence bilan & compte de résultats de ({{balance_error |
            number:truncature2:'fr'}} €)</span>
        </div>
        <div class="col-auto">
          report des encours sur la saison suivante
          <button class="btn btn-outline-success btn-sm" (click)="transfer_to_next_balance_sheet()">
            <i class="fs-5 bi-gear"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>