<div class="container">
    <h5>Editeur d'article</h5>

    <div class="row">
        <div class="col-4">
            <form [formGroup]="articleForm">

                <div class="form-group">
                    <label for="template">Modèle</label>
                    <select type="text" class="form-control" id="template" formControlName="template">
                        <option *ngFor="let value of templates_values" [value]="value">{{value}}</option>
                    </select>
                    <label for="title">Titre</label>
                    <input type="text" class="form-control" id="title" formControlName="title">
                    <label for="content">Contenu</label>
                    <textarea class="form-control" id="content" formControlName="content"></textarea>
                </div>
            </form>
            <div class="mt-2">

                <button class="btn btn-sm btn-primary" (click)="onSubmit()">Enregistrer</button>
            </div>

            {{articleForm.value | json}}
        </div>

        <div class="col-8">
            <app-render-article *ngIf="article_in_progress" [article]="article_in_progress"></app-render-article>
        </div>
    </div>
</div>