<div class="container">
    <!-- <h5>Editeur d'article</h5> -->

    <div class="row">
        <div class="col-4">
            <h5>Paramètres article</h5>
            <form [formGroup]="articleForm">
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" class="form-control" id="title" formControlName="title">

                    <label for="template">Modèle</label>
                    <select type="text" class="form-control" id="template" formControlName="template">
                        <option *ngFor="let value of templates_values" [value]="value">{{value}}</option>
                    </select>

                    <label for="title">Image</label>
                    <select type="text" class="form-control" id="image" formControlName="image">
                        <option *ngFor="let item of S3Items " [value]="item.path">{{item.path}}</option>
                    </select>

                    <label for="content">Contenu</label>
                    <textarea class="form-control" id="content" formControlName="content"></textarea>
                </div>
            </form>
            <div class="mt-2">

                <button class="btn btn-sm btn-primary" (click)="onSubmit()">Enregistrer</button>
            </div>

            <!-- {{articleForm.value | json}} -->
        </div>

        <div class="col-8">
            <!-- <div class="form-check form-switch">
                <input class="form-check-input" [(ngModel)]="featuredMode" type="checkbox" role="switch"
                    id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">
                    {{featuredMode ? 'en vedette' : 'pleine page'}}
                </label>
            </div> -->
            <div class="row">
                <div class="col-md-8">
                    <h5> Vue page</h5>
                    <div class="card h-auto">
                        <app-render-article [rendering]="renderingMode.Full" *ngIf="article_in_progress"
                            [article]="article_in_progress"></app-render-article>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Vue vignette "en vedette"</h5>
                    <app-render-article [rendering]="renderingMode.Thumbnail" *ngIf="article_in_progress"
                        [article]="article_in_progress"></app-render-article>
                </div>
            </div>
        </div>
    </div>
</div>