<div class="mt-3 row row-cols-md-4 row-cols-2 g-md-3 g-sm-1 text-center">
    <div *ngFor="let topic of topics" class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-header">
                <h5>
                    <i [class]="_group_icons[topic.accreditation]"></i>
                    {{topic.title}}</h5>
            </div>
            <div class="card-body">
                <h5 class="card-subtitle mb-2 ">{{topic.subtitle}}</h5>
                <h6 *ngFor="let string of topic.descriptions" class=" mb-2 text-muted text-start">{{string}}</h6>
            </div>

            <div class="card-footer">
                niveau d'accréditation :
                <span class="badge bg-secondary">{{topic.accreditation}}</span>
            </div>
        </div>
    </div>