<div *ngIf="!book_entries_loaded" class="d-flex justify-content-center align-items-center vh-100">
    <div class="spinner-border text-success" role="status">
    </div>
    <span class="ms-3">... chargement base de données comptabilité...</span>
</div>

<div *ngIf="book_entries_loaded" class="container-md container-sm-fluid">
  <app-toaster></app-toaster>
  <app-navbar [season]="season" [entries_nbr]="entries_nbr" [accreditation_level]="accreditation_level"></app-navbar>
  <router-outlet></router-outlet>
</div>
