.page-title {
    background-color: aqua;
}

// .underlined {
//     display: flex;
//     // align-items: center;
// }

// // .underlined,
// // .underlined::before,
// .underlined::after {
//     content: '';
//     flex: 1;
//     height: 2px;
//     background: rgb(6, 77, 23);
// }

.underlined {
    position: relative;
    display: inline-block;
    // text-decoration: underline;
}

.underlined h4::first-letter {
    // font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
    // color: #064a14;
}

.underlined h4:after {
    position: absolute;
    content: '';
    display: block;
    width: 60px;
    margin-top: 1px;
    background: #064a14;
    height: 8px;
}