<app-breadcrumb></app-breadcrumb>

<div *ngFor="let page of pages">
    <div *ngIf="hasFeaturedArticles(page)" class="m-2 ">
        <!-- <div class="card-body"> -->
        <div class="bg-light underlined mb-3">
            <h4>{{page.link}}</h4>
        </div>
        <!-- <div class="row"> -->
        <div class="container">

            <div class="row gy-3">
                <ng-container *ngFor="let article of page.articles">

                    <div *ngIf="article.featured" class="col-md-4">
                        <app-render-article [featuredMode]=true (follow)="onFollow(article)"
                            [article]="article"></app-render-article>
                    </div>
                </ng-container>
                <!-- <div  class="col-lg m-2">
        </div> -->
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </div>

</div>