<div *ngIf="logged_member$ | async as logged_member" class="text-center">
    <h2>Bonjour {{ logged_member.firstname }}</h2>

    <p *ngIf="user_accreditation && user_accreditation.level === 0">
        Vous êtes membre du Club, mais non accrédité pour accéder à ces fonctionnalités.<br>
        Veuillez contacter le Bureau pour obtenir une accréditation.
    </p>
    <p *ngIf="user_accreditation && user_accreditation.level > 0">
        Votre accréditation :
        <i [class]="user_accreditation.icon"></i>
        {{ user_accreditation.group_name }} <br>
        vous permet d'accéder à toutes ou partie des fonctionnalités d'administration.<br>
        <br>
        Merci pour votre engagement envers le Club.
    </p>
    <p class="mt-4">
        <a [routerLink]="['/front']" class="btn btn-primary">
            <i class="bi bi-door-open-fill "></i>
            Basculer sur le front</a>
    </p>
</div>
<div *ngIf="!(logged_member$ | async)" class="text-center justify-content-center">
    <h1>Bienvenue sur la page d'administration</h1>
    <!-- <p>Veuillez vous connecter pour accéder aux fonctionnalités .</p> -->
    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-4">
            <app-connexion></app-connexion>
        </div>
    </div>
</div>