<div class="container-md">
    <div *ngIf="session" class="row bg-light mt-2 mb-3 p-3 justify-content-around align-items-center">
        <div class="col-4">
            saison : {{session.season}}
        </div>
        <div class="col-3">
            <div class=" input-group input-group-sm">
                <span class="input-group-text">date de vente</span>
                <input [readonly]="input_disabled" type="date" class="form-control" [(ngModel)]="session.event">
                <button class="btn btn-sm btn-outline-primary" (click)="renew_session()">Autre date</button>
            </div>
        </div>

    </div>

    <div *ngIf="session" class="card">

        <div class="card-body">
            <div class="row mt-2">

                <!--  left column for sales -->
                <div class="col-sm-12 col-md-6">
                    <!-- buyer -->
                    <form [formGroup]="payeesForm">
                        <div class="row">
                            <div class="row ">
                                <div class="col-6">
                                    <label for="payee_1">Acheteur</label>
                                    <div class="input-group border-primary">
                                        <app-input-member id="payee_1" class="form-control " [members]="members"
                                            formControlName="payee_1"></app-input-member>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- keypad -->
                    <div class="card mt-2">
                        <div class="card-body">
                            <app-keypad [keypad]="keypad" (keyStroked)="keyStroked($event)"></app-keypad>
                        </div>
                    </div>
                    <!-- cart -->
                    <div class="mt-2" *ngIf="members">
                        <app-cart (done)="checkout()"></app-cart>
                    </div>
                </div>

                <!-- right column for payments -->
                <div class="col-sm-12 col-md-6 ">
                    <!-- <div class="card"> -->
                    <app-book-logger [event]="string_to_date(session.event)"></app-book-logger>
                    <!-- </div> -->
                </div>
            </div>


        </div>
    </div>

</div>

<!-- <div *ngIf="event === null">
    fin de session de saisie : pour redémarrer une session cliquer sur Vente dans la barre de menue
</div> -->