<div class="container-md mt-3">
    <div class="gx-0">

        <app-session (session)="set_session($event)"></app-session>
    </div>

    <div *ngIf="session" class="card">

        <div class="card-body">
            <div class="row mt-2">

                <!--  left column for sales -->
                <div class="col-sm-12 col-md-6">
                    <!-- buyer -->
                    <form [formGroup]="payeesForm">
                        <div class="row">
                            <div class="row ">
                                <div class="col-6">
                                    <label for="payee_1">Acheteur</label>
                                    <div class="input-group border-primary">
                                        <app-input-member id="payee_1" class="form-control " [members]="members"
                                            formControlName="payee_1"></app-input-member>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- keypad -->
                    <div class="card mt-2">
                        <div class="card-body">
                            <app-keypad [keypad]="keypad" (keyStroked)="keyStroked($event)"></app-keypad>
                        </div>
                    </div>
                    <!-- cart -->
                    <div class="mt-2" *ngIf="members">
                        <app-cart (done)="checkout()"></app-cart>
                    </div>
                </div>

                <!-- right column for payments -->
                <div class="col-sm-12 col-md-6 ">
                    <!-- <div class="card"> -->
                    <app-book-logger [event]="session.event"></app-book-logger>
                    <!-- </div> -->
                </div>
            </div>


        </div>
    </div>

</div>

<!-- <div *ngIf="event === null">
    fin de session de saisie : pour redémarrer une session cliquer sur Vente dans la barre de menue
</div> -->