<ng-container *ngIf="app === 'web-site';then web_site else admin_dashboard">
</ng-container>


<ng-template #web_site>

    <h5> Les prochains tournois de régularité ouverts à l'inscription</h5>
    <div class="container pt-3">
        <div class="row">
            <div class="col-md-4">

                <div class="my-1" *ngFor="let t of tournaments">
                    <div [class]="tournamentClass(t.tournament_name).card"
                        style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                        <span class="stamp">
                            <i [class]="tournamentClass(t.tournament_name).icon"></i>
                        </span>
                        <div class="card-body">
                            <div class="card-title">
                                <div class="row text-center">
                                    <h6>{{t.date }} &nbsp;{{t.time}}</h6>
                                </div>
                            </div>

                            <div class="card-text">
                                <div class="row">
                                    <div class="col-8">
                                        <small>
                                            {{((t.nbr_inscrit-t.nbr_inscrit%2)/2)}} paire(s) actuellement inscrite(s)
                                        </small>
                                        <div class="row">

                                            <small *ngIf="t.has_isolated_player">
                                                <i class="bi bi-person-arms-up"> </i>
                                                <span class="text-info-emphasis">cherche partenaire </span>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-4 text-muted text-center">
                                        <!-- <button (click)="clickOnTournament(t)" class="btn btn-primary btn-sm"> -->
                                        <i (click)="clickOnTournament(t)"
                                            [class]="!tournamentSelected? 'bi bi-eye-fill' :'bi bi-eye-slash-fill' "></i>
                                        <!-- </button> -->

                                    </div>
                                </div>
                            </div>
                            <!-- <p class="card-text"><small class="text-muted">
                                    {{t.tournament_name}}
                                </small></p> -->

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p *ngIf="tournamentSelected">

                    {{selectedTournament.tournament_name}}
                    <button *ngIf="selectedTournament" class="btn btn-primary disabled">Inscription</button>
                </p>
                <div *ngIf="tournamentSelected" class="card" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                    <app-teams [tournamentTeamsId]="selectedTournament.team_tournament_id"></app-teams>
                </div>
            </div>
            <!-- <div class="col-md-3">
            </div> -->
        </div>


    </div>
</ng-template>

<ng-template #admin_dashboard>
    <div class="p-2 col-12 col-md-10 mx-auto">

        <div class="card">
            <div class="card-header">

                <h4 class="card-title">Les prochains tournois au Club</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Tournoi</th>
                                <th>Heure</th>
                                <th class="text-center">nb paires</th>
                                <th class="text-center"><i class="bi bi-person-arms-up"></i></th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let t of tournaments">
                                <td>{{t.date}}</td>
                                <td>{{t.tournament_name}}</td>
                                <td>{{t.time}}</td>
                                <td class="text-center">{{((t.nbr_inscrit-t.nbr_inscrit%2)/2)}}</td>
                                <td class="text-center"><i *ngIf="t.has_isolated_player"
                                        class="bi bi-person-arms-up"></i>
                                </td>
                                <td class="text-center">
                                    <h4 class="action">
                                        <i (click)="clickOnTournament(t)" *ngIf="!tournamentSelected"
                                            class="bi bi-file-arrow-down-fill"></i>
                                        <i (click)="clickOnTournament(t)" *ngIf="tournamentSelected"
                                            class="bi bi-file-arrow-up-fill"></i>
                                    </h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="tournamentSelected">
                    <app-teams [tournamentTeamsId]="selectedTournament.team_tournament_id"></app-teams>
                </div>
            </div>
        </div>
    </div>
</ng-template>