<!-- <div class="container-md  container-sm-fluid"> -->

<div class="row bg-light shadow-sm align-items-end">
  <h4 class="col-md-auto col-sm-12 mt-2">
    <i class="fs-4 bi-bank nav-link" routerLink="./">
      Administration Bridge Club Saint-Orens
    </i>
  </h4>
  <h5 class="col-md-auto col-sm-12">
    <span class="fs-5"> (saison {{season}}) </span>
    <span class="h6 ms-5 d-none d-sm-inline align-self-end">
      <span class="ms-auto badge bg-dark">{{entries_nbr}}</span>
      <span *ngIf="!production_mode" class="ms-auto badge bg-dark">dev</span>
    </span>
  </h5>

  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" navbar-nav  me-auto mb-md-2 mb-lg-0  align-items-start">


        <li *ngIf="accreditation_level >= accreditation_levels.Contributeur" class="nav-item dropdown me-md-3 me-sm-1">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fs-4 bi-cart"></i> <span class="ms-1 d-none d-sm-inline">Boutique</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <li><a class="dropdown-item  " routerLink="./caisse/produits">vente à adhérents</a></li>
            <li><a class="dropdown-item  " routerLink="./caisse/droits-de-table">tournoi en présentiel</a></li>
            <li><a class="dropdown-item  " routerLink="./caisse/état-de-caisse">état de caisse</a></li>
            <li><a class="dropdown-item  " routerLink="./outils/produits">produits à la vente</a></li>
          </ul>
        </li>

        <li *ngIf="accreditation_level >= accreditation_levels.Contributeur" class="nav-item dropdown me-md-3 me-sm-1">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fs-4 bi-people"></i>
            <span class="ms-1 d-none d-sm-inline">Adhérents</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <li><a class="dropdown-item  " routerLink="./members/database">répertoire</a></li>
            <li><a class="dropdown-item  " routerLink="./members/cartes-admission">cartes admission</a></li>
            <li><a class="dropdown-item  " routerLink="./members/payments">paiements</a></li>
          </ul>
        </li>


        <li *ngIf="accreditation_level >= accreditation_levels.Administrateur"
          class="nav-item dropdown me-md-3 me-sm-1">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fs-4 bi-journal"></i> <span class="ms-1 d-none d-sm-inline">Finance</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <li><a class="dropdown-item  " routerLink="./finance/toutes-ecritures">écritures courantes</a></li>
            <li><a class="dropdown-item  " routerLink="./finance/books/base-comptable">synthèse</a></li>
            <li><a class="dropdown-item  " routerLink="./finance/bank-reconciliation">rapprochement bancaire</a></li>
            <li><a class="dropdown-item  " routerLink="./finance/expense-and-revenue">résultats</a></li>
            <li><a class="dropdown-item  " routerLink="./finance/balance">bilan</a></li>
          </ul>
        </li>

        <!-- Outils -->
        <li *ngIf="accreditation_level >= accreditation_levels.Systeme" class="nav-item dropdown me-md-3 me-sm-1">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fs-4 bi-database-fill-gear"></i> <span class="ms-1 d-none d-sm-inline">Outils</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <li><a class="dropdown-item " routerLink="./finance/books/list">base de données</a></li>
            <li><a class="dropdown-item  " routerLink="./finance/books/editor">écriture</a></li>
            <li><a class="dropdown-item " routerLink="./outils/groups">droits d'accès</a></li>
            <li><a class="dropdown-item " routerLink="./outils/sysconf">configuration</a></li>
            <li><a class="dropdown-item  " routerLink="./outils/excel_import">import excel</a></li>
            <li *ngIf="!production_mode"><a class="dropdown-item  " routerLink="./outils/cloneDB">clone DB</a></li>
          </ul>
        </li>

      </ul>

      <ul class=" navbar-nav align-self-center mb-2 mb-lg-0 ">
        <li class="nav-item  me-md-2 me-sm-1">
          <app-admin-in></app-admin-in>
        </li>
      </ul>

    </div>
  </nav>
</div>