<!-- list DB -->
<div class="p-2 col col-md-8 mx-auto">

    <div class="card">
        <div class="card-header">

            <h5>base FFB : affiliés au BCSTO cette saison</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h6>
                        <span> {{licenseesNbr}} licenciés</span>
                        <span> - {{sympatisantsNbr}} sympathisants</span>
                    </h6>
                    <!-- choix filtre -->
                    <form [formGroup]="radioButtonGroup">
                        <p>
                            Afficher :
                            <ng-container *ngFor="let filter of filters ; let i=index">
                                <input type="radio" [value]="filter" [id]="i" formControlName="radioButton" />
                                {{filter}}
                            </ng-container>
                        </p>
                    </form>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <!-- <th>Id</th> -->
                                <th>#</th>
                                <th>Civilité</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>N° Licence</th>
                                <th class="text-center">réglée</th>
                                <th class="text-center">au Club</th>
                                <th>Ville</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let licensee of filteredLicensees; let i = index">
                                <!-- [class]="licensee.license_id?'':'table-danger'"> -->
                                <td>{{i+1}}</td>
                                <td>{{licensee.gender}}</td>
                                <td>{{licensee.lastname | uppercase}}</td>
                                <td>{{licensee.firstname}}</td>
                                <td>{{licensee.license_number}}</td>
                                <td class="text-center">{{licensee.license_id ? (licensee.free ? '&#10004;': '☑') :
                                    "&#10060;"}}
                                </td>

                                <!-- <td class="text-center">{{licensee.license_id ? '☑' : '☐'}}</td>   -->
                                <!-- <td class="text-center"> {{ (licensee.orga_license_id == 1438) ? "":'&#9745;' }}                        </td> -->
                                <td class="text-center">
                                    {{(licensee.license_id !== null && (licensee.orga_license_id ===undefined )) ? '☑' :
                                    "" }}
                                </td>
                                <td>
                                    {{licensee.city ? (licensee.city | capitalize_first) : ''}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

</div>