<!-- <div class="loadable-wrapper offset-md-2 col-md-8 justify-content-start"> -->
  @if (snippets.length === 0) {
    <div class="alert alert-info">Aucun contenu à afficher.</div>
  }
  @for (snippet of snippets; track snippet.id) {
    <div class="card nice_shadow mb-2">
      <div class="card-body">
        <div class="card-title">
            <i [class]="'text-success ' + doc_icon(snippet.file)" style="font-size: 2em;"></i>
            {{snippet.title}}
        <button
          class="btn btn-sm float-end btn-outline-secondary"
          (click)="downloadDocument(snippet)"
        >
          <span class="bi bi-download"></span>
          Télécharger
        </button>
        </div>
        <div class="card-text tighter-html" [innerHTML]="snippet.content"></div>
      </div>
    </div>
  }
<!-- </div> -->
