<div *ngIf="me" class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Mes données personnelles</h5>
        </div>
        <div class="card-body">
            {{me.gender}} {{me.firstname}} {{me.lastname}}
            <br>
            mail : {{me.email}}
            <br>
            dernière saison active : {{me.season}}
            <br>
            {{me.is_sympathisant ? 'sympathisant' : 'membre'}} du BCSTO
            <br>
        </div>
    </div>
    <div class="card  mt-2">
        <div class="card-header">
            <h5 class="card-title">achats de l'année</h5>
        </div>
        <div class="card-body">
            <p>service à venir </p>

        </div>
    </div>
</div>