<div class="row row-cols-2 row-cols-md-6 g-2">
    <div class="col" *ngFor="let snippet of snippets; trackBy: trackById">
        <div class="card h-100 nice_shadow">
            <img [src]="snippet.image_url" class="img-fluid rounded-start"
                style="max-width: 100%; max-height: 20vh; object-fit: cover;" alt="{{snippet.title}}">
            <div class="card-body text-center">
                <h5 class="card-title mb-1">{{snippet.title}}</h5>
                <h6 class="card-title mb-1">{{snippet.subtitle}}</h6>
            </div>
        </div>
    </div>
</div>