<div *ngIf="menus.length>0" class="container ">
    <h5>Les pages</h5>
    <form [formGroup]="pageGroup">
        <table class="table">

            <thead>

                <tr>
                    <th class="col-2">id menu</th>
                    <th class="col-2">label menu</th>
                    <th class="col-2">link</th>
                    <th class="col-2">layout</th>
                    <th class="col-2">title</th>
                    <th class="col-1">nb articles</th>
                    <th class="col-1">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let page of pages">
                    <td class="table-info">...{{page.menuId | slice:-8}}</td>
                    <td class="table-info">{{getMenu(page.menuId)?.label }}</td>
                    <td>{{page.link}}</td>
                    <td>{{page.layout}}</td>
                    <td>{{page.title}}</td>
                    <td>{{page.articles?.length}}</td>
                    <!-- <td>{{page.rootpage}}</td>
                    <td>{{page.subpages?.length ?? 0}}</td> -->
                    <td class="col-2">
                        <div class=" btn-group role=group">

                            <button class="btn btn-sm btn-primary" (click)="editPage(page)">Edit</button>
                            <button class="btn btn-sm btn-warning ms-1" (click)="deletePage(page.id!)">delete</button>
                        </div>
                    </td>
                </tr>
                <tr></tr>
                <!-- bandeau creation/modification -->

            </tbody>
        </table>
    </form>
</div>