<div class="offset-md-1 col-md-10 offset-xl-2 col-xl-8 ">
    <div class="card mt-3">
        <div class="card-header">
            <div class="row justify-content-start align-items-center">
                <div class="col-auto col-md-5 ">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {{volume_name}}
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto col-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" 
                            [checked]="showThumbnails" (change)="toggleThumbnails()">
                        <label class="form-check-label">voir thumbnails</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="">
                    <div class="row justify-content-start align-items-center">
                        <div *ngFor="let root_folder of root_folders"
                            class="col-1">
                            <i class="bi bi-folder-fill text-success" (click)="select_root_folder(root_folder)"
                                style="font-size: 40px; line-height: 1; margin-bottom:0; padding-bottom:0;"></i>
                            <span class="text-center"
                                style="font-size: 12px; margin-top:-1px; padding-top:0; line-height:1;">{{ root_folder
                                }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row align-items-center justify-items-center ">

                <div class="col-4">
                    <button class="btn btn-sm btn-secondary" (click)="updateAlbumThumbnail()">
                        <i class="bi bi-balloon-fill"></i>
                    </button>
                    <span class="ms-1"> regéneration des vignettes</span>
                </div>

                <div class="col-8">
                    @if ( progress > 0 ) {
                    <div class="progress flex-grow-1 mb-0" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="100">
                        <div class="progress-bar  bg-success" [style.width.%]="progress"></div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>