
<div class="p-0 m-0" style="width: 100%; overflow-x: hidden;">
  <!-- <div class="ms-0"> -->
    <app-back-navbar [season]="(season$ | async) ?? ''" [entries_nbr]="(book_entries_number$ | async) ?? 0"
    ></app-back-navbar>
  <!-- </div> -->
  <div class="container-fluid justify-content-center admin-scrollable-content" style="padding-left: 0; padding-right: 0;">
    <app-toaster></app-toaster>
    <router-outlet></router-outlet>
  </div>
  <!-- Footer bandeau - ajoutez votre contenu de pied de page ici -->
  <!-- <div class="admin-footer">Contenu du pied de page</div> -->
</div>