
<div class="p-0 m-0 admin-container">
  <div style="position: sticky; top: 0; z-index: 1030;">
    <app-back-navbar [season]="(season$ | async) ?? ''" [entries_nbr]="(book_entries_number$ | async) ?? 0"
    ></app-back-navbar>
  </div>
  <div class="container-fluid justify-content-center admin-scrollable-content" style="overflow-x: hidden;">
    <app-toaster></app-toaster>
    <router-outlet></router-outlet>
  </div>
  <div class="d-none d-md-block" style="position: sticky; bottom: 0; z-index: 1030;">
    <app-breaking-news-display></app-breaking-news-display>
  </div>
</div> 