.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight > .nav-item,
.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight > .dropdown,
.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight > .nav-link,
.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight ul.list-unstyled > li,
.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight .nav-link {
    font-size: 0.92rem !important;
    line-height: 1.02 !important;
    padding-top: 0.02rem !important;
    padding-bottom: 0.02rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    min-height: 1em !important;
}
.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight > .nav-item,
.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight > .dropdown,
.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight > .nav-link,
.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight ul.list-unstyled > li {
    font-size: 0.85rem !important;
    line-height: 0.85 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
// Compacte les lignes du menu mobile
.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight > .nav-item,
.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight > .dropdown,
.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight > .nav-link,
.offcanvas.offcanvas-start .navbar-nav.menu-sm-tight ul.list-unstyled > li {
    line-height: 1 !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
// Offcanvas mobile menu custom style

.offcanvas-narrow {
    max-width: 250px !important;
    background-color: #fff !important;
}


.navbar-collapse {
    align-items: center;
}

// Taille du logo navbar 
.logo-overlap {
    width: 4em;
    min-width: 4em;
    height: 0;
    display: inline-block;
}

.logo-navbar {
    height: 4em;
    max-height: 136px;
    width: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 0.25em;
    z-index: 10;
}

// Logo overlap styles
.logo-overlap {
    z-index: 2;
    position: relative;
}