<!-- <div class="container-md  container-sm-fluid"> -->

<div class="row bg-light shadow-sm align-items-end">
  <h4 class="d-flex d-inline align-items-end mt-2">
    <span class="position-relative">
      <i class="fs-4 bi-bank nav-link" routerLink="./"></i>
    </span>
    <span class=" badge  bg-success" style="font-size: 0.6rem;">{{entries_nbr}}</span>
    <span *ngIf="!production_mode" class="badge bg-dark" style="font-size: 0.6rem;">dev</span>

    <span class="d-sm-inline d-md-none fs-4 ms-1">BSTO {{season}}</span>
    <span class="d-none d-md-inline fs-4 ms-1">
      Bridge Club
      <span style="white-space:nowrap">Saint-Orens</span>
      (saison {{season}})
    </span>

    <!-- backdoor to front -->
    <span class="h6 ms-auto d-none d-sm-inline align-self-end">
      <a [routerLink]="'/front'">
        <i class="bi bi-door-open-fill"></i>
      </a>
    </span>
  </h4>
  <!-- <h5 class="col-md-auto col-sm-12">
  </h5> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm ps-2">

    <button class="navbar-toggler" type="button" (click)="toggleCollapse()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">

  <ul class="navbar-nav me-auto mb-md-0 mb-lg-0 align-items-start menu-sm-tight">

        <li *ngIf="accreditation_level >= accreditation_levels.Contributeur" ngbDropdown
          class="nav-item dropdown me-md-3 me-sm-1">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="#">
            <i class="fs-4 bi-cart"></i> <span class="ms-1">Boutique</span>
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="./caisse/ventes" (click)="closeBurger()">vente à adhérents</a></li>
            <li><a class="dropdown-item" routerLink="./caisse/droits-de-table" (click)="closeBurger()">tournoi en présentiel</a></li>
            <li><a class="dropdown-item" routerLink="./caisse/produits" (click)="closeBurger()">produits à la vente</a></li>
          </ul>
        </li>
        
        <li *ngIf="accreditation_level >= accreditation_levels.Contributeur" ngbDropdown
          class="nav-item dropdown me-md-3 me-sm-1">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="#">
            <i class="fs-4 bi-people"></i>
            <span class="ms-1">Adhérents</span>
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="./members/database" (click)="closeBurger()">répertoire</a></li>
            <li><a class="dropdown-item" routerLink="./members/cartes-admission" (click)="closeBurger()">cartes admission</a></li>
            <li><a class="dropdown-item" routerLink="./members/payments" (click)="closeBurger()">paiements</a></li>
          </ul>
        </li>
        
        
        <li *ngIf="accreditation_level >= accreditation_levels.Administrateur" ngbDropdown
          class="nav-item dropdown me-md-3 me-sm-1">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="#">
            <i class="fs-4 bi-journal"></i> <span class="ms-1">Finance</span>
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="./finance/état-de-caisse" (click)="closeBurger()">état de caisse</a></li>
            <li><a class="dropdown-item" routerLink="./finance/toutes-ecritures" (click)="closeBurger()">écritures courantes</a></li>
            <li><a class="dropdown-item" routerLink="./finance/books/base-comptable" (click)="closeBurger()">synthèse</a></li>
            <li><a class="dropdown-item" routerLink="./finance/bank-reconciliation" (click)="closeBurger()">rapprochement bancaire</a></li>
            <li><a class="dropdown-item" routerLink="./finance/expense-and-revenue" (click)="closeBurger()">résultats</a></li>
            <li><a class="dropdown-item" routerLink="./finance/balance" (click)="closeBurger()">bilan</a></li>
          </ul>
        </li>

        <!-- Outils -->
        <li *ngIf="accreditation_level >= accreditation_levels.Systeme" ngbDropdown
          class="nav-item dropdown me-md-3 me-sm-1">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="#">
            <i class="fs-4 bi-database-fill-gear"></i> <span class="ms-1">Outils</span>
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="./finance/books/list" (click)="closeBurger()">base de données</a></li>
            <li><a class="dropdown-item" routerLink="./finance/books/editor" (click)="closeBurger()">écriture</a></li>
            <li><a class="dropdown-item" routerLink="./outils/groups" (click)="closeBurger()">droits d'accès</a></li>
            <li><a class="dropdown-item" routerLink="./outils/sysconf" (click)="closeBurger()">configuration</a></li>
            <li *ngIf="!production_mode"><a class="dropdown-item" routerLink="./outils/excel_import" (click)="closeBurger()">import excel</a></li>
            <li *ngIf="!production_mode"><a class="dropdown-item" routerLink="./outils/cloneDB" (click)="closeBurger()">clone DB</a></li>
          </ul>
        </li>

        <!-- site -->
        <li *ngIf="accreditation_level >= accreditation_levels.Administrateur" ngbDropdown
          class="nav-item dropdown me-md-3 me-sm-1">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="#">
            <i class="fs-4 bi-globe2"></i> <span class="ms-1">Site web</span>
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <!-- <li><a class="dropdown-item" routerLink="./site/thumbnails">vignettes</a></li> -->
            <li><a class="dropdown-item" routerLink="./site/pages" (click)="closeBurger()">les pages</a></li>
            <li><a class="dropdown-item" routerLink="./site/disk" (click)="closeBurger()">les données</a></li>
            <li><a class="dropdown-item" routerLink="/front" (click)="closeBurger()">aller au site</a></li>
          </ul>
        </li>

        <!-- connexion -->

        <li *ngIf="!(logged_member$ | async)" ngbDropdown>
          <button class="btn btn-secondary shadow-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#loggingOffCanvas"
            aria-controls="loggingOffCanvas">
            connexion
          </button>
        </li>

        <li *ngIf="(logged_member$ | async) " ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="#">
            <!-- <span class="d-none d-sm-inline"> -->
            <i class="fs-4 bi-person-circle"></i>
            <span class="ms-1">{{ (logged_member$ | async)?.firstname }}</span>
            <!-- </span>
            <span class="d-inline d-sm-none">
              <i class="fs-4 bi-person-circle"></i> -->
            <!-- </span> -->
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li> <a class="dropdown-item" (click)="signOut()">
                <i class="bi bi-box-arrow-right"></i>
                Déconnexion
              </a></li>
          </ul>
        </li>

      </ul>


      <!-- <div class="d-flex justify-content-end w-100">
        <ul class="navbar-nav ms-auto mb-md-0 mb-lg-0 align-items-end">
          </li>
        </ul>
      </div> -->


    </div>
  </nav>


  <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="loggingOffCanvas"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel">Se connecter</h5>
      <button (click)="onCanvasClose()" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <app-connexion></app-connexion>
    </div>
  </div>

</div>