.dropdown-menu {
    z-index: 1050 !important;
    position: absolute;
}
// .title {
//     // padding: .5rem 0;
//     background: #b64040;
// }

// .top-bar a {
//     color: #666666;
// }

// .navbar {
//     background: #fff;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
//     padding:  0 0 !important;
// }

// get dropdown menu to work  on hover
.menu-sm-tight.navbar-nav > .nav-item,
.menu-sm-tight.navbar-nav > .dropdown,
.menu-sm-tight.navbar-nav > .nav-link,
.menu-sm-tight.navbar-nav .dropdown-menu,
.menu-sm-tight.navbar-nav .dropdown-item {
    margin-bottom: 0.1rem !important;
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
}

@media (max-width: 767.98px) {
    .menu-sm-tight.navbar-nav > .nav-item,
    .menu-sm-tight.navbar-nav > .dropdown,
    .menu-sm-tight.navbar-nav > .nav-link {
        font-size: 0.9rem !important;
        line-height: 1 !important;
        margin-bottom: 0.05rem !important;
        padding-top: 0.05rem !important;
        padding-bottom: 0.05rem !important;
    }
    .menu-sm-tight.navbar-nav i[class^="bi-"] {
        font-size: 1.1rem !important;
        vertical-align: middle;
    }
}
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}