<div class="bg-light p-0 m-0" style="width: 100%;">
  <div id="navbar-header" class="d-flex d-inline align-items-start w-100 bg-dark px-2 pt-1 pb-1 position-relative">
    <!-- Mobile sidebar toggle button -->
    <button *ngIf="(logged_member$ | async)" class="btn btn-outline-secondary d-md-none text-center" type="button"
      data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar" aria-controls="mobileSidebar">
      <i class="bi bi-list text-start"></i>
    </button>


    <span class="d-none d-md-inline logo-overlap" style="margin-right:0.5em;">
      <img src="admin.jpg" alt="BCSTO logo" class="me-1 logo-navbar"
        style="height:2.7em;max-height:56px;width:auto;display:block;" />
    </span>

    <span class="d-none d-md-inline fs-5 ms-1" style="padding-left:1em;">
      Bridge Club <span style="white-space:nowrap">Saint-Orens</span>
      - saison {{season}}
      <span class="badge bg-success" style="font-size: 0.6rem;">{{entries_nbr}}</span>
      <span *ngIf="!production_mode" class="badge bg-dark" style="font-size: 0.6rem;">dev</span>
    </span>

    <span class="d-sm-inline d-md-none fs-5 ms-1">BCSTO {{season}}</span>

    <!-- backdoor to front -->
    <div class="d-flex ms-auto align-items-end me-2">
      <span class=" ms-4 d-none d-sm-inline ">
        <a [routerLink]="'/front'">
          <i class="bi bi-door-open-fill "></i>
        </a>
      </span>
    </div>
  </div>

  <!-- Desktop navigation -->
  <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm d-none d-md-block py-0" style="padding-left:0; width: 100%;">
    <div class="navbar-collapse d-flex" style="padding-left:0; width: 100%;">
      <!-- <ul class="navbar-nav me-auto mb-md-0 mb-lg-0 align-items-start menu-sm-tight">
      </ul> -->
      <ul class="navbar-nav mb-0 mt-0 align-items-end" style="padding-left:0; flex-wrap: wrap; gap: 0.15rem; row-gap: 0.1rem;">
        <ng-container *ngFor="let menu of navbarMenus">
          <li *ngIf="accreditation_level >= (menu.minLevel || 0) && (!menu.adminOnly || accreditation_level >= accreditation_levels.Administrateur) && (!menu.isDev || !production_mode) && (!menu.isSystem || accreditation_level >= accreditation_levels.Systeme)" class="nav-item" [ngClass]="{'dropdown': menu.subMenus}">
            <ng-container *ngIf="!menu.subMenus">
              <a class="nav-link d-flex align-items-center px-2" [routerLink]="menu.route" style="font-size: 0.875rem; padding-top: 0.25rem; padding-bottom: 0.25rem;">
                <i *ngIf="menu.icon" class="bi {{menu.icon}}" style="font-size: 0.95rem;"></i>
                <span class="ms-1">{{menu.label}}</span>
              </a>
            </ng-container>
            <ng-container *ngIf="menu.subMenus">
              <a class="nav-link dropdown-toggle d-flex align-items-center px-2" href="#" id="navbarDropdown{{menu.label}}" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 0.875rem; padding-top: 0.25rem; padding-bottom: 0.25rem;">
                <i *ngIf="menu.icon" class="bi {{menu.icon}}" style="font-size: 0.95rem;"></i>
                <span class="ms-1">{{menu.label}}</span>
              </a>
              <ul class="dropdown-menu" [attr.aria-labelledby]="'navbarDropdown' + menu.label">
                <ng-container *ngFor="let sub of menu.subMenus">
                  <li *ngIf="!sub.adminOnly || accreditation_level >= accreditation_levels.Administrateur">
                    <a class="dropdown-item" [routerLink]="sub.route">{{sub.label}}</a>
                  </li>
                </ng-container>
              </ul>
            </ng-container>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>

  <!-- Mobile sidebar (offcanvas) -->
  <div class="offcanvas offcanvas-start offcanvas-narrow offcanvas-below-header d-md-none" tabindex="-1" id="mobileSidebar"
    aria-labelledby="mobileSidebarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="mobileSidebarLabel">Back office</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">
      <ul class="navbar-nav menu-sm-tight">
        <ng-container *ngFor="let menu of navbarMenus">
          <li *ngIf="!menu.isUser && (accreditation_level >= (menu.minLevel || 0) && (!menu.adminOnly || accreditation_level >= accreditation_levels.Administrateur) && (!menu.isDev || !production_mode) && (!menu.isSystem || accreditation_level >= accreditation_levels.Systeme))" class="nav-item ms-2">
            <ng-container *ngIf="!menu.subMenus">
              <a class="nav-link d-flex align-items-center" [routerLink]="menu.route" data-bs-dismiss="offcanvas">
                <i *ngIf="menu.icon" class="bi {{menu.icon}}"></i>
                <span class="ms-1">{{menu.label}}</span>
              </a>
            </ng-container>
            <ng-container *ngIf="menu.subMenus && menu.key">
              <div class="d-flex align-items-center">
                <span class="nav-link p-0 pe-2" style="cursor:pointer;">
                  <i *ngIf="menu.icon" class="bi {{menu.icon}}"></i> <span class="ms-1">{{menu.label}}</span>
                </span>
              </div>
              <ul class="list-unstyled">
                <ng-container *ngFor="let sub of menu.subMenus">
                  <li class="ms-4">
                    <a class="nav-link" [routerLink]="sub.route" data-bs-dismiss="offcanvas" *ngIf="!sub.adminOnly || accreditation_level >= accreditation_levels.Administrateur">{{sub.label}}</a>
                  </li>
                </ng-container>
              </ul>
            </ng-container>
          </li>
        </ng-container>
        <!-- Bloc utilisateur en bas du menu -->
        <ng-container *ngFor="let menu of navbarMenus">
          <li *ngIf="menu.isUser" class="nav-item ms-2 mt-3 border-top pt-2">
            <div class="d-flex align-items-center">
              <i *ngIf="menu.icon" class="bi {{menu.icon}} me-2"></i>
              <span class="fw-bold">{{menu.label}}</span>
            </div>
            <ul class="list-unstyled ms-4 mt-1">
              <ng-container *ngFor="let sub of menu.subMenus">
                <li>
                  <a class="nav-link text-danger" [routerLink]="sub.route" data-bs-dismiss="offcanvas">
                    <i *ngIf="sub.icon" class="bi {{sub.icon}} me-1"></i>{{sub.label}}
                  </a>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>

</div>