.action {
    color: blue;
}

.stamp {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, 0%);
    color: rgb(8, 98, 23);
    font-size: 1.5em;
    text-shadow: 5px 5px 5px black;
}

.nav-link {
    color: #666666;
    text-decoration: none;
}

.nav-link.active {
    color: #1e0450;
    background-color: #666666;
    text-decoration: none;
}

.nav-link:hover {
    color: #1e0450;
    text-decoration: none;
}