<div class="row">
    <h5 class="text-center">
        Les prochains tournois au Club
        <i class="ms-1 bi-arrow-clockwise" (click)="loadTournamentTeams()"></i>
    </h5>
</div>

<div class="card my-1 w-100" *ngFor="let t of next_tournament_teams" (click)="goToTournamentTeams(t)"
    style="cursor: pointer;">
    <div [class]="tournamentClass(t.subscription_tournament.organization_club_tournament.tournament_name).card"
        style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
        <span class="stamp">
            <i
                [class]="tournamentClass(t.subscription_tournament.organization_club_tournament.tournament_name).icon"></i>
        </span>
        <div class="card-body">
            <div class="card-title">
                <div class="row text-center">
                    <h6>{{t.subscription_tournament.organization_club_tournament.date }}</h6>
                    <h6 class="text-center">{{t.subscription_tournament.organization_club_tournament.tournament_name}}
                    </h6>
                </div>
            </div>
            <div class="card-text">
                <div *ngIf="t.teams && t.teams.length > 0">
                    <small>
                        paires inscrites : {{(t.teams.length - t.isolated_player_count)}}
                    </small>
                </div>
                <div *ngIf="t.isolated_player_count > 0">
                    <small>
                        + {{t.isolated_player_count}}
                        <i class="bi bi-person-arms-up"> </i>
                        <span class="text-info-emphasis">cherche partenaire </span>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>

