<div class="offset-xl-2 col-xl-8 px-2 mt-3">
    @if (loaded) {
    <h5>Contrôle de cohérence des payments licences et adhésions</h5>

    <div class="row row-cols-1 row-cols-md-2 g-3 mt-2">
        <div class="col">
            <div [class]="' card nice_shadow h-100 ' + (collectedLicenses.length > 0 ? 'border-danger' : '')">
                <div class="card-header">
                    <strong> [LIC]->FFB : </strong>
                    Licences perçues à enregistrer à la FFB
                </div>
                <div class="card-body">
                    @if (collectedLicenses.length > 0) {
                    <ul>
                        @for (full_name of collectedLicenses; track full_name) {
                        <li>{{full_name}}</li>
                        }
                    </ul>
                    } @else {
                    <div class="text-muted">
                        <i class="bi bi-check-circle"></i> Toutes les licences perçues ont été déclarées à la FFB
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div [class]="' card nice_shadow h-100 ' + (membersToBeDeclaredAtFFB_nbr > 0 ? 'border-danger' : '')">
                <div class="card-header">
                    <strong> [ADH]->FFB ?: </strong>
                    Adhérents à éventuellement déclarer à la FFB
                </div>
                <div class="card-body ">
                    @if (membersNotDeclaredAtFFB.length > 0) {
                    <ul>
                        @for (member of membersNotDeclaredAtFFB; track member.full_name) {
                        <li>
                            <span [class]="member.license_number !== 'none' ? 'fw-bold' : ''">{{member.full_name}}</span>
                            @if (member.license_number !== 'none') { <span> ({{member.license_number}})</span> }
                        </li>
                        }
                    </ul>
                    } @else {
                    <div class="text-muted">
                        <i class="bi bi-check-circle"></i> Toutes les adhérents déclarables à la FFB ont été déclarés
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div [class]="' card nice_shadow h-100 ' + (missingMembership.length > 0 ? 'border-danger' : '')">
                <div class="card-header">
                    <strong> FFB->[ADH] : </strong>
                    licenciés FFB n'ayant pas réglé leur adhésion
                </div>
                <div class="card-body">
                    @if (missingMembership.length > 0) {
                    <ul>
                        @for (full_name of missingMembership; track full_name) {
                        <li>{{full_name}}</li>
                        }
                    </ul>
                    } @else {
                    <div class="text-muted">
                        <i class="bi bi-check-circle"></i> Tous les membres déclarés à la FFB sont à jour de leur
                        adhésion
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div [class]="' card nice_shadow h-100 ' + (buyWithoutMembership.length > 0 ? 'border-danger' : '')">
                <div class="card-header">
                    <strong> [*]->[ADH] : </strong>
                    membres achetant sans avoir réglé leur adhésion
                </div>
                <div class="card-body">
                    @if (buyWithoutMembership.length > 0) {
                    <ul>
                        @for (full_name of buyWithoutMembership; track full_name) {
                        <li>{{full_name}}</li>
                        }
                    </ul>
                    } @else {
                    <div class="text-muted">
                        <i class="bi bi-check-circle"></i> Tous les membres sont à jour de leur
                        adhésion
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <div class="card nice_shadow ">
            <div class="card-header">
                <div class="row mb-2 align-items-center mx-0">
                    <div class="col-auto">
                        <strong>Paiements adhérent : </strong>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <app-input-member class="form-control form-control-sm" [members]="members"
                                [(ngModel)]="selected_member" (ngModelChange)="member_selected()"></app-input-member>
                            <button class="btn btn-sm " (click)="member_clear()">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="row mx-0">
                    <div class="col px-0">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Achat</th>
                                        <th>Remarque</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (achat_vente of achats_ventes; track $index) {
                                    <tr>
                                        <td>
                                            {{ achat_vente.date | date:'EEEE d MMMM y':'':'fr-FR' }}
                                        </td>
                                        <td>
                                            @for (item of achat_vente.items; track $index) {
                                                @if (item.type === 'revenue') {
                                                    {{ item.description }} : {{ item.amount |
                                                    currency:'EUR':'symbol':'1.2-2' }}
                                                }
                                            }
                                        </td>
                                        <td>
                                            @for (item of achat_vente.items; track $index) {
                                                @if (item.type === 'bancaire') {
                                                    {{ item.description }} : {{ item.amount |
                                                    currency:'EUR':'symbol':'1.2-2' }}
                                                }
                                            }
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <div class="card nice_shadow ">
            <div class="card-header">
                <strong>Historique par compte de résultats</strong>
                <select class="form-select form-select-sm d-inline w-auto ms-2" [(ngModel)]="selected_account"
                    (change)="onAccountKeyChange($event)">
                    @for (account of accounts; track account.key) {
                    <option [ngValue]="account">
                        {{ account.key }}
                    </option>
                    }
                </select>
                <span class="text-muted ms-2">{{selected_account?.description}}</span>
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped table-hover mb-0 mt-2">
                    <thead class="bg-light" style="position: sticky; top: 0; z-index: 2;">
                        <tr>
                            <th>[{{selected_account?.key}}] Adhérents</th>
                            @for (month of [7, 8, 9, 10, 11, 12,1, 2, 3, 4, 5, 6 ]; track $index) {
                            <th class="text-center">{{ month < 10 ? ('0' + month) : month }}</th>
                            }
                        </tr>
                    </thead>
                    @if (selected_account) {
                    <tbody>
                        @for (payment of payments | keyvalue; track payment.key) {
                        <tr>
                            <td>
                                {{ payment.key }}
                            </td>
                            @for (month of [7, 8, 9, 10, 11, 12,1, 2, 3, 4, 5, 6 ]; track $index) {
                            <td class="w-10 text-center">
                                @if (payment.value[month]) {<span>{{ payment.value[month] }}</span>}
                            </td>
                            }
                        </tr>
                        }
                    </tbody>
                    }

                </table>

            </div>

        </div>
    </div>
}