<div class="row mt-3 mx-0">
    <div *ngIf="loaded" class="col-md-8">
        <div class="card shadow-sm ">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>saison {{season}} : interrogation achats membre </h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-2 align-items-center mx-0">
                    <div class="col-auto">
                        <span class="text-muted">recherche par adhérent : </span>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <app-input-member class="form-control form-control-sm" [members]="members"
                                [(ngModel)]="selected_member" (ngModelChange)="member_selected()"></app-input-member>
                            <button class="btn btn-sm " (click)="member_clear()">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mx-0">
                    <div class="col px-0">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped table-hover mb-0">
                               <thead>
                    <tr>
                        <th>Date</th>
                        <th>Achat</th>
                        <th>Remarque</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let achat_vente of achats_ventes">
                        <td>
                            {{ achat_vente.date | date:'EEEE d MMMM y':'':'fr-FR' }}
                        </td>
                        <td>
                            <span *ngFor="let item of achat_vente.items">
                                <span *ngIf="item.type === 'revenue'">
                                    {{ item.description }} : {{ item.amount | currency:'EUR':'symbol':'1.2-2' }}
                                </span>
                            </span>
                        </td>
                        <td>
                            <span *ngFor="let item of achat_vente.items">
                                <span *ngIf="item.type === 'bancaire'">
                                    {{ item.description }} : {{ item.amount | currency:'EUR':'symbol':'1.2-2' }}
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="unregistrated > 0" class="col-md-4">
        <div class="card  shadow-sm">
            <div class="card-header"> Vérification paiements licences entre BCSTO et FFB</div>
            <div class="card-body">
                <pre class="card-text">{{verbose()}}</pre>
            </div>
        </div>
    </div>
</div>