
.warning-radio .form-check-input {
    background-color: coral;
    border-color: coral;
}

.bottom_div {
    margin-top: auto;
}

#print_zone {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 85vh;
}

.blink {
  animation: blink-animation 3s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* More visible gray for passed & upcoming tournaments */
.card-passedOrupcoming {
  background-color: #e9ecef !important; /* Bootstrap gray-200 */
  border-color: #dee2e6 !important;     /* Bootstrap gray-300 */
}