<table class="table table-striped">
    <thead>
        <tr>
            <!-- <th>Saison</th> -->
            <th scope="col">montant</th>
            <th scope="col">Payé par</th>
            <th scope="col">Mode</th>
            <!-- <th scope="col">Banque</th> -->
            <th scope="col">Cheque No</th>
            <!-- <th scope="col">CA</th> -->
            <!-- Add more headers as needed -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let payment of payments">
            <!-- <td>{{ payment.season }}</td> -->
            <td>{{ payment.amount | currency:'€':'symbol':'2.2-2':'fr' }}</td>
            <td>{{payer_name (payment.payer_id )}}</td>
            <td>{{ payment.payment_mode }}</td>
            <!-- <td>{{ payment.bank }}</td> -->
            <td>{{ payment.cheque_no }}</td>
            <!-- <td>{{ payment.cross_checked }}</td> -->
            <td colspan="4">
                <table class="table table-sm">
                    <!-- <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        <tr *ngFor="let sale of payment.sales">
                            <td>{{getProduct(sale.product_id).glyph}}</td>
                            <td>{{sale.price_payed | currency:'€':'symbol':'2.2-2':'fr'}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>