<div class="mt-3">
    <div class="card shadow-sm">
        <h5 class="card-header">Les articles</h5>
        <div class="card-body">
            <form [formGroup]="snippetForm">
                <table *ngIf="snippets" class="table">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Sous-titre</th>
                            <th>Contenu</th>
                            <th>Page</th>
                            <th>1ere page</th>
                            <!-- <th>rang</th> -->
                            <th>image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let snippet of snippets">
                            <td>{{ snippet.title }}</td>
                            <td>{{ snippet.subtitle }}</td>
                            <td>{{ snippet.content | rmbrackets }}</td>
                            <td class="text-start">{{ snippet.template }}</td>
                            <td class="text-center">
                                <div class="mx-auto form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        [checked]="snippet.featured" disabled>
                                </div>
                            </td>
                            <!-- <td class="text-center">{{ snippet.rank }}</td> -->
                            <td class="text-start">
                                <img *ngIf="snippet.image" [src]="snippet.image" alt="{{ snippet.title }}"
                                    class="img-fluid">
                            </td>
                            <td class="text-center ">
                                <button class="btn btn-outline-primary">
                                    <i (click)="onSelectSnippet(snippet)" class="bi bi-pen"></i>
                                </button>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td> <input type="text" class="form-control" formControlName="title"> </td>
                            <td> <input type="text" class="form-control" formControlName="subtitle"> </td>
                            <td (click)="onModalEditSnippetContent()"> <input type="text" class="form-control"
                                    formControlName="content"> </td>
                            <td class="text-start"> <input list="datalist" type="text" class="form-control" formControlName="template">
                                <datalist id="datalist">
                                    <option *ngFor="let template of templates" [value]="template">
                                        {{ template }}
                                    </option>
                                </datalist>
                            </td>
                            <td class="text-center">
                                <div class="mx-auto  form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        formControlName="featured">
                                </div>
                            </td>
                            <!-- <td> <input type="text" class="form-control" formControlName="rank"> </td> -->
                            <td> <input type="text" class="form-control" formControlName="image"> </td>

                            <td class="text-center ">
                                <button class="btn btn-primary btn-sm" [disabled]="!form_valid"
                                    (click)="onSaveSnippet()">
                                    <i class="bi bi-check2-square"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
</div>