<div *ngIf="snippets" class="mt-3">

    <form [formGroup]="snippetForm" >
        <table class="table table-sm table-responsive" style="z-index: 1;">
            <thead >
                <tr>
                    <th class=" sticky-top">Titre</th>
                    <th class=" sticky-top">Sous-titre</th>
                    <th class=" sticky-top">Contenu</th>
                    <th class=" text-center sticky-top">public</th>
                    <th class=" sticky-top">image</th>
                    <th class=" sticky-top">fichier</th>
                    <th class=" sticky-top">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-secondary" #snippetsEditor>
                    <td> <input type="text" class="form-control" formControlName="title"> </td>
                    <td> <input type="text" class="form-control" formControlName="subtitle"> </td>
                    <td (click)="onModalEditSnippetContent()"> <input type="text" class="form-control"
                            formControlName="content"> </td>
                    <td class="text-center">
                        <div class="mx-auto form-switch ">
                            <input class="form-check-input" type="checkbox" role="switch" formControlName="public">
                        </div>
                    </td>
                    <td> <input type="text" list="image_datalist" class="form-control" formControlName="image"> 
                        <datalist id="image_datalist">
                            <option *ngFor="let path of thumbnails$ | async" [value]="path">
                                {{ path }}
                            </option>
                        </datalist>
                    </td>
                    <td> <input type="text" list="file_datalist" class="form-control" formControlName="file">
                        <datalist id="file_datalist">
                            <option *ngFor="let path of file_paths$ | async" [value]="path">
                                {{ path }}
                            </option>
                        </datalist>
                    </td>

                    <td class="text-center ">
                        <button class="btn btn-primary btn-sm" [disabled]="!form_valid" (click)="onSaveSnippet()">
                            <i class="bi bi-check2-square"></i></button>
                    </td>
                </tr>
            </tbody>
                <tbody class="overflow-y-scroll">
                    <tr *ngFor="let snippet of snippets">
                        <td>{{ snippet.title }}</td>
                        <td>{{ snippet.subtitle }}</td>
                        <td>{{ snippet.content | rmbrackets | truncate : 50}}</td>
                        <td class="text-center">
                            <div class="mx-auto form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    [checked]="snippet.public" disabled>
                            </div>
                        </td>
                        <td *ngIf="snippet.image" class="text-start">
                            <!-- {{presigned_url(snippet.image) | async}} -->
                            <img *ngIf="snippet.image" [src]="snippet.image_url" alt="{{ snippet.title }}"
                                class="img-fluid snippet-img-limited">
                        </td>
                        <td *ngIf="!snippet.image" class="text-start">
                            <span class="text-muted">Aucune image</span>
                        </td>
                        <td>{{snippet.file}}</td>
                        <td class="text-center ">
                            <div class="d-flex gap-2 justify-content-center">
                                <button class="btn btn-outline-primary btn-sm">
                                    <i (click)="onSelectSnippet(snippet); scrollToTableEnd(snippetsEditor)"
                                        class="bi bi-pen"></i>
                                </button>
                                <button class="btn btn-outline-danger btn-sm">
                                    <i (click)="onDeleteSnippet(snippet)" class="bi bi-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr></tr>

                </tbody>
        </table>
    </form>
</div>