<div *ngIf="members" class="p-2 col col-md-8 mx-auto">
    <div class="card">
        <div class="card-header">

            <h5>Adhérents au Club</h5>
        </div>
        <div class="card-body">


            <div class="row">
                <div class="col-md-6">
                    {{filteredMembers.length}} adhérents affichés
                    <h6>
                        <div> {{licensees.length}} adhérents (ou sympathisants) dans la base FFB</div>
                        <div> {{members.length}} noms dans la base BCSTO</div>
                        <div> {{thisSeasonMembersNbr}} adhérents cette saison dans la base BCSTO </div>
                    </h6>
                </div>

                <!-- ajout d'un adhérent supplémentaire -->
                <div class="col-md-6">
                    <app-input-player listeId="new_guest" placeholder="adhérent supplémentaire" type="text"
                        class="form-control" [(ngModel)]="new_player"
                        (ngModelChange)="add_licensee(new_player)"></app-input-player>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h6>
                        mise à jour base BCSTO à partir de la base FFB :
                        <button class="btn btn-primary btn-sm" (click)="getMembersfromFFB()">
                            <i class="fa-solid fa-gear"></i>
                        </button>
                    </h6>
                    <pre> {{verbose}} </pre>
                </div>
                <div class="col-md-6 ">
                    <!-- choix filtre -->
                    <form [formGroup]="radioButtonGroup">
                        <p>
                            Afficher :
                            <ng-container *ngFor="let filter of filters ; let i=index">
                                <input type="radio" [value]="filter" [id]="i" formControlName="radioButton" />
                                {{filter}}
                            </ng-container>
                        </p>
                    </form>
                </div>


            </div>

            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <!-- <th>Civilité</th> -->
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>téléphone</th>
                            <th>mail</th>
                            <!-- <th>compte site</th> -->
                            <th>Ville</th>
                            <th>No licence</th>
                            <th><i class="fa-solid fa-user-astronaut"></i></th>
                            <th class="text-center">License</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let member of filteredMembers; let i = index">
                            <td>{{i+1}}</td>
                            <!-- <td>{{member.gender}}</td> -->
                            <td>{{member.lastname | uppercase}}</td>
                            <td>{{member.firstname}}</td>
                            <td>{{member.phone_one | phone}}</td>
                            <td>{{member.email}}</td>
                            <!-- <td>{{member.has_account}}</td> -->
                            <!-- <td>{{member.birthdate | date: 'dd/MM/yyyy'}}</td> -->
                            <td>{{member.license_number}}</td>
                            <td>{{member.city | capitalize_first}}</td>
                            <td *ngIf="member.is_sympathisant"> <i class="fa-solid fa-user-astronaut"></i> </td>
                            <td *ngIf="!member.is_sympathisant"> </td>
                            <td class="text-center">{{member.season}}</td>
                            <td class="action text-center">
                                <!-- <i class="fa-regular fa-trash-can" (click)="deleteMember(member)"></i> -->
                                <!-- <i class="bi bi-person-fill-add" (click)="createMember(member)"></i> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>