<div class="container-md">
    <!-- bandeau tournoi (date, mode rr) -->
    <div class="row bg-light mt-2 mb-3 p-3 justify-content-around align-content-center">
        <div class="col-4">
            <div class=" input-group input-group-sm">
                tournoi du :&nbsp;
                <select class="form-select form-select-sm" [(ngModel)]="game.tournament"
                    (ngModelChange)="tournament_selected($event)">
                    <option *ngFor="let trn of next_tournaments | async" [ngValue]="trn">
                        {{ trn.date | date:'dd/MM/yyyy' }} &nbsp; {{ trn.time }}</option>
                </select>
            </div>
        </div>
        <div class="col-8">
            <div *ngIf="game.tournament " class="row justify-content-between text-muted">
                <div class="col-auto">
                    {{game.tournament.tournament_name}}
                </div>
                <div class="col-auto">
                    <span class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" [checked]="game.fees_doubled" role="switch"
                            [checked]="game.fees_doubled" (change)="toggle_fee()">
                        <label class="form-check-label">droit doublé</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- bandeau présentation et validation -->

    <div *ngIf="game" class="row bg-light mb-3 p-3 justify-content-around align-items-center">

        <span class="col form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" [checked]="game.alphabetic_sort"
                (change)="toggle_sort()">
            <label class="form-check-label">tri alphabétique</label>
        </span>

        <button class="col btn btn-sm btn-primary me-2" (click)="check_all_members()">
            <i class="fa-solid fa-check"></i> valider tous les adhérents</button>
        <button class="col btn btn-sm btn-primary me-2" (click)="save_fees()">enregistrer le tournoi</button>
    </div>

    <div *ngIf="game" class="row">
        <!-- <div class="col-12"> -->
        <div class="row row-cols-1 row-cols-md-4 g-1">
            <div class="col" *ngFor="let gamer of game.gamers">
                <ng-container
                    *ngTemplateOutlet="fee_editor; context:{gamer: gamer, doubled: (game.fees_doubled)}"></ng-container>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>

<ng-template #fee_editor ; let-gamer="gamer" ; let-doubled="doubled">
    <div [class]="gamer.is_member ? 'card h-100': 'card h-100 text-bg-warning'">
        <!-- <div [class]="'card h-100'+ gamer.is_member? 'border-primary':'border-secondary'"> -->
        <div class="card-body py-0 px-1">
            <div class="row">
                <div class="col-6">
                    <h6 class="p-0 mb-0">{{gamer.lastname}} </h6>
                    <span class="text-muted">{{gamer.firstname}} </span>
                    <!-- <div class="text-muted" *ngIf="gamer.is_member"> crédit : {{gamer.credit}}</div>
                    <div class="text-muted" *ngIf="!gamer.is_member"> droit de table : 4€</div> -->
                </div>

                <div class="col-4 align-content-center">
                    <div *ngIf="gamer.is_member" class="form-check form-check-reverse">
                        <!-- [ngClass]="((gamer.games_credit <= 2)) ? 'form-check warning-radio' : 'form-check'"> -->
                        <input class="form-check-input" type="radio" [name]="'card_or_euro' + gamer.index"
                            [id]="'pass-radio'+ gamer.index" [value]="false" [(ngModel)]="gamer.in_euro" />
                        <label class="form-check-label" [ngStyle]="{'color': (gamer.game_credits<=2) ? 'red' : 'black'}"
                            [for]="'pass-radio'+ gamer.index">
                            {{gamer.game_credits}}
                            <i class="bi-pass"></i>
                            <i *ngIf="doubled" class="bi-pass"></i>


                            <!-- <i [class]="doubled?'bi-pass-fill': 'bi-pass'"></i> -->
                        </label>
                    </div>

                    <div class="form-check form-check-reverse">
                        <input class="form-check-input" type="radio" [name]="'card_or_euro' + gamer.index"
                            [id]="'euro_radio'+ gamer.index" [value]="true" [(ngModel)]="gamer.in_euro" />
                        <label class="form-check-label" [for]="'euro_radio'+ gamer.index"> {{gamer.price}}€ </label>
                    </div>
                </div>
                <div class="col-2 align-content-center justify-content-end">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="gamer.validated"
                        [id]="'valid' + gamer.index">
                </div>
            </div>
        </div>
    </div>
</ng-template>