<div class="card mt-2">
    <div class="card-header">
        <h5>compte produits</h5>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="col">Date </th>
                    <th class="col">libellé </th>
                    <th class="col"> bénéficiaire</th>

                    <th class="col text-center" *ngFor="let account of products_accounts ">{{account}}
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let revenue of revenues">
                    <td> {{revenue.date | date: 'dd/MM/yyyy'}} </td>
                    <td>{{revenue.label}}</td>
                    <td>{{revenue.member}}</td>

                    <td *ngFor="let account of products_accounts " class="text-center">
                        {{revenue.values[account]}}
                    </td>
                    <td>
                        <i class="bi bi-search" (click)="show_book_entry(revenue.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




<div class="card mt-2">
    <div class="card-header">
        <h5>compte de charges</h5>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="col">Date </th>
                    <th class="col">libellé </th>
                    <th class="col"> bénéficiaire</th>
                    <th class="col text-center" *ngFor="let account of expenses_accounts ">{{account}}
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let expense of expenses">
                    <td>
                        {{expense.date | date: 'dd/MM/yyyy'}}
                    </td>
                    <td>{{expense.label}}</td>
                    <td>{{expense.member}}</td>
                    <td *ngFor="let account of expenses_accounts " class="text-center">
                        {{expense.values[account]}}
                    </td>
                    <td>
                        <i class="bi bi-search" (click)="show_book_entry(expense.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Compte bancaire -->

<div class="card mt-2">
    <!-- <div class="card"> -->
    <div class="card-header">
        <h5>compte bancaire</h5>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="col">Date </th>
                    <th class="col">opération </th>
                    <!-- <th class="col">libellé</th> -->
                    <th class="col text-center" *ngFor="let op of bank_ops ">{{op}} </th>
                    <th class="col">n° chèque </th>
                    <th class="col">relevé </th>
                    <th class="col">bordereau </th>
                    <th class="col"> </th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let book_entry of bank_book_entries">
                    <td>{{book_entry.date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{transaction_label (book_entry.bank_op_type)}}</td>
                    <td *ngFor=" let op of bank_ops " class="text-center">
                        {{book_entry.amounts[op] }}
                    </td>
                    <td>{{book_entry.cheque_ref}}</td>
                    <td>{{book_entry.bank_report}}</td>
                    <td>{{book_entry.deposit_ref}}</td>
                    <td>
                        <i class="bi bi-search" (click)="show_book_entry(book_entry.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- </div> -->
</div>


<!-- Caisse -->

<div class="card mt-2">
    <div class="card-header">
        <h5>caisse : historique</h5>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="col">Date </th>
                    <th class="col">libellé </th>
                    <th class="col">adhérent </th>
                    <th class="col text-center" *ngFor="let op of cashbox_ops ">{{op}} </th>
                    <th class="col">chèque </th>
                    <th class="col">bordereau </th>
                    <th class="col"> </th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let book_entry of cashbox_book_entries">
                    <td>{{book_entry.date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{book_entry.class}}</td>
                    <td>{{(book_entry.operations.length !== 0) ? book_entry.operations[0].member : ''}}</td>
                    <td *ngFor=" let op of cashbox_ops " class="text-center">
                        {{ book_entry.amounts[op] }}
                    </td>
                    <td>{{book_entry.cheque_ref}}</td>
                    <td> {{book_entry.deposit_ref}} </td>
                    <td>
                        <i class="bi bi-search" (click)="show_book_entry(book_entry.id)"></i>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- autres comptes -->
<div class="row mt-2">
    <div class="col-md-4">
        <div
            *ngTemplateOutlet="other_report ; context: {title:'avoir adhérents', balance:current_assets_amount, ops:asset_ops, book_entries: asset_book_entries}">
        </div>
    </div>
    <div class="col-md-4">
        <div
            *ngTemplateOutlet="other_report ; context: {title:'dettes adhérents', balance:current_debt_amount, ops:debt_ops, book_entries: debt_book_entries}">
        </div>
    </div>
</div>


<ng-template #other_report let-title="title" let-balance="balance" let-ops="ops" let-book_entries="book_entries">
    <div class="card">
        <div class="card-header">
            <h5>{{title}} : {{balance}} €</h5>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="col"># </th>
                        <th class="col">adhérent </th>
                        <th class="col text-center" *ngFor="let op of ops ">{{op}} </th>
                        <th class="col">chèque </th>
                        <th class="col"> </th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let book_entry of book_entries">
                        <td>
                            <i class="bi bi-trash3" (click)="delete_book_entry(book_entry)"></i>
                        </td>
                        <td>{{book_entry.operations[0]?.member}}</td>
                        <td *ngFor=" let op of ops " class="text-center">
                            {{ book_entry.amounts[op] }}
                        </td>
                        <td>{{book_entry.cheque_ref}}</td>
                        <td>
                            <i class="bi bi-search" (click)="show_book_entry(book_entry.id)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>