<!-- <div class="card mt-2">
  <div class="card-body bg-body-secondary">
    <div class="row  justify-content-around">
      <div class="col-auto form-check form-check-inline" *ngFor="let report of reports | keyvalue">
        <input class="form-check_input" type="radio" (ngModelChange)="go_report($event)" [(ngModel)]="selected_report"
          [value]="report.value">
        <label class="form-check-label">{{report.value}}</label>
      </div>
    </div>
  </div>
</div> -->

<div class="card-group mt-2">
  <div *ngFor="let report of reports_values" class="card ">
    <div class="card-header text-center">
      <div class="d-inline-block justify-content-around align-items-center">
        <span>{{report}} </span>
        <span class="ps-2">
          <i (click)="go_report(null)" *ngIf="selected_report === report" class="bi bi-check-circle-fill"></i>
          <i (click)="go_report(report)" *ngIf="selected_report !== report" class="bi bi-circle"></i>
        </span>
      </div>
    </div>
    <div class="card-body text-center">
      <ng-template [ngTemplateOutlet]="report_summary" [ngTemplateOutletContext]="{report: report}"></ng-template>
    </div>
  </div>
</div>

<ng-template #report_summary let-report="report">
  <div class="row justify-content-center align-items-center">
    <div class="col-auto" [ngSwitch]="report">
      <ng-container *ngSwitchCase="reports.PRODUITS">
        {{ current_products_operations_amount | number:truncature:'fr' }} €
      </ng-container>
      <ng-container *ngSwitchCase="reports.CHARGES">
        {{ current_expenses_operations_amount | number:truncature:'fr' }} €
      </ng-container>
      <ng-container *ngSwitchCase="reports.BANQUE">
        {{ initial_liquidities.bank + current_bank_movements | number:truncature:'fr' }} €
      </ng-container>
      <ng-container *ngSwitchCase="reports.EPARGNE">
        {{ initial_liquidities.savings + current_savings_movements | number:truncature:'fr' }} €
      </ng-container>
      <ng-container *ngSwitchCase="reports.CAISSE_CASH">
        {{ initial_liquidities.cash + cashbox_status.cash.mouvements | number:truncature:'fr' }} €
      </ng-container>
      <ng-container *ngSwitchCase="reports.CAISSE_CHEQUES">
        {{ cashbox_status.cheques.amount | number:truncature:'fr' }} €
        <!-- <i class="h4 bi-card-heading " *ngIf="cashbox_status.cheques.nbr > 0"></i> -->
       <i class="h6 bi-exclamation-triangle-fill text-danger" *ngIf="cashbox_status.cheques.anomaly"></i>
      </ng-container>
      <ng-container *ngSwitchCase="reports.DETTES_ET_AVOIRS">
        {{ current_debt_amount }} €
      </ng-container>
      <ng-container *ngSwitchCase ="reports.AVOIRS_ADHERENTS">
        {{ vouchers_amount }} €
      </ng-container>
    </div>
  </div>
</ng-template>

<!-- compte produits -->

<div *ngIf="selected_report === reports.PRODUITS" class="card mt-2">
  <div class="card-header">
    <h5>compte produits</h5>
  </div>
  <div class="card-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="col">Date </th>
          <th class="col">libellé </th>
          <th class="col"> bénéficiaire</th>

          <th class="col text-center" *ngFor="let account of products_accounts ">{{account}}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let revenue of revenues">
          <td> {{revenue.date | date: 'dd/MM/yyyy'}} </td>
          <td>{{revenue.label}}</td>
          <td>{{revenue.member}}</td>

          <td *ngFor="let account of products_accounts " class="text-center">
            {{revenue.values[account]}}
          </td>
          <td>
            <i class="bi bi-search" (click)="show_book_entry(revenue.book_entry_id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Compte de charges -->

<div *ngIf="selected_report === reports.CHARGES" class="card mt-2">
  <div class="card-header">
    <div class="row align-items-center">
      <h5 class="col-auto"> compte de charges </h5>
      <h6 class="col-auto">(total dépenses : {{current_expenses_operations_amount |number:truncature:'fr' }}€) </h6>
    </div>

  </div>
  <div class="card-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="col">Date </th>
          <th class="col">libellé </th>
          <!-- <th class="col"> bénéficiaire</th> -->
          <th class="col text-center" *ngFor="let account of expenses_accounts ">{{account}}
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let expense of expenses">
          <td>
            {{expense.date | date: 'dd/MM/yyyy'}}
          </td>
          <td>{{expense.label}}</td>
          <!-- <td>{{expense.member}}</td> -->
          <td *ngFor="let account of expenses_accounts " class="text-center">
            {{expense.values[account]}}
          </td>
          <td>
            <i class="bi bi-search" (click)="show_book_entry(expense.book_entry_id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Compte bancaire -->

<div *ngIf="selected_report === reports.BANQUE" class="card mt-2">
  <!-- <div class="card"> -->
  <div class="card-header">
    <div class="row align-items-center">
      <h5 class="col-auto"> solde courant de la banque : {{initial_liquidities.bank +current_bank_movements |
        number:truncature:'fr'}}€</h5>
      <h6 class="col-auto">(total mouvements : {{current_bank_movements}}€) </h6>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="col">Date </th>
          <th class="col">opération </th>
          <th class="col">tag</th>
          <th class="col text-center" *ngFor="let account of bank_accounts ">{{account}} </th>
          <th class="col">n° chèque </th>
          <th class="col">relevé </th>
          <th class="col">bordereau </th>
          <th class="col"> </th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let book_entry of bank_book_entries">
          <td>{{book_entry.date | date: 'dd/MM/yyyy'}}</td>
          <td>{{transaction_label (book_entry.transaction_id)}}</td>
          <td>{{book_entry.tag}}</td>
          <td *ngFor=" let account of bank_accounts " class="text-center">
            {{book_entry.amounts[account] }}
          </td>
          <td>{{book_entry.cheque_ref}}</td>
          <td>{{book_entry.bank_report}}</td>
          <td>{{book_entry.deposit_ref}}</td>
          <td>
            <i class="bi bi-search" (click)="show_book_entry(book_entry.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- </div> -->
</div>




<!-- épargne -->
<div *ngIf="selected_report === reports.EPARGNE" class="card mt-2">
  <div class="card-header">
    <div class="row align-items-center">
      <h5 class="col-auto"> solde courant du compte épargne : {{initial_liquidities.savings +current_savings_movements |
        number:truncature:'fr'}}€</h5>
      <h6 class="col-auto">(total mouvements : {{current_savings_movements}}€) </h6>

    </div>
  </div>

  <div class="card-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="col-1">Date </th>
          <th class="col-3">opération </th>
          <th class="col-1 text-start">tag</th>
          <th class="col-2 text-end" *ngFor="let account of savings_accounts ">{{account}} </th>
          <th class="col-1"> </th>
          <th class="col-1">relevé </th>
          <th class="col-1"> </th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let book_entry of savings_book_entries">
          <td>{{book_entry.date | date: 'dd/MM/yyyy'}}</td>
          <td>{{transaction_label (book_entry.transaction_id)}}</td>
          <td>{{book_entry.tag}}</td>
          <td *ngFor=" let account of savings_accounts " class="text-end">
            {{book_entry.amounts[account] | number:truncature:'fr'}}
          </td>
          <td>&nbsp;</td>
          <td>{{book_entry.bank_report}}</td>
          <td>
            <i class="bi bi-search" (click)="show_book_entry(book_entry.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Caisse_chèques  -->

<div class="card mt-2 " *ngIf="selected_report === reports.CAISSE_CHEQUES ">

  <div class="ps-2 row fw-bolder">
    <div class="col-2 ps-4">Date</div>
    <div class="col-2 text-end">Montant</div>
    <div class="col-2"></div>
    <div class="col-3">chèque</div>
    <div class="col-3">info</div>
  </div>

  <div ngbAccordion>
    <ng-container *ngFor="let deposit of cheques_deposits ">

      <div ngbAccordionItem [collapsed]="deposit.complete && deposit.balanced">
        <div ngbAccordionHeader>
          <button ngbAccordionButton
            [class]="deposit.complete ? (deposit.balanced ?'bg-light':'bg-danger') :'bg-warning'">
            <div class="ps-1 row w-100 justify-content-between align-items-center">
              <div class="col-2">
                {{(deposit.out_date !== undefined) ? ( deposit.out_date | date: 'dd/MM/yyyy') : 'non déposé'}}
              </div>
              <div class="col-2 text-end ">
                {{deposit.amount | number:truncature:'fr'}}
              </div>
              <div class="offset-2 col-3">
                {{deposit.cheques_nbr}} chèque(s)
              </div>
              <div class=" col-3 ">
                {{deposit.ref}}
              </div>
              <!-- <div class="col-2">
                  {{deposit.value.valid ? 'validé' : 'non validé'}}
                </div> -->
            </div>

          </button>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-container *ngTemplateOutlet="cheques_by_deposit ; context: {entries: deposit.entries}"></ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>


</div>

<!-- Caisse_espèces  -->
<div class="card mt-2 " *ngIf="selected_report === reports.CAISSE_CASH ">

  <!-- <app-cash-graph [serie]="cash_acc()"></app-cash-graph> -->

  {{ cashbox_cash.length }} écritures de caisse (espèces) <br>
  <table class="table table-sm">
    <thead>
      <tr class="text-center">
        <th scope="col" class="text-start">Date </th>
        <th scope="col" class="text-start">transaction </th>
        <th scope="col" class="pe-5 text-end"> Montant </th>
        <th scope="col " class="pe-5 text-end">cumul</th>
        <th scope="col"># </th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let book_entry of cashbox_cash ; let i = index">

        <td>{{book_entry.date | date: 'dd/MM/yyyy'}}</td>
        <td class="text-start"> {{book_entry.transaction_id}}
        <td>
          <div class="pe-5 text-end">
            {{ ((book_entry.amounts['cashbox_in']??0) - (book_entry.amounts['cashbox_out']??0)) |
            number:truncature:'fr'}}
          </div>

        </td>

        <td class="text-end pe-5"> {{cash_cumulated[i].value | number:truncature : 'fr'}}</td>
        <td class="text-center">
          <i class="bi bi-search" (click)="show_book_entry(book_entry.id)"></i>
        </td>

      </tr>
    </tbody>
  </table>
</div>





<!-- dettes et avoirs -->
<div *ngIf="selected_report === reports.DETTES_ET_AVOIRS" class="row mt-2 justify-content-center">
  <div class="col-md-5">
    <div
      *ngTemplateOutlet="dettes_et_avoirs ; context: {title:'avoir adhérents', balance:current_assets_amount, map: assets_entries}">
    </div>
  </div>
  <div class="col-md-5">
    <div
      *ngTemplateOutlet="other_report ; context: {title:'dettes adhérents', balance:current_debt_amount,  map: debts}">
    </div>
  </div>
</div>


<ng-template #cheques_by_deposit let-entries="entries">
  <table class="table table-sm">
    <tbody>
      <tr *ngFor="let entry of entries ">

        <td class="col-2">{{entry.date | date: 'dd/MM/yyyy'}}</td>
        <td class="col-2 text-end">
          <div class="pe-3">
            {{ ((entry.amounts['cashbox_in']??0) - (entry.amounts['cashbox_out']??0)) | number:truncature:'fr'}}
          </div>
        </td>
        <td class="col-2"></td>

        <td class="col-3">{{entry.cheque_ref}}</td>
        <td class="col-2">{{entry.operations[0]?.member?? entry.deposit_ref}}</td>
        <!-- // <td class="col-2"> {{entry.deposit_ref}} </td> -->
        <td class="col-1 text-end">
          <i class="bi bi-search" (click)="show_book_entry(entry.id)"></i>
          <!-- Caisse_chèques -->
        </td>

      </tr>
    </tbody>
  </table>
</ng-template>


<ng-template #other_report let-title="title" let-balance="balance" let-map="map">
  <div class="card">
    <div class="card-header">
      <h5>{{title}} : {{balance}} €</h5>
    </div>
    <div class="card-body">
      <table class="table table-sm">
        <thead>
          <tr>
            <th class="col">adhérent </th>
            <th class="col text-center"> montant </th>
            <th class="col"> </th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let entry of map | keyvalue">
            <td>{{entry.key}}</td>
            <td class="text-center">
              {{ entry.value }}
            </td>
            <td>

              <!-- <i class="bi bi-search" (click)="show_map_entry(entry)"></i> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #dettes_et_avoirs let-title="title" let-balance="balance" let-map="map">
  <div class="card">
    <div class="card-header">
      <div class="row justify-content-between align-items-center">
        <h5 class="col">{{title}} : {{balance}} €</h5>
        <div class="col-auto form-check form-switch ">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="show_all_assets"
            (change)="show_all_assets = !show_all_assets">
          <label class="form-check-label" for="flexSwitchCheckChecked">tout mouvement</label>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-sm">
        <thead>
          <tr>
            <th class="col">adhérent </th>
            <th class="col text-center"> montant </th>
            <th class="col"> </th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let entry of map | keyvalue">

            <tr *ngIf="show_all_assets || $any(entry.value).total !== 0">
              <td>{{entry.key}}</td>
              <td class="text-center">
                {{ $any(entry.value).total}}
              </td>
              <td>
                <select #choice (change)="show(choice.value)" class="form-select form-select-sm">
                  <option hidden></option>
                  <option *ngFor="let book of $any(entry.value).entries ; let i = index">
                    {{book.date}} : {{book.id}}</option>
                </select>
                <!-- <i class="bi bi-search" (click)="show_map_entry(entry)"></i> -->
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>