<div class="summary-columns">
    <div class="summary-column">
        <span class="summary-line">
            <span>Valeur achats</span>
            <strong>{{totalSpent | currency:'EUR':'symbol':'1.2-2'}}</strong>
        </span>
        @if (totalDebtRepaid > 0) {
        <span class="summary-line">
            <span>Créance remboursée</span>
            <strong>{{totalDebtRepaid | currency:'EUR':'symbol':'1.2-2'}}</strong>
        </span>
        }
        @if (totalAssetsGranted > 0) {
        <span class="summary-line">
            <span>Avoir attribué</span>
            <strong>{{totalAssetsGranted | currency:'EUR':'symbol':'1.2-2'}}</strong>
        </span>
        }
    </div>
    <div class="summary-column">
        <span class="summary-line">
            <span>Réglé</span>
            <strong>{{totalDisbursed | currency:'EUR':'symbol':'1.2-2'}}</strong>
        </span>
    @if (totalAssetsUsed > 0) {
        <span class="summary-line">
            <span>Avoir utilisé</span>
            <strong>{{totalAssetsUsed | currency:'EUR':'symbol':'1.2-2'}}</strong>
        </span>
    }
    @if (totalDebtCreated > 0) {
        <span class="summary-line">
            <span>Achat à crédit</span>
            <strong>{{totalDebtCreated | currency:'EUR':'symbol':'1.2-2'}}</strong>
        </span>
    }
    </div>
</div>