<div class="container-md">
    <!-- session header -->
    <div *ngIf="session" class="row bg-light mt-2 mb-3 p-3 justify-content-around align-items-center">
        <div class="col-3">
            <div class=" input-group input-group-sm">
                <span class="input-group-text">date de vente</span>
                <input type="date" class="form-control" (ngModelChange)="date_change($event)"
                    [(ngModel)]="session.date">
            </div>
        </div>
    </div>

    <!-- sale editor -->
    <div class="row ">
        <!-- keypad -->
        <div class="col-3 mt-2">
            <app-keypad [asset]="asset_amount" (product_click)="product_selected($event)"
                (paymode_click)="paymode_selected($event)">
            </app-keypad>
        </div>
        <!-- cart -->
        <div class="col-5 mt-2  fst-italic fst-light fs-6 font-monospace ">
            <!-- buyer -->
            <div class="row mb-2 p-2">
                <div [formGroup]="buyerForm" class="row align-items-center ">
                    <div class="col-auto"><strong> Acheteur</strong> </div>
                    <div class="col-6">
                        <app-input-member class="form-control form-control-sm" [members]="members"
                            formControlName="buyer"></app-input-member>
                    </div>
                </div>
            </div>


            <!-- cart  -->
            <div class="row mb-2 p-2">
                <app-cart [debt_amount]="debt_amount" (complete)="cart_confirmed()"></app-cart>
            </div>
        </div>

        <!--  sales_of_the_day -->
        <div class="col-md-4 mt-24 fst-italic fst-light fs-6 font-monospace bg-body-tertiary">
            <strong>encaissements du jour : </strong>
            <table class="mt-2 table table-striped  table-borderless table-primary align-middle">
                <tr *ngFor="let sale of sales_of_the_day()">
                    <td>
                        {{sale.label}} :
                        <ng-container *ngFor="let amount of sale.amounts | keyvalue">
                            {{amount.key}}
                        </ng-container>
                    </td>
                    <td class="text-end">{{sale_amount(sale) | currency:'€':'symbol':'2.2-2':'fr'}}</td>
                </tr>
            </table>
        </div>
    </div>