<div class="container-md">
  <!-- session header -->
  <div class="row bg-light mt-2 mb-3 p-3 justify-content-around align-items-center">
    <div class="col-3">
      <div class=" input-group input-group-sm">
        <span class="input-group-text">date de vente</span>
        <input type="date" class="form-control" (ngModelChange)="date_change($event)" [(ngModel)]="session.date">
      </div>
    </div>
  </div>

  <!-- sale editor -->

  <div class="card">
    <div class="card-body">

      <div class="row justify-content-evenly">

        <!-- colonne keypad -->
        <div class="col-3 mt-2 p-3">
          <!-- <div class="row"> -->
          <!-- product keypad -->
          <!-- <div class="col-8 "> -->
          <div class="row" *ngFor="let products of products_array | keyvalue ">
            <div class="card-group">
              <div *ngFor="let product of products.value"
                class=" card text-white bg-primary nice_shadow  bigger-on-hover" (click)="on_product_click(product)">
                <div class="card-body text-center px-0 py-1">
                  <strong>{{product.glyph}}</strong>
                  <p>
                    <small>{{product.price.toFixed(2)}} €</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- colonne cart & vente du jour -->
        <div class="col-9  fs-6 font-monospace  ">
          <div class="container h-100 d-flex flex-column">
            <div class="">
              <!-- buyer -->
              <div class="col-4 ">
                <div [formGroup]="buyerForm" class="align-items-center ">
                  <div class="col-4 input-group input-group-sm">
                    <span class="input-group-text"> Adhérent </span>
                    <app-input-member class="form-control form-control-sm" [members]="members"
                      formControlName="buyer"></app-input-member>
                    <span class="input-group-text">
                      <i class="bi bi-x-circle" (click)="clear_sale()"></i>
                    </span>
                  </div>
                </div>
              </div>
              <!-- cart  -->
              <div class=" col-12 mt-2">
                <app-cart (complete)="cart_confirmed()"></app-cart>
              </div>
            </div>

            <!--  sales_of_the_day -->
            <div class="row mt-auto p-3">
              <div class="card">
                <strong>encaissements du jour : </strong>
                <table class="table table-striped  table-borderless table-primary align-middle">
                  <tr *ngFor="let sale of sales_of_the_day , let i = index">
                    <td>
                      {{sale.member}} :
                      <ng-container *ngFor="let value of sale.values | keyvalue">
                        {{value.key}} [{{value.value}}]
                      </ng-container>
                      <!-- <ng-container *ngIf="debt_paied(sale)>0">
                                                +dette [{{debt_paied(sale)}}]
                                            </ng-container> -->
                      <!-- <ng-container *ngIf="asset_used(sale)>0">
                                                -avoir [{{asset_used(sale)}}]
                                            </ng-container> -->
                    </td>
                    <td *ngIf="standalone_sale(i)">
                      {{payment_type(sale)}}
                    </td>
                    <td *ngIf="standalone_sale(i)" class="text-end">
                      {{sale_amount(sale) | currency:'€':'symbol':'2.2-2':'fr'}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
