<div class="text-muted mb-4" *ngIf="path">{{path}}</div>
<div *ngIf="page" class="container">
    <ng-container [ngSwitch]="page.template">

        <!-- x4 : card en col-3 -->
        <ng-container *ngSwitchCase="pageTemplateEnum.par4">
            <div class="row">

                <div class="col-md-3" *ngFor="let article of page.articles">
                    <app-render-article [rendering]="renderingMode.Full" *ngIf="article"
                        [article]="article"></app-render-article>
                </div>
            </div>
        </ng-container>

        <!-- page en mode sidebar -->
        <ng-container *ngSwitchCase="pageTemplateEnum.sidebar">
            <div class="row">
                <div class="col-2">
                    <div *ngFor="let article of page.articles">
                        <app-render-article (click)="default_article=article" *ngIf="article.id !== default_article.id"
                            [rendering]="renderingMode.Image_and_title" [article]="article"></app-render-article>
                    </div>
                </div>
                <div class="col-10">
                    <app-render-article [rendering]="renderingMode.Full"
                        [article]="default_article"></app-render-article>
                </div>
            </div>
        </ng-container>

        <!-- page en mode album -->
        <ng-container *ngSwitchCase="pageTemplateEnum.album">
            <div class="row row-cols-2 row-cols-md-4 g-2">
                <div class="col" *ngFor="let article of page.articles">

                    <app-render-article [rendering]="renderingMode.Full" *ngIf="article"
                        [article]="article"></app-render-article>
                </div>
            </div>
        </ng-container>

        <!-- page en mode par defaut -->
        <ng-container *ngSwitchCase="pageTemplateEnum.default">
            <div class="row">
                <div class="col-md-9 offset-1" *ngFor="let article of page.articles">
                    <app-render-article [rendering]="renderingMode.Full" *ngIf="article"
                        [article]="article"></app-render-article>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>