<div class="modal-header">
    <p class="modal-title">{{tournament.tournament_name}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="newTeamGroup">
        <div class="row">
            <div class="col-auto">
                <app-input-player listeId="player1" type="text" class="form-control " formControlName="player1"
                    required>
                </app-input-player>
                <span *ngIf="player1?.touched && player1?.hasError('required')">
                    <small class="text-warning"> veuillez définir le joueur1</small>
                </span>
            </div>
            <div class="col-auto">
                <app-input-player listeId="player2" type="text" class="form-control" formControlName="player2"
                    placeholder="mon partenaire"></app-input-player>
                <span *ngIf="player2?.touched && player2?.hasError('required')">
                    <small class="text-warning"> veuillez définir le joueur2</small>
                </span>

            </div>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" (click)="cancel()">Close</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="confirm()">Confirmer</button>
</div>