<form *ngIf="tournament" [formGroup]="newTeamGroup">
    <div class="card-body">
        <table class="table table-borderless table-sm">
            <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th class="col-6">Joueur 1</th>
                    <th class="col-6">Joueur 2</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of teams,let i=index">
                    <td *ngFor="let player of team.players">
                        <!-- <span *ngIf="player.person.gender==1;else madame"> M. </span>
                        <ng-template #madame> Mme </ng-template> -->
                        {{player.person.firstname}}
                        {{player.person.lastname | uppercase}}
                        <small>
                        </small>
                    </td>
                    <td *ngIf="team.is_isolated_player" class="text-start align-content-center">
                        <button class="btn btn-sm btn-primary" (click)="addTeam(team.players[0])">completer
                            l'équipe</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="addTeam(null)">Inscription</button>

    </div>

</form>