<div class="container">



    <ul class="list-group list-group-horizontal" cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="onDropMenu($event)">

        <li class="list-group-item" cdkDrag *ngFor="let menu of menus">
            {{menu.label}}
            <div *cdkDragPreview>
                <i class="fa fa-bars"></i>
            </div>
            <ul cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="onDropPage(menu,$event)">
                <li cdkDrag *ngFor="let page of menu.pages"> {{page.link}}
                    <div *cdkDragPreview>
                        <i class="bi bi-1-square"></i>
                    </div>
                </li>
            </ul>
        </li>
    </ul>






</div>

<app-menus></app-menus>
<app-pages></app-pages>