<div class="container">

    <h5> Disposition des menus</h5>
    <small class="" text-muted>
        Ordre des menus et page/sous-menu par drag&drop ; Double-clic pour éditer une page/sous-menu
    </small>


    <ul class="list-group list-group-horizontal " cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="onDropMenu($event)">

        <li class="list-group-item m-1 w-75 bg-primary text-light border-1 border-secondary" cdkDrag
            *ngFor="let menu of menus">
            <div class="row">
                <div class="col fw-bold">
                    {{menu.label}}
                </div>
                <div class="col text-end">
                    <i (click)="onDeleteMenu(menu)" class="bi bi-trash3"></i>
                </div>
            </div>

            <div *cdkDragPreview> <i class="fa fa-bars"></i> </div>
            <ul cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="onDropPage(menu,$event)">
                <li cdkDrag *ngFor="let page of menu.pages" (dblclick)="onSelectPage(page)"> {{page.link}}
                    <div *cdkDragPreview>
                        <i class="bi bi-1-square"></i>
                    </div>
                </li>
            </ul>
            <ul>
                <li> <i (click)="onAddPage(menu)" (keypress.enter)="onAddPage(menu)" class="bi bi-plus-circle"></i>
                </li>
            </ul>

        <li class="list-group-item m-1 w-75 bg-secondary text-dark border-1 border-secondary">
            <!-- Ajout d'un menu -->
            <div class="input-group input-group-sm mb-3">
                <input type="text" [(ngModel)]="new_menu_label" class="form-control" placeholder="autre menu"
                    aria-label="autre menu" aria-describedby="button-addon2">
                <button (click)="onCreateMenu()" class="btn btn-primary" type="button" [disabled]="new_menu_label===''">
                    <i class="bi bi-plus-circle"></i>
                </button>
            </div>
            <!-- <input type="text" class="form-control" [(ngModel)]="newMenu" (keyup.enter)="onAddMenu()"> -->
        </li>
    </ul>

    <app-page *ngIf="selectedPage" [page]="selectedPage" (close)="page_event($event)"></app-page>

</div>