<div class="container">

    <h5> Disposition des menus (drag & drop)</h5>

    <ul class="list-group list-group-horizontal " cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="onDropMenu($event)">

        <li class="list-group-item m-1 w-75 bg-primary text-light border-1 border-secondary" cdkDrag
            *ngFor="let menu of menus">
            {{menu.label}}
            <div *cdkDragPreview> <i class="fa fa-bars"></i> </div>
            <ul cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="onDropPage(menu,$event)">
                <li cdkDrag *ngFor="let page of menu.pages" (dblclick)="onClick(page)"> {{page.link}}
                    <div *cdkDragPreview>
                        <i class="bi bi-1-square"></i>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="mt-3">

        <h5> Paramètres détaillés</h5>
    </div>
    <div class="row">
        <div class="col-md-6">

            <app-menus></app-menus>
        </div>
        <div class="col-md-6">

            <app-pages></app-pages>
        </div>
    </div>
</div>