.stripes {
  background: repeating-linear-gradient(
    135deg,
    #f8f9fa,
    #f8f9fa 10px,
    #10c06e 10px,
    #02c76b 20px
  );
  color: #0c0101;
  border: 1px solid #ced4da;
}
.warning-radio .form-check-input {
    background-color: coral;
    border-color: coral;
}

.bottom_div {
    margin-top: auto;
}

#print_zone {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 85vh;
}

.blink {
  animation: blink-animation 3s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}