<div class="offset-md-1 col-md-10 justify-content-center">
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <div *ngFor="let snippet of snippets" class="col">
            <div class="card h-100 nice_shadow">
                <div class="card-header bg-primary text-white">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="card-title col fs-4">{{snippet.title}}</div>
                            <div class="card-title col fs-4 text-end">{{snippet.subtitle}}</div>
                        </div>
                    </div>
                </div>
                <div class="card-text ps-3" [innerHTML]="snippet.content">
                </div>
            </div>
        </div>
    </div>
</div>
<app-enseignants></app-enseignants>