<div class="d-flex align-items-center gap-2">
    <select class="form-control" [(ngModel)]="input" (ngModelChange)="setValue(input)">
        <option value="" disabled>{{ placeholder }}</option>
        <option *ngFor="let sub_node of current_node_childs() | keyvalue" [value]="sub_node.key ">
            {{ sub_node.key  }}
        </option>
    </select>
    <button class="btn btn-outline-secondary btn-sm" (click)="pop_node() ; this.input = ''" type="button">
      <i class="bi bi-arrow-left"></i> Back
    </button>
</div>

